---
import { Code } from 'astro:components';

//Components
import Navigation4 from "../../components/Navigation.astro";
import Tabs from "../../components/Tabs.astro";

//Layouts
import MainLayout from "../../layouts/MainLayout.astro";
import DocsLayout from "../../layouts/DocsLayout.astro";

---

<MainLayout title="Functional Contact Us Page Layouts for Contractors | CodeNHammer" description="Streamline communication with pre-built Contact Us page layouts from CodeNHammer. Perfect for contractors and small business websites.">
    
    <Navigation4></Navigation4>
    <DocsLayout
        header="Contact Us Layouts"
        description="Make it easy for users to reach out with our Contact Us Section. Include forms, contact details, and maps for seamless communication.">

        <Tabs subheading="Contact Us Section 1">

            <!-- Preview Tab Start -->
            <div slot="previewTab" class="w-full p-4">

                <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134705/Contact_Us_1_mhdepu.jpg" alt="Contact Layout 1" />

            </div>
            <!-- Preview Tab End -->

            <!-- Code Tab -->

            <Code slot='codeTab' class="p-4 rounded-md absolute inset-0 h-full" code={`<section>
                        
    <div class="py-8 px-4 mx-auto max-w-screen-md lg:py-16">

        <!-- Header & Description Container -->
        <div class="space-y-2 mb-8 text-center">
            <span class="text-sm font-medium text-neutral-500">Contact Us</span>
            <h2 class="text-4xl font-bold text-neutral-900">Reaching Out is Just a Click Away!</h2>
            <p class="text-neutral-500 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.</p>
        </div>
        
        <div class="p-6 mx-auto bg-white border border-neutral-200 rounded-lg shadow sm:max-w-xl sm:p-8">
            <form 
                x-data="{
                    loading: false,
                    success: false,
                    submitForm(event) {
                        this.loading = true;
                        this.success = false;
                        // Simulate form submission delay
                        setTimeout(() => {
                            this.loading = false;
                            this.success = true;
                        }, 2000);
                    }
                }" 
                @submit.prevent="submitForm"
                name="contact" 
                method="POST"
                data-netlify="true" 
                class="py-6 space-y-4 mx-auto max-w-screen-md">

                <div x-show="!success" class="space-y-4">

                    <div>
                        <label for="name" class="mb-2 text-sm font-medium text-neutral-900">Your Name</label>
                        <input type="name" placeholder="John Doe" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                    </div>
                    <div>
                        <label for="email" class="mb-2 text-sm font-medium text-neutral-900">Email</label>
                        <input type="email" placeholder="name@codenhammer.com" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                    </div>
                    <div>
                        <label for="subject" class="mb-2 text-sm font-medium text-neutral-900">Subject</label>
                        <input type="subject" placeholder="How can we help you?" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                    </div>
                    <div>
                        <label for="message" class="mb-2 text-sm font-medium text-neutral-900">Your message</label>
                        <textarea id="message" placeholder="Your message" rows="6" class="p-2.5 w-full text-sm text-neutral-900 bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required></textarea>
                    </div>

                    <button type="submit" class="cursor-pointer inline-flex items-center justify-center px-4 py-2 text-sm text-center font-medium tracking-wide text-neutral-50 transition-colors duration-200 rounded-md bg-neutral-900 hover:bg-neutral-800">
                        <template x-if="!loading">
                            <span>Send</span>
                        </template>

                        <template x-if="loading">
                            <svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g><circle cx="12" cy="2.5" r="1.5" fill="currentColor" opacity=".14"/><circle cx="16.75" cy="3.77" r="1.5" fill="currentColor" opacity=".29"/><circle cx="20.23" cy="7.25" r="1.5" fill="currentColor" opacity=".43"/><circle cx="21.5" cy="12" r="1.5" fill="currentColor" opacity=".57"/><circle cx="20.23" cy="16.75" r="1.5" fill="currentColor" opacity=".71"/><circle cx="16.75" cy="20.23" r="1.5" fill="currentColor" opacity=".86"/><circle cx="12" cy="21.5" r="1.5" fill="currentColor"/><animateTransform attributeName="transform" calcMode="discrete" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12;360 12 12"/></g></svg>
                        </template>
                    </button>

                </div>

                <div x-show="success" class="text-center" x-transition>
                    <svg class="size-12 mx-auto text-green-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z" fill="currentColor"/></svg>
                    <p class="mt-2 text-lg font-medium text-green-600">Form Successfully Submitted!</p>
                </div>
                
            </form>
        </div>

    </div>
    
</section>`} lang="html" theme="night-owl" />

        </Tabs>

        <Tabs subheading="Contact Us Section 2">

            <!-- Preview Tab Start -->
            <div slot="previewTab" class="w-full p-4">

                <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134705/Contact_Us_2_jnydlk.jpg" alt="Contact Layout 2" />

            </div>
            <!-- Preview Tab End -->

            <!-- Code Tab -->

            <Code slot='codeTab' class="p-4 rounded-md absolute inset-0 h-full" code={`<section> 
    <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6">

        <div class="gap-8 lg:grid lg:grid-cols-2 xl:gap-16">

            <!-- Details Container Start -->
            <div class="text-neutral-500 space-y-8 mb-8 md:mb-0">

                <!-- Tagline & Header Container -->
                <div class="space-y-2">
                    <span class="text-sm font-medium text-neutral-500">Contact Us</span>
                    <h2 class="text-4xl font-bold text-neutral-900">Get In Touch Today</h2>
                    <p class="text-neutral-500 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.</p>
                </div>

                <!-- Description Container -->
                <div class="mt-4 space-y-5 lg:mt-0">
                    
                    <!-- Phone Link -->
                    <a href="#" class="flex gap-2 text-neutral-800 hover:underline">
                        <svg class="size-6"xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M436.9 364.8c-14.7-14.7-50-36.8-67.4-45.1-20.2-9.7-27.6-9.5-41.9.8-11.9 8.6-19.6 16.6-33.3 13.6-13.7-2.9-40.7-23.4-66.9-49.5-26.2-26.2-46.6-53.2-49.5-66.9-2.9-13.8 5.1-21.4 13.6-33.3 10.3-14.3 10.6-21.7.8-41.9C184 125 162 89.8 147.2 75.1c-14.7-14.7-18-11.5-26.1-8.6 0 0-12 4.8-23.9 12.7-14.7 9.8-22.9 18-28.7 30.3-5.7 12.3-12.3 35.2 21.3 95 27.1 48.3 53.7 84.9 93.2 124.3l.1.1.1.1c39.5 39.5 76 66.1 124.3 93.2 59.8 33.6 82.7 27 95 21.3 12.3-5.7 20.5-13.9 30.3-28.7 7.9-11.9 12.7-23.9 12.7-23.9 2.9-8.1 6.2-11.4-8.6-26.1z" fill="currentColor"/></svg>
                        <span class="text-base font-medium">(123) 456-7890</span>
                    </a>

                    <!-- Mail Link -->
                    <a href="#" class="flex gap-2 text-neutral-800 hover:underline">
                        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M460.6 147.3L353 256.9c-.8.8-.8 2 0 2.8l75.3 80.2c5.1 5.1 5.1 13.3 0 18.4-2.5 2.5-5.9 3.8-9.2 3.8s-6.7-1.3-9.2-3.8l-75-79.9c-.8-.8-2.1-.8-2.9 0L313.7 297c-15.3 15.5-35.6 24.1-57.4 24.2-22.1.1-43.1-9.2-58.6-24.9l-17.6-17.9c-.8-.8-2.1-.8-2.9 0l-75 79.9c-2.5 2.5-5.9 3.8-9.2 3.8s-6.7-1.3-9.2-3.8c-5.1-5.1-5.1-13.3 0-18.4l75.3-80.2c.7-.8.7-2 0-2.8L51.4 147.3c-1.3-1.3-3.4-.4-3.4 1.4V368c0 17.6 14.4 32 32 32h352c17.6 0 32-14.4 32-32V148.7c0-1.8-2.2-2.6-3.4-1.4z" fill="currentColor"/><path d="M256 295.1c14.8 0 28.7-5.8 39.1-16.4L452 119c-5.5-4.4-12.3-7-19.8-7H79.9c-7.5 0-14.4 2.6-19.8 7L217 278.7c10.3 10.5 24.2 16.4 39 16.4z" fill="currentColor"/></svg>
                        <span class="text-base font-medium">hello@codenhammer.com</span>
                    </a>

                    <!-- Time Link -->
                    <div class="flex gap-2 text-neutral-800">
                        <svg class="size-6"xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm14 226c0 7.7-6.3 14-14 14h-96c-7.7 0-14-6.3-14-14s6.3-14 14-14h82V128c0-7.7 6.3-14 14-14s14 6.3 14 14v146z" fill="currentColor"/></svg>
                        <span class="text-base font-medium">Mon. - Fri. 9am - 5pm</span>
                    </div>

                </div>
                
            </div>
            <!-- Details Container End -->

            <!-- Contact Form -->
            <div>
                <form 
                    x-data="{
                        loading: false,
                        success: false,
                        submitForm(event) {
                            this.loading = true;
                            this.success = false;
                            // Simulate form submission delay
                            setTimeout(() => {
                                this.loading = false;
                                this.success = true;
                            }, 2000);
                        }
                    }" 
                    @submit.prevent="submitForm"
                    name="contact" 
                    method="POST"
                    data-netlify="true" 
                    class="py-6 space-y-4 mx-auto max-w-screen-md">

                    <div x-show="!success" class="space-y-4">

                        <div>
                            <label for="name" class="mb-2 text-sm font-medium text-neutral-900">Your Name</label>
                            <input type="name" placeholder="John Doe" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                        </div>
                        <div>
                            <label for="email" class="mb-2 text-sm font-medium text-neutral-900">Email</label>
                            <input type="email" placeholder="name@codenhammer.com" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                        </div>
                        <div>
                            <label for="subject" class="mb-2 text-sm font-medium text-neutral-900">Subject</label>
                            <input type="subject" placeholder="How can we help you?" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                        </div>
                        <div>
                            <label for="message" class="mb-2 text-sm font-medium text-neutral-900">Your message</label>
                            <textarea id="message" placeholder="Your message" rows="6" class="p-2.5 w-full text-sm text-neutral-900 bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required></textarea>
                        </div>

                        <button type="submit" class="cursor-pointer inline-flex items-center justify-center px-4 py-2 text-sm text-center font-medium tracking-wide text-neutral-50 transition-colors duration-200 rounded-md bg-neutral-900 hover:bg-neutral-800">
                            <template x-if="!loading">
                                <span>Send</span>
                            </template>

                            <template x-if="loading">
                                <svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g><circle cx="12" cy="2.5" r="1.5" fill="currentColor" opacity=".14"/><circle cx="16.75" cy="3.77" r="1.5" fill="currentColor" opacity=".29"/><circle cx="20.23" cy="7.25" r="1.5" fill="currentColor" opacity=".43"/><circle cx="21.5" cy="12" r="1.5" fill="currentColor" opacity=".57"/><circle cx="20.23" cy="16.75" r="1.5" fill="currentColor" opacity=".71"/><circle cx="16.75" cy="20.23" r="1.5" fill="currentColor" opacity=".86"/><circle cx="12" cy="21.5" r="1.5" fill="currentColor"/><animateTransform attributeName="transform" calcMode="discrete" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12;360 12 12"/></g></svg>
                            </template>
                        </button>

                    </div>

                    <div x-show="success" class="text-center" x-transition>
                        <svg class="size-12 mx-auto text-green-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z" fill="currentColor"/></svg>
                        <p class="mt-2 text-lg font-medium text-green-600">Form Successfully Submitted!</p>
                    </div>
                    
                </form>
            </div>
            

        </div>

    </div>
</section>`} lang="html" theme="night-owl" />

        </Tabs>

        <Tabs subheading="Contact Us Section 3">

            <!-- Preview Tab Start -->
            <div slot="previewTab" class="w-full p-4">

                <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134705/Contact_Us_3_hyxobb.jpg" alt="Contact Layout 3" />

            </div>
            <!-- Preview Tab End -->

            <!-- Code Tab -->

            <Code slot='codeTab' class="p-4 rounded-md absolute inset-0 h-full" code={`<section> 
    <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6">

        <div class="gap-8 lg:grid lg:grid-cols-2 xl:gap-16">

            <!-- Image Container -->
            <div class="mb-8 md:mb-0">

                <!-- Insert Image Here -->
                <img src="image.jpg" class="hidden rounded-md lg:block" alt="Blank image" />

            </div>

            <!-- Contact Form -->
            <div class="space-y-4">

                <!-- Tagline & Header Container -->
                <div class="space-y-2">
                    <span class="text-sm font-medium text-neutral-500">Contact Us</span>
                    <h2 class="text-4xl font-bold text-neutral-900">Get In Touch Today</h2>
                    <p class="text-neutral-500 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.</p>
                </div>

                <!-- Contact Form -->
                <form 
                    x-data="{
                        loading: false,
                        success: false,
                        submitForm(event) {
                            this.loading = true;
                            this.success = false;
                            // Simulate form submission delay
                            setTimeout(() => {
                                this.loading = false;
                                this.success = true;
                            }, 2000);
                        }
                    }" 
                    @submit.prevent="submitForm"
                    name="contact" 
                    method="POST"
                    data-netlify="true" 
                    class="py-6 space-y-4 mx-auto max-w-screen-md">

                    <div x-show="!success" class="space-y-4">

                        <div>
                            <label for="name" class="mb-2 text-sm font-medium text-neutral-900">Your Name</label>
                            <input type="name" placeholder="John Doe" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                        </div>
                        <div>
                            <label for="email" class="mb-2 text-sm font-medium text-neutral-900">Email</label>
                            <input type="email" placeholder="name@codenhammer.com" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                        </div>
                        <div>
                            <label for="subject" class="mb-2 text-sm font-medium text-neutral-900">Subject</label>
                            <input type="subject" placeholder="How can we help you?" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required/>
                        </div>
                        <div>
                            <label for="message" class="mb-2 text-sm font-medium text-neutral-900">Your message</label>
                            <textarea id="message" placeholder="Your message" rows="6" class="p-2.5 w-full text-sm text-neutral-900 bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required></textarea>
                        </div>

                        <button type="submit" class="cursor-pointer inline-flex items-center justify-center px-4 py-2 text-sm text-center font-medium tracking-wide text-neutral-50 transition-colors duration-200 rounded-md bg-neutral-900 hover:bg-neutral-800">
                            <template x-if="!loading">
                                <span>Send</span>
                            </template>

                            <template x-if="loading">
                                <svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g><circle cx="12" cy="2.5" r="1.5" fill="currentColor" opacity=".14"/><circle cx="16.75" cy="3.77" r="1.5" fill="currentColor" opacity=".29"/><circle cx="20.23" cy="7.25" r="1.5" fill="currentColor" opacity=".43"/><circle cx="21.5" cy="12" r="1.5" fill="currentColor" opacity=".57"/><circle cx="20.23" cy="16.75" r="1.5" fill="currentColor" opacity=".71"/><circle cx="16.75" cy="20.23" r="1.5" fill="currentColor" opacity=".86"/><circle cx="12" cy="21.5" r="1.5" fill="currentColor"/><animateTransform attributeName="transform" calcMode="discrete" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12;360 12 12"/></g></svg>
                            </template>
                        </button>

                    </div>

                    <div x-show="success" class="text-center" x-transition>
                        <svg class="size-12 mx-auto text-green-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z" fill="currentColor"/></svg>
                        <p class="mt-2 text-lg font-medium text-green-600">Form Successfully Submitted!</p>
                    </div>
                    
                </form>

            </div>

        </div>

    </div>
</section>`} lang="html" theme="night-owl" />

        </Tabs>

    </DocsLayout>

</MainLayout>