---
//Components
import SecondaryBtn1 from "../components/SecondaryBtn-1.astro";

//Layouts
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Terms of Service | CodeNHammer" description="">

    <div class="flex flex-col justify-center max-w-screen-md mx-auto">

        
        <div class="p-4 space-y-6 max-w-3xl">
            <SecondaryBtn1 href={"/"}>Back to Home</SecondaryBtn1>
            <h3 class="text-4xl text-neutral-900 font-bold">Terms of Service</h3>
        </div>

        <div class="p-4 space-y-8 max-w-3xl mb-8">
            
            <p class="text-neutral-700 text-base leading-relaxed">Welcome to CodeNHammer! These Terms of Service govern your use of our website and services. By accessing or using our website, you agree to be bound by these terms. If you do not agree, please do not use our website.</p>
            <p class="text-neutral-700 text-base leading-relaxed">This Agreement takes effect on the date on which you first use the CodeNHammer website.</p>
            <p class="text-neutral-700 text-base leading-relaxed">The CodeNHammer License facilitates the acquisition of CodeNHammer through a single purchase, granting users unrestricted and perpetual access to its comprehensive functionalities. Tailored for independent designers, contractors, and small businesses, CodeNHammer empowers users to create compelling web pages and online portfolios. This license entails a straightforward and flexible arrangement, exempting users from recurring fees or subscriptions. However, it is important to acknowledge that the licensor retains the right to terminate the license without conditions or prerequisites. This termination provision enables the licensor to exercise control over software distribution and utilization. Opting for the CodeNHammer License enables users to enjoy the benefits of the software while recognizing the licensor's unrestricted termination rights, which provide adaptability and address potential unforeseen circumstances.</p>
            <p class="text-neutral-700 text-base leading-relaxed">Due to the nature of digital products, the CodeNHammer License cannot be refunded or exchanged once access is granted.</p>
            <p class="text-neutral-700 text-base leading-relaxed">The CodeNHammer License is non-transferable, meaning it cannot be assigned or transferred to another party.</p>
            <p class="text-neutral-700 text-base leading-relaxed">It is not warranted that CodeNHammer will meet your requirements or that its operation will be uninterrupted or error free. All express and implied warranties or conditions not stated in this Agreement (including without limitation, loss of profits, loss or corruption of data, business interruption or loss of contracts), so far as such exclusion or disclaimer is permitted under the applicable law are excluded and expressly disclaimed. This Agreement does not affect your statutory rights.</p>
            <p class="text-neutral-700 text-base leading-relaxed">CodeNHammer does not give any warranty, guarantee or other term as to the quality, fitness for purpose or otherwise of the software. CodeNHammershall not be liable to you by reason of any representation (unless fraudulent), or any implied warranty, condition or other term, or any duty at common law, for any loss of profit or any indirect, special or consequential loss, damage, costs, expenses or other claims (whether caused by CodeNHammer's negligence or the negligence of its servants or agents or otherwise) which arise out of or in connection with the provision of any goods or services by CodeNHammer. CodeNHammer shall not be liable or deemed to be in breach of contract by reason of any delay in performing, or failure to perform, any of its obligations if the delay or failure was due to any cause beyond its reasonable control. Notwithstanding contrary clauses in this Agreement, in the event that CodeNHammer are deemed liable to you for breach of this Agreement, you agree that CodeNHammer's liability is limited to the amount actually paid by you for your services or software, which amount calculated in reliance upon this clause. You hereby release CodeNHammer from any and all obligations, liabilities and claims in excess of this limitation.</p>
            <p class="text-neutral-700 text-base leading-relaxed">CodeNHammer is not responsible for what the user does with the user-generated content.</p>
            <p class="text-neutral-700 text-base leading-relaxed">As we continue to improve CodeNHammer and expand our offerings, the price may increase. The discount is provided to help customers secure the current price without being surprised by future increases.</p>
            <p class="text-neutral-700 text-base leading-relaxed">This Agreement is governed by the laws of Singapore. You acknowledge that no joint venture, partnership, employment, or agency relationship exists between you and CodeNHammer as a result of your use of these services. You agree not to hold yourself out as a representative, agent or employee of CodeNHammer. You agree that CodeNHammer will not be liable by reason of any representation, act or omission to act by you.</p>
            <p class="text-neutral-700 text-base leading-relaxed">Last updated: 2024-11-02.</p>

        </div>

    </div>


</MainLayout>


