---
import Navigation from "../components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../layouts/Footer.astro";

import Subheading from "../components/Subheading.astro";
import Paragraph from "../components/Paragraph.astro";
---

<MainLayout title="Thank You | CodeNHammer">
    <Navigation></Navigation>
    <!-- Modal content -->
    <section class="bg-zinc-950 py-8 grid space-y-12 justify-items-center text-center lg:py-16 px-4 mx-auto max-w-screen-md">

        <div class="p-2 flex items-center justify-center mx-auto mb-3.5">
            <svg class="text-green-500 size-16" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
            <span class="sr-only">Success</span>
        </div>

        <Subheading>Successfully Sent Message!</Subheading>
        <Paragraph>Your message has been successfully sent to us and we appreciate you taking the time to contact us. Rest assured, we will review your inquiry and get back to you as soon as possible. We're excited to start this journey with you and look forward to discussing how we can elevate your online presence!</Paragraph>
        <a href="/" class="inline-flex items-center justify-center px-6 py-3 text-base text-center text-white rounded-md bg-[#007BFF] hover:bg-[#0070E8]">
            <svg class="size-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 19l-7-7l7-7m7 7H5"/></svg>
            Back to Home
        </a>

    </section>
    <Footer></Footer>
</MainLayout>