---

---

<div class="flex items-center justify-center">
    <div class="relative w-full max-w-screen-lg overflow-hidden">
      
        <!-- Vignette Effect -->
        <div class="pointer-events-none absolute -top-1 z-10 h-20 w-full bg-gradient-to-b from-white to-transparent" />
        <div class="pointer-events-none absolute -bottom-1 z-10 h-20 w-full bg-gradient-to-t from-white to-transparent" />
        <div class="pointer-events-none absolute -left-1 z-10 h-full w-20 bg-gradient-to-r from-white to-transparent" />
        <div class="pointer-events-none absolute -right-1 z-10 h-full w-20 bg-gradient-to-l from-white to-transparent" /> 
  
        <!-- Components Container Start -->
        <div class="mx-auto grid h-[250px] w-[300px] animate-skew-scroll grid-cols-1 gap-5 sm:w-[600px] sm:grid-cols-2 md:h-[550px]">
  
            <!-- Row 1 Start -->
            <div class="flex flex-col space-y-5">
                <!-- 1 -->
                <a href="/docs/about-us" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134705/About_1_laofuh.jpg" alt="About Layout 1" />
                </a>
    
                <!-- 2 -->
                <a href="/docs/gallery-section" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134707/Gallery_2_o3xj4a.jpg" alt="Gallery Layout 2" />
                </a>
    
                <!-- 3 -->
                <a href="/docs/faqs" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134706/FAQ_2_z6s1vq.jpg" alt="FAQs Layout 2" />
                </a>
    
                <!-- 4 -->
                <a href="/docs/hero" class="flex cursor-pointer items-center space-x-2 rounded-md  shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134708/Hero_1_x5ins7.jpg" alt="Hero Layout 1" />
                </a>
    
                <!-- 5 -->
                <a href="/docs/services" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134709/Services_2_azjjyo.jpg" alt="Services Layout 2" />
                </a>
    
                <!-- 6 -->
                <a href="/docs/cta" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134706/CTA_4_cf8mc4.jpg" alt="CTA Layout 4" />
                </a>
            </div>
            <!-- Row 1 End -->

            <!-- Row 2 Start -->
            <div class="flex flex-col space-y-5">

                <!-- 7 -->
                <a href="/docs/why-us" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134711/Why_Us_1_zkwtzw.jpg" alt="Why Us Layout 1" />
                </a>

                <!-- 8 -->
                <a href="/docs/steps" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134710/Steps_1_aclv3x.jpg" alt="Steps Layout 1" />
                </a>

                <!-- 9 -->
                <a href="/docs/gallery-section" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134708/Gallery_1_xgadvw.jpg" alt="Gallery Layout 1" />
                </a>

                <!-- 10 -->
                <a href="/docs/contact-us" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134705/Contact_Us_3_hyxobb.jpg" alt="Contact Layout 3" />
                </a>

                <!-- 11 -->
                <a href="/docs/team" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134710/Team_1_iex643.jpg" alt="Team Layout 1" />
                </a>

                <!-- 12 -->
                <a href="/docs/details" class="flex cursor-pointer items-center space-x-2 rounded-md border border-neutral-100 p-px shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl">
                    <img src="https://res.cloudinary.com/codenhammer/image/upload/v1729134706/Details_2_paoihb.jpg" alt="Details Layout 2" />
                </a>

            </div>
            <!-- Row 2 End -->

        </div>
        <!-- Components Container End -->

    </div>
</div>