---

---

<header x-data="{ mobileMenuOpen: false }" class="relative bg-zinc-950 border-b border-zinc-100">

  <!-- Desktop Navigation Starts -->
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">

      <!-- Desktop Logo Starts -->
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5 leading-6 text-teal-100">
          <span class="sr-only">CodeNHammer Logo Home Button</span>
          <svg width="175" height="18" viewBox="0 0 175 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.9128 11.9039C15.2168 15.4799 12.7448 17.9039 8.71278 17.9039C3.72078 17.9039 0.696777 14.0159 0.696777 9.02395C0.696777 4.00795 3.72078 0.0959473 8.71278 0.0959473C12.5288 0.0959473 15.0248 2.37595 15.8168 5.78395L12.6728 5.95195C12.1928 4.03195 10.8248 2.75995 8.68878 2.75995C5.30478 2.75995 3.81678 5.56795 3.81678 9.02395C3.81678 12.4559 5.32878 15.2399 8.68878 15.2399C10.9208 15.2399 12.3128 13.7999 12.7448 11.7359L15.9128 11.9039Z" fill="#E0FFFF"/>
            <path d="M24.1153 17.8079C20.3473 17.8079 17.8753 15.1919 17.8753 11.1599C17.8753 7.12795 20.3473 4.51195 24.1153 4.51195C27.8833 4.51195 30.3553 7.12795 30.3553 11.1599C30.3553 15.1919 27.8833 17.8079 24.1153 17.8079ZM20.9473 11.1599C20.9473 13.7999 22.0993 15.3599 24.1153 15.3599C26.1313 15.3599 27.2833 13.7999 27.2833 11.1599C27.2833 8.51995 26.1313 6.95995 24.1153 6.95995C22.0993 6.95995 20.9473 8.51995 20.9473 11.1599Z" fill="#E0FFFF"/>
            <path d="M44.5986 0.479947V17.5199H41.7906L41.7186 15.7199C40.9986 17.0399 39.6786 17.8079 37.8066 17.8079C34.2066 17.8079 32.4306 14.7839 32.4306 11.1599C32.4306 7.53595 34.2066 4.51195 37.8066 4.51195C39.5826 4.51195 40.8786 5.20795 41.6226 6.50395V0.479947H44.5986ZM35.4786 11.1599C35.4786 13.3439 36.4386 15.3599 38.6466 15.3599C40.8786 15.3599 41.8146 13.3439 41.8146 11.1599C41.8146 8.87995 40.8786 6.86395 38.6466 6.86395C36.4146 6.86395 35.4786 8.87995 35.4786 11.1599Z" fill="#E0FFFF"/>
            <path d="M47.3603 11.1599C47.3603 7.12795 49.8323 4.51195 53.6003 4.51195C56.8163 4.51195 59.4323 6.67195 59.5283 11.1839V11.9759H50.4803C50.6243 14.1359 51.7523 15.4079 53.6003 15.4079C54.7763 15.4079 55.8323 14.7359 56.3123 13.6319L59.3603 13.8479C58.5923 16.2959 56.3123 17.8079 53.6003 17.8079C49.8323 17.8079 47.3603 15.1919 47.3603 11.1599ZM50.5043 9.93595H56.4563C56.1923 7.70395 54.9683 6.88795 53.6003 6.88795C51.8723 6.88795 50.7683 8.03995 50.5043 9.93595Z" fill="#E0FFFF"/>
            <path d="M62.5463 0.479947H66.1223L73.4663 13.3439V0.479947H76.4903V17.5199H72.7703L65.5703 4.99195V17.5199H62.5463V0.479947Z" fill="#E0FFFF"/>
            <path d="M80.4291 17.5199V0.479947H83.4531V7.60795H90.5811V0.479947H93.6051V17.5199H90.5811V10.2719H83.4531V17.5199H80.4291Z" fill="#E0FFFF"/>
            <path d="M96.771 8.66395C97.275 6.04795 99.315 4.51195 102.387 4.51195C106.035 4.51195 107.955 6.40795 107.955 9.95995V14.3999C107.955 15.1199 108.243 15.3119 108.747 15.3119H109.227V17.5199L108.483 17.5439C107.451 17.5439 105.531 17.5199 105.339 15.5759C104.739 16.8239 103.323 17.8079 101.139 17.8079C98.595 17.8079 96.555 16.4399 96.555 14.1839C96.555 11.6879 98.403 10.8959 101.379 10.3199L104.955 9.59995C104.931 7.65595 104.115 6.71995 102.387 6.71995C101.019 6.71995 100.131 7.43995 99.819 8.83195L96.771 8.66395ZM99.627 14.0879C99.627 14.9759 100.371 15.6719 101.907 15.6719C103.683 15.6719 105.003 14.3999 105.003 11.8079V11.6879L102.555 12.1199C100.899 12.4319 99.627 12.5999 99.627 14.0879Z" fill="#E0FFFF"/>
            <path d="M111.62 4.79995H114.308L114.38 6.83995C115.004 5.35195 116.3 4.51195 117.98 4.51195C119.78 4.51195 121.076 5.47195 121.628 7.12795C122.252 5.39995 123.572 4.51195 125.42 4.51195C127.988 4.51195 129.572 6.21595 129.572 9.33595V17.5199H126.596V10.2719C126.596 8.08795 125.9 6.93595 124.532 6.93595C122.876 6.93595 121.964 8.11195 121.964 10.2719V17.5199H119.228V10.2719C119.228 8.11195 118.508 6.93595 117.164 6.93595C115.508 6.93595 114.596 8.15995 114.596 10.2719V17.5199H111.62V4.79995Z" fill="#E0FFFF"/>
            <path d="M132.62 4.79995H135.308L135.38 6.83995C136.004 5.35195 137.3 4.51195 138.98 4.51195C140.78 4.51195 142.076 5.47195 142.628 7.12795C143.252 5.39995 144.572 4.51195 146.42 4.51195C148.988 4.51195 150.572 6.21595 150.572 9.33595V17.5199H147.596V10.2719C147.596 8.08795 146.9 6.93595 145.532 6.93595C143.876 6.93595 142.964 8.11195 142.964 10.2719V17.5199H140.228V10.2719C140.228 8.11195 139.508 6.93595 138.164 6.93595C136.508 6.93595 135.596 8.15995 135.596 10.2719V17.5199H132.62V4.79995Z" fill="#E0FFFF"/>
            <path d="M152.946 11.1599C152.946 7.12795 155.418 4.51195 159.186 4.51195C162.402 4.51195 165.018 6.67195 165.114 11.1839V11.9759H156.066C156.21 14.1359 157.338 15.4079 159.186 15.4079C160.362 15.4079 161.418 14.7359 161.898 13.6319L164.946 13.8479C164.178 16.2959 161.898 17.8079 159.186 17.8079C155.418 17.8079 152.946 15.1919 152.946 11.1599ZM156.09 9.93595H162.042C161.778 7.70395 160.554 6.88795 159.186 6.88795C157.458 6.88795 156.354 8.03995 156.09 9.93595Z" fill="#E0FFFF"/>
            <path d="M167.777 4.79995H170.561L170.633 7.24795C171.065 5.59195 172.025 4.79995 173.657 4.79995H174.857V7.12795H173.657C171.617 7.12795 170.753 8.15995 170.753 10.2239V17.5199H167.777V4.79995Z" fill="#E0FFFF"/>
          </svg>
        </a>
      </div>
      <!-- Desktop Logo Ends -->

      <!-- Hamburger Icon Starts -->
      <div class="flex lg:hidden">
        <button @click="mobileMenuOpen = true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-zinc-200">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <!-- Hamburger Icon Ends -->

      <!-- Desktop Links Start -->
      <div class="hidden lg:flex lg:gap-x-12 *:text-sm *:font-medium *:leading-6 *:text-zinc-200">
        <a href="/about" class="">About Us</a>
        <a href="/#featuresSection" class="">Services</a>
        <a href="/#portfolioSection" class="">Portfolio</a>
        <a href="/contact" class="">Contact Us</a>
      </div>
      <!-- Desktop Links Ends -->
      
    </nav>
  <!-- Desktop Navigation Ends -->

  <!-- Mobile Navigation Starts -->
  <div x-description="Mobile menu, show/hide based on mobile menu state." x-show="mobileMenuOpen" class="lg:hidden" role="dialog" aria-modal="true">
  
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-zinc-950 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">

      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5 text-md font-semibold leading-6 text-teal-100">
          <span class="sr-only">CodeNHammer Logo Home Button</span>
          <svg width="175" height="18" viewBox="0 0 175 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.9128 11.9039C15.2168 15.4799 12.7448 17.9039 8.71278 17.9039C3.72078 17.9039 0.696777 14.0159 0.696777 9.02395C0.696777 4.00795 3.72078 0.0959473 8.71278 0.0959473C12.5288 0.0959473 15.0248 2.37595 15.8168 5.78395L12.6728 5.95195C12.1928 4.03195 10.8248 2.75995 8.68878 2.75995C5.30478 2.75995 3.81678 5.56795 3.81678 9.02395C3.81678 12.4559 5.32878 15.2399 8.68878 15.2399C10.9208 15.2399 12.3128 13.7999 12.7448 11.7359L15.9128 11.9039Z" fill="#E0FFFF"/>
            <path d="M24.1153 17.8079C20.3473 17.8079 17.8753 15.1919 17.8753 11.1599C17.8753 7.12795 20.3473 4.51195 24.1153 4.51195C27.8833 4.51195 30.3553 7.12795 30.3553 11.1599C30.3553 15.1919 27.8833 17.8079 24.1153 17.8079ZM20.9473 11.1599C20.9473 13.7999 22.0993 15.3599 24.1153 15.3599C26.1313 15.3599 27.2833 13.7999 27.2833 11.1599C27.2833 8.51995 26.1313 6.95995 24.1153 6.95995C22.0993 6.95995 20.9473 8.51995 20.9473 11.1599Z" fill="#E0FFFF"/>
            <path d="M44.5986 0.479947V17.5199H41.7906L41.7186 15.7199C40.9986 17.0399 39.6786 17.8079 37.8066 17.8079C34.2066 17.8079 32.4306 14.7839 32.4306 11.1599C32.4306 7.53595 34.2066 4.51195 37.8066 4.51195C39.5826 4.51195 40.8786 5.20795 41.6226 6.50395V0.479947H44.5986ZM35.4786 11.1599C35.4786 13.3439 36.4386 15.3599 38.6466 15.3599C40.8786 15.3599 41.8146 13.3439 41.8146 11.1599C41.8146 8.87995 40.8786 6.86395 38.6466 6.86395C36.4146 6.86395 35.4786 8.87995 35.4786 11.1599Z" fill="#E0FFFF"/>
            <path d="M47.3603 11.1599C47.3603 7.12795 49.8323 4.51195 53.6003 4.51195C56.8163 4.51195 59.4323 6.67195 59.5283 11.1839V11.9759H50.4803C50.6243 14.1359 51.7523 15.4079 53.6003 15.4079C54.7763 15.4079 55.8323 14.7359 56.3123 13.6319L59.3603 13.8479C58.5923 16.2959 56.3123 17.8079 53.6003 17.8079C49.8323 17.8079 47.3603 15.1919 47.3603 11.1599ZM50.5043 9.93595H56.4563C56.1923 7.70395 54.9683 6.88795 53.6003 6.88795C51.8723 6.88795 50.7683 8.03995 50.5043 9.93595Z" fill="#E0FFFF"/>
            <path d="M62.5463 0.479947H66.1223L73.4663 13.3439V0.479947H76.4903V17.5199H72.7703L65.5703 4.99195V17.5199H62.5463V0.479947Z" fill="#E0FFFF"/>
            <path d="M80.4291 17.5199V0.479947H83.4531V7.60795H90.5811V0.479947H93.6051V17.5199H90.5811V10.2719H83.4531V17.5199H80.4291Z" fill="#E0FFFF"/>
            <path d="M96.771 8.66395C97.275 6.04795 99.315 4.51195 102.387 4.51195C106.035 4.51195 107.955 6.40795 107.955 9.95995V14.3999C107.955 15.1199 108.243 15.3119 108.747 15.3119H109.227V17.5199L108.483 17.5439C107.451 17.5439 105.531 17.5199 105.339 15.5759C104.739 16.8239 103.323 17.8079 101.139 17.8079C98.595 17.8079 96.555 16.4399 96.555 14.1839C96.555 11.6879 98.403 10.8959 101.379 10.3199L104.955 9.59995C104.931 7.65595 104.115 6.71995 102.387 6.71995C101.019 6.71995 100.131 7.43995 99.819 8.83195L96.771 8.66395ZM99.627 14.0879C99.627 14.9759 100.371 15.6719 101.907 15.6719C103.683 15.6719 105.003 14.3999 105.003 11.8079V11.6879L102.555 12.1199C100.899 12.4319 99.627 12.5999 99.627 14.0879Z" fill="#E0FFFF"/>
            <path d="M111.62 4.79995H114.308L114.38 6.83995C115.004 5.35195 116.3 4.51195 117.98 4.51195C119.78 4.51195 121.076 5.47195 121.628 7.12795C122.252 5.39995 123.572 4.51195 125.42 4.51195C127.988 4.51195 129.572 6.21595 129.572 9.33595V17.5199H126.596V10.2719C126.596 8.08795 125.9 6.93595 124.532 6.93595C122.876 6.93595 121.964 8.11195 121.964 10.2719V17.5199H119.228V10.2719C119.228 8.11195 118.508 6.93595 117.164 6.93595C115.508 6.93595 114.596 8.15995 114.596 10.2719V17.5199H111.62V4.79995Z" fill="#E0FFFF"/>
            <path d="M132.62 4.79995H135.308L135.38 6.83995C136.004 5.35195 137.3 4.51195 138.98 4.51195C140.78 4.51195 142.076 5.47195 142.628 7.12795C143.252 5.39995 144.572 4.51195 146.42 4.51195C148.988 4.51195 150.572 6.21595 150.572 9.33595V17.5199H147.596V10.2719C147.596 8.08795 146.9 6.93595 145.532 6.93595C143.876 6.93595 142.964 8.11195 142.964 10.2719V17.5199H140.228V10.2719C140.228 8.11195 139.508 6.93595 138.164 6.93595C136.508 6.93595 135.596 8.15995 135.596 10.2719V17.5199H132.62V4.79995Z" fill="#E0FFFF"/>
            <path d="M152.946 11.1599C152.946 7.12795 155.418 4.51195 159.186 4.51195C162.402 4.51195 165.018 6.67195 165.114 11.1839V11.9759H156.066C156.21 14.1359 157.338 15.4079 159.186 15.4079C160.362 15.4079 161.418 14.7359 161.898 13.6319L164.946 13.8479C164.178 16.2959 161.898 17.8079 159.186 17.8079C155.418 17.8079 152.946 15.1919 152.946 11.1599ZM156.09 9.93595H162.042C161.778 7.70395 160.554 6.88795 159.186 6.88795C157.458 6.88795 156.354 8.03995 156.09 9.93595Z" fill="#E0FFFF"/>
            <path d="M167.777 4.79995H170.561L170.633 7.24795C171.065 5.59195 172.025 4.79995 173.657 4.79995H174.857V7.12795H173.657C171.617 7.12795 170.753 8.15995 170.753 10.2239V17.5199H167.777V4.79995Z" fill="#E0FFFF"/>
          </svg>
        </a>

        <button @click="mobileMenuOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-zinc-200">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="mt-6 flow-root border-t border-zinc-100">

        <div class="-my-6">
          <div class="space-y-2 py-6 *:-mx-3 *:block *:px-3 *:py-2 *:font-medium *:leading-7 *:text-zinc-200 ">
            <a href="/about" @click="mobileMenuOpen = false">About Us</a>
            <a href="/#featuresSection" @click="mobileMenuOpen = false">Services</a>
            <a href="/#portfolioSection" @click="mobileMenuOpen = false">Portfolio</a>
            <a href="/contact" @click="mobileMenuOpen = false">Contact Us</a>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- Mobile Navigation Ends -->

</header>