---
import { Image } from "astro:assets";
import Profile from "../assets/Profile.jpg";

import Subheading from "../components/Subheading.astro";
import Paragraph from "../components/Paragraph.astro";
---

<section class="bg-zinc-950">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-24">
        <div class="font-light text-gray-400 sm:text-lg">
            <Subheading>Providing High-Quality Website  for Construction Contractors</Subheading>
            <Paragraph>CodeNHammer started with a vision to revolutionize the web design industry by offering tailored solutions for construction contractors. Over the years, we have grown and evolved, becoming a trusted source for contractors looking to enhance their online presence.</Paragraph>
            <br>
            <Paragraph>CodeNHammer started with a vision to revolutionize the web design industry by offering tailored solutions for construction contractors. Over the years, we have grown and evolved, becoming a trusted source for contractors looking to enhance their online presence.</Paragraph>
        </div>
        <div class="grid mt-8">
            <Image src={Profile} alt="Picture of me" class="rounded-lg"></Image>
        </div>
    </div>
</section>