---
import { Image } from "astro:assets";
import Profile from "../assets/Profile.jpg";

import Subheading from "../components/Subheading.astro";
import Paragraph from "../components/Paragraph.astro";
import Tagline from "../components/Tagline.astro";
---

<section class="bg-zinc-950">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-24">
        <div class="">
            <Tagline>About Us</Tagline>
            <Subheading>Providing High-Quality Websites for Construction Contractors</Subheading>
            <Paragraph>Hi my name is Kevin and welcome to CodeNHammer!</Paragraph>
            <br>
            <Paragraph>I'm a seasoned web developer with a passion for revolutionizing the digital presence of the construction industry. At CodeNHammer, we specialize in crafting websites specifically tailored for contractors and construction businesses, transforming their online image into a powerful tool for business growth.</Paragraph>
            <br>
            <Paragraph>With several years of rich experience in web development, I observed a common issue among contractors: outdated and sluggish websites. This not only hampered their online appeal but also impeded potential business opportunities. Driven by a vision to address this gap, I established CodeNHammer, a platform dedicated to bringing cutting-edge web solutions to the construction sector.</Paragraph>
            <br>
        </div>
        <div class="grid mt-8">
            <Image src={Profile} alt="Picture of me" class="rounded-lg"></Image>
        </div>
    </div>
</section>