---
import Tagline from "../components/Tagline.astro";
import Subheading from "../components/Subheading.astro";
import Paragraph from "../components/Paragraph.astro";
---
<section class="bg-zinc-950">
    <div class="grid items-center py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-24">
        <Tagline>Our Mission</Tagline>
        <Subheading>Our Mission at CodeNHammer</Subheading>
        <Paragraph>Our mission is clear - deliver websites that are not just aesthetically pleasing but also blazing fast and highly efficient. We understand that in the digital world, a website is more than just a virtual storefront; it's a pivotal element in driving conversions and winning clients. That's why every website we build is optimized for performance, designed to captivate, and engineered to convert visitors into customers.</Paragraph>
        <br>
        <Paragraph>At CodeNHammer, our relationship with clients extends beyond the initial website launch. We offer ongoing service and support through a monthly subscription, ensuring that your website remains up-to-date, secure, and ahead of the curve in the ever-evolving digital landscape. Our commitment is to provide continuous value, keeping your digital presence as dynamic and robust as your business.</Paragraph>
        <br>
        <Paragraph></Paragraph>
        <br>
    </div>
</section>