---

---

<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-12 lg:py-28">

        <!-- Tagline, Header & Description Container -->
        <div class="max-w-screen-sm text-center mx-auto space-y-2 mb-4 lg:mb-12">
            <span class="text-sm font-medium text-blue-500">Unlock Your Potential</span>
            <h2 class="text-neutral-900 text-4xl font-bold">Why Choose CodeNHammer</h2>
        </div>

        <!-- Why Us Container Starts -->
        <div class="space-y-8 sm:grid sm:grid-cols-2 md:gap-8 md:space-y-0 lg:grid-cols-3">

            <!-- Reason 1 Start -->
            <div class="p-4 space-y-4 text-center">

                <!-- Icons Container -->
                <div class="flex justify-center items-center">
                    <svg class="size-24" width="100%" viewBox="0 0 61 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.5396 55.9716C37.3443 56.1669 37.3443 56.4834 37.5396 56.6787C37.7348 56.874 38.0514 56.874 38.2467 56.6787L37.5396 55.9716ZM56.8931 37.3252L56.5396 36.9716L56.5396 36.9716L56.8931 37.3252ZM48.3931 30.3252L48.0396 29.9716L48.0396 29.9716L48.3931 30.3252ZM10.8931 67.8252L10.5396 67.4716L10.5395 67.4717L10.8931 67.8252ZM2.39311 58.8252L2.04223 58.469L2.03963 58.4716L2.39311 58.8252ZM9.85086 52.1814C10.0476 51.9876 10.05 51.6711 9.85622 51.4743C9.66245 51.2776 9.34587 51.2752 9.14914 51.469L9.85086 52.1814ZM38.2467 56.6787L57.2467 37.6787L56.5396 36.9716L37.5396 55.9716L38.2467 56.6787ZM57.2467 37.6787C57.8721 37.0535 58.3448 35.7539 58.3182 34.3407C58.2909 32.8933 57.7415 31.2508 56.2187 29.9455L55.5679 30.7048C56.8451 31.7995 57.2957 33.157 57.3184 34.3596C57.3417 35.5965 56.9144 36.5969 56.5396 36.9716L57.2467 37.6787ZM56.2187 29.9455C54.688 28.6335 52.9117 28.3658 51.4062 28.554C49.925 28.7392 48.6368 29.3745 48.0396 29.9716L48.7467 30.6787C49.1496 30.2758 50.2115 29.7112 51.5303 29.5463C52.8249 29.3845 54.2986 29.6168 55.5679 30.7048L56.2187 29.9455ZM48.0396 29.9716L10.5396 67.4716L11.2467 68.1787L48.7467 30.6787L48.0396 29.9716ZM10.5395 67.4717C10.1211 67.8901 9.37621 68.3441 8.28816 68.3006C7.1928 68.2568 5.67426 67.7055 3.72759 65.9535L3.05862 66.6968C5.11195 68.5448 6.8435 69.2436 8.24819 69.2998C9.66018 69.3563 10.6652 68.7603 11.2467 68.1787L10.5395 67.4717ZM3.72759 65.9535C1.8138 64.2311 1.40952 62.7522 1.51565 61.648C1.62494 60.5109 2.28711 59.6381 2.74658 59.1788L2.03963 58.4716C1.49866 59.0123 0.660826 60.0895 0.520232 61.5523C0.376467 63.0482 0.97241 64.8192 3.05862 66.6968L3.72759 65.9535ZM2.74397 59.1814L9.85086 52.1814L9.14914 51.469L2.04224 58.469L2.74397 59.1814Z" fill="#007BFF"/>
                        <path d="M60.3932 1L60.764 1.33537C60.9422 1.13832 60.9352 0.836322 60.748 0.647765C60.5609 0.459207 60.2589 0.449942 60.0605 0.62667L60.3932 1ZM8.02229 58.1646C7.83707 58.3694 7.85295 58.6856 8.05777 58.8708C8.26258 59.0561 8.57876 59.0402 8.76398 58.8354L8.02229 58.1646ZM4.35355 55.1464C4.08419 54.8771 3.8467 54.6586 3.62711 54.4187C3.4129 54.1846 3.26407 53.9794 3.18368 53.7844C3.10919 53.6038 3.09107 53.4275 3.15156 53.2232C3.21609 53.0052 3.38153 52.7185 3.7465 52.3536L3.03943 51.6464C2.60432 52.0815 2.32061 52.5073 2.1927 52.9393C2.06074 53.385 2.10689 53.7962 2.25918 54.1656C2.40556 54.5206 2.64602 54.8279 2.88941 55.0938C3.12741 55.3539 3.41581 55.6229 3.64645 55.8536L4.35355 55.1464ZM3.7465 52.3536C5.33308 50.7671 42.3796 17.7181 60.7258 1.37333L60.0605 0.62667C41.74 16.9486 4.65312 50.0329 3.03943 51.6464L3.7465 52.3536ZM60.0223 0.664628L8.02229 58.1646L8.76398 58.8354L60.764 1.33537L60.0223 0.664628Z" fill="#262626"/>
                    </svg>                                                
                </div>

                <!-- Description Container -->
                <div class="space-y-2">
                    <h4 class="text-2xl text-neutral-900 font-semibold">Tailored to Your Needs</h4>
                    <p class="text-neutral-500 text-base">Unlike generic libraries, CodeNHammer is made for the needs of small businesses and contractors, meaning less customization and faster results.</p>
                </div>
                
            </div>
            <!-- Reason 1 End -->

            <!-- Reason 2 Start -->
            <div class="p-4 space-y-4 text-center">

                <!-- Icons Container -->
                <div class="flex justify-center items-center">
                    <svg class="size-24" width="100%" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.3098 63.3898V61.7498C24.3098 61.4398 24.1698 61.1498 23.9398 60.9598L12.3698 51.3698C11.1898 50.3998 10.5098 48.9498 10.5098 47.4198V23.7898C10.5098 22.4398 11.6098 21.3398 12.9598 21.3398C14.1798 21.3398 15.2098 22.2298 15.3798 23.4298L17.8498 40.3098" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M36.3095 63.3901V56.3901C36.3095 54.2201 35.3195 52.1701 33.6195 50.8301L20.8295 40.7001C19.7995 39.8801 18.3095 40.0001 17.4295 40.9801C16.4895 42.0101 16.5795 43.6101 17.6195 44.5401L24.3095 50.4501" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M36.9295 68.7096V63.3896H21.1895V68.7096" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M55.6904 63.3898V61.7498C55.6904 61.4398 55.8304 61.1498 56.0604 60.9598L67.6304 51.3698C68.8104 50.3998 69.4904 48.9498 69.4904 47.4198V23.7898C69.4904 22.4398 68.3904 21.3398 67.0404 21.3398C65.8204 21.3398 64.7904 22.2298 64.6204 23.4298L62.1504 40.3098" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.6904 63.3901V56.3901C43.6904 54.2201 44.6804 52.1701 46.3804 50.8301L59.1704 40.7001C60.2004 39.8801 61.6904 40.0001 62.5704 40.9801C63.5104 42.0101 63.4204 43.6101 62.3804 44.5401L55.6904 50.4501" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.0703 68.7096V63.3896H58.8103V68.7096" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.9996 40.17C47.9746 40.17 54.4396 33.705 54.4396 25.73C54.4396 17.755 47.9746 11.29 39.9996 11.29C32.0246 11.29 25.5596 17.755 25.5596 25.73C25.5596 33.705 32.0246 40.17 39.9996 40.17Z" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.9997 26.5102C40.4305 26.5102 40.7797 26.161 40.7797 25.7302C40.7797 25.2994 40.4305 24.9502 39.9997 24.9502C39.5689 24.9502 39.2197 25.2994 39.2197 25.7302C39.2197 26.161 39.5689 26.5102 39.9997 26.5102Z" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M40 11.29V13.67" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M29.79 15.52L31.48 17.2" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M54.4398 25.73H52.0498" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.5596 25.73H27.9496" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M29.79 35.93L31.48 34.25" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M40 40.1603V37.7803" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M50.2095 35.93L48.5195 34.25" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M50.2095 15.52L48.5195 17.2" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M40 16.7998V25.7298L45.02 30.7398" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>

                <!-- Description Container -->
                <div class="space-y-2">
                    <h4 class="text-2xl text-neutral-900 font-semibold">Save Time</h4>
                    <p class="text-neutral-500 text-base">Streamline your workflow with our pre-built layouts and components. Save time on repetitive tasks and focus on unique client designs.</p>
                </div>
                
            </div>
            <!-- Reason 2 End -->

            <!-- Reason 3 Start -->
            <div class="p-4 space-y-4 text-center">

                <!-- Icons Container -->
                <div class="flex justify-center items-center">
                    <svg class="size-24" width="100%" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.0802 19.8101L8.4502 23.4501" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.45043 23.4503L21.3104 36.3103C22.3104 37.3103 23.9404 37.3103 24.9504 36.3103C25.9504 35.3103 25.9504 33.6803 24.9504 32.6703L12.0904 19.8103L7.19043 18.5503L8.45043 23.4503Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.1605 31.8804L20.5205 35.5204" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.2607 21.6304L22.2707 33.6304" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.27 28.6104L6.5 33.3904L10.87 37.7504L15.64 32.9804" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.25 22.6401L22.02 17.8701L26.39 22.2301L21.61 27.0001" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.8698 23.7402L23.2798 22.1602" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M23.0798 25.5302L22.0098 24.4502" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.1691 34.4504L12.5791 32.8604" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.3796 36.2302L11.3096 35.1602" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M67.4502 27.3097L69.1602 29.0197L73.5002 24.6797L71.7902 22.9697L67.4502 27.3097Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M61.7332 30.513L58.5371 27.3169L50.6317 35.2223L53.8278 38.4185L61.7332 30.513Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M70.9901 23.7699C70.9901 23.7699 70.1001 23.3399 69.5501 22.3299L69.3501 20.5299L67.8701 19.0499C66.0501 17.2299 63.3101 16.6799 60.9201 17.6599L58.8901 18.4999C58.8901 18.4999 64.3201 18.3599 64.4201 22.0799" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M68.3399 26.4198C68.3399 26.4198 67.6899 25.4498 66.6799 24.8998L61.3999 30.1798L58.8599 27.6398L64.4099 22.0898" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M44.7803 55.23L48.0004 58.39V63.35L43.3604 59.77" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.3402 40.3501C39.3402 40.3501 30.2302 45.9301 35.5802 60.5301H43.0902C48.4402 45.9301 39.3302 40.3501 39.3302 40.3501" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M33.8902 55.23L30.6802 58.39V63.35L35.3102 59.77" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M44.4399 64.0103V65.6302" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M41.8901 64.3799V66.8799" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M34.2402 64.0103V65.6302" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M36.79 64.3799V66.8799" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.3403 64.6699V68.0999" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.3402 50.4402C40.362 50.4402 41.1902 49.612 41.1902 48.5902C41.1902 47.5685 40.362 46.7402 39.3402 46.7402C38.3185 46.7402 37.4902 47.5685 37.4902 48.5902C37.4902 49.612 38.3185 50.4402 39.3402 50.4402Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M62.7454 31.4966C63.0816 31.4187 63.4182 31.628 63.4877 31.9661C64.5849 37.3032 63.9092 42.8593 61.5537 47.7852C59.1981 52.7111 55.2975 56.7251 50.4543 59.2215C50.1475 59.3796 49.7732 59.2491 49.6228 58.9384C49.4723 58.6277 49.6027 58.2546 49.9093 58.0961C54.4975 55.7234 58.1927 51.9161 60.426 47.246C62.6592 42.5758 63.3031 37.3093 62.2696 32.2485C62.2006 31.9103 62.4091 31.5745 62.7454 31.4966Z" fill="#262626"/>
                        <path d="M29.0511 59.2523C28.9102 59.5674 28.5401 59.7094 28.2286 59.5606C24.0242 57.5533 20.4601 54.4088 17.9439 50.4778C15.4277 46.5468 14.0644 41.9936 14.002 37.3349C13.9974 36.9898 14.2813 36.7131 14.6264 36.7171C14.9716 36.7211 15.2473 37.0043 15.2523 37.3494C15.3173 41.7642 16.6119 46.0782 18.9967 49.8039C21.3815 53.5296 24.757 56.5116 28.739 58.4191C29.0503 58.5683 29.192 58.9372 29.0511 59.2523Z" fill="#262626"/>
                        <path d="M24.3146 17.5453C24.1067 17.2697 24.161 16.8771 24.4416 16.6761C27.1256 14.7535 30.1657 13.3804 33.3869 12.6382C36.8114 11.8493 40.3637 11.7911 43.8121 12.4675C47.2605 13.144 50.5276 14.5398 53.4002 16.564C56.1024 18.4682 58.3984 20.888 60.1571 23.6821C60.341 23.9743 60.243 24.3583 59.9464 24.5348C59.6497 24.7113 59.2669 24.6135 59.0826 24.3216C57.4139 21.6784 55.2387 19.3887 52.6802 17.5858C49.9512 15.6628 46.8475 14.3368 43.5715 13.6942C40.2955 13.0515 36.9208 13.1068 33.6676 13.8563C30.6175 14.559 27.7385 15.8572 25.1949 17.6742C24.914 17.8748 24.5226 17.8208 24.3146 17.5453Z" fill="#262626"/>
                    </svg>
                </div>

                <!-- Description Container -->
                <div class="space-y-2">
                    <h4 class="text-2xl text-neutral-900 font-semibold">Build Fast</h4>
                    <p class="text-neutral-500 text-base">Stop wasting time on repetitive tasks. With ready-made components and layouts, CodeNHammer lets you focus on delivering high-quality websites quickly.</p>
                </div>
                
            </div>
            <!-- Reason 3 End -->

        </div>
        <!-- Why US Container Ends -->
        
    </div>
</section>