---
import { Image } from "astro:assets";
import Benefit1 from "../assets/Benefit-1.png";
import Benefit2 from "../assets/Benefit-2.png";
import Benefit3 from "../assets/Benefit-3.png";

import Paragraph from "../components/Paragraph.astro";
import H3 from "../components/H3.astro";
import Tagline from "../components/Tagline.astro";
import Subheading from "../components/Subheading.astro";
---

<section id="benefitsSection" class="bg-zinc-950">
    <div x-data="{ activeTab:  0 }" class="gap-8 items-center py-20 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-12 lg:py-28">
        
        <!-- Left Side Starts -->
        <div class="text-gray-400 sm:text-lg">
            <Tagline>Benefits</Tagline>
            <Subheading>From audience, to leads, to customers.</Subheading>

            <!-- Tabs Container Starts -->
            <div class=" mb-6 space-y-10 *:cursor-pointer">
                
                <!-- Tab 1 -->
                <div class="flex p-6 border-2 rounded-lg bg-[#007BFF]/10 hover:bg-blue-500/20" :class="{'bg-blue-500/20 border-2 border-[#007BFF]': activeTab === 0 }" @click="activeTab = 0">
                    <div class="flex justify-center items-center mr-4 size-14 shrink-0">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M59.72 44.4299V60.3899C59.72 61.2499 59.03 61.9599 58.16 61.9599H10.07C9.21 61.9599 8.5 61.2599 8.5 60.3899V26.2299C8.5 25.3699 9.2 24.6599 10.07 24.6599H46.06M45.15 30.8499H8.5" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.8998 28.0799C13.0821 28.0799 13.2298 27.9322 13.2298 27.7499C13.2298 27.5677 13.0821 27.4199 12.8998 27.4199C12.7176 27.4199 12.5698 27.5677 12.5698 27.7499C12.5698 27.9322 12.7176 28.0799 12.8998 28.0799Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.6 28.0799C15.7823 28.0799 15.93 27.9322 15.93 27.7499C15.93 27.5677 15.7823 27.4199 15.6 27.4199C15.4178 27.4199 15.27 27.5677 15.27 27.7499C15.27 27.9322 15.4178 28.0799 15.6 28.0799Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.31 28.0799C18.4922 28.0799 18.64 27.9322 18.64 27.7499C18.64 27.5677 18.4922 27.4199 18.31 27.4199C18.1277 27.4199 17.98 27.5677 17.98 27.7499C17.98 27.9322 18.1277 28.0799 18.31 28.0799Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.2302 47.8501C25.8402 43.9501 29.9302 41.3101 34.1102 41.4901C34.2302 41.4901 34.2402 41.6901 34.1102 41.6901C30.1402 41.7801 26.4202 44.4801 25.1602 48.2101C24.9302 48.8501 23.9602 48.4701 24.2302 47.8501Z" fill="#007BFF"/>
                            <path d="M21.7402 51.6801C21.7402 44.8501 27.2802 39.3101 34.1102 39.3101C40.9402 39.3101 46.4802 44.8501 46.4802 51.6801" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M34.3303 51.7601C34.7831 51.7601 35.1503 51.393 35.1503 50.9401C35.1503 50.4872 34.7831 50.1201 34.3303 50.1201C33.8774 50.1201 33.5103 50.4872 33.5103 50.9401C33.5103 51.393 33.8774 51.7601 34.3303 51.7601Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M33.9803 50.5902L41.2203 43.9502C41.2903 43.8802 41.4003 43.9902 41.3303 44.0602L34.6903 51.3002C34.2303 51.8002 33.4803 51.0602 33.9803 50.5902Z" fill="#007BFF"/>
                            <path d="M59.73 41.58C66.2304 41.58 71.5 36.3104 71.5 29.81C71.5 23.3096 66.2304 18.04 59.73 18.04C53.2296 18.04 47.96 23.3096 47.96 29.81C47.96 36.3104 53.2296 41.58 59.73 41.58Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M51.8101 27.4302L53.7201 26.4502V33.1802" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.1299 33.1802H55.1499" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M61.3301 28.3101C61.3301 27.2166 60.4436 26.3301 59.3501 26.3301C58.2566 26.3301 57.3701 27.2166 57.3701 28.3101V31.3201C57.3701 32.4136 58.2566 33.3001 59.3501 33.3001C60.4436 33.3001 61.3301 32.4136 61.3301 31.3201V28.3101Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M61.2101 27.6301L57.6201 32.2801" stroke="#EDEDED" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M67.6402 28.3101C67.6402 27.2166 66.7537 26.3301 65.6602 26.3301C64.5667 26.3301 63.6802 27.2166 63.6802 28.3101V31.3201C63.6802 32.4136 64.5667 33.3001 65.6602 33.3001C66.7537 33.3001 67.6402 32.4136 67.6402 31.3201V28.3101Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M67.5202 27.6301L63.9302 32.2801" stroke="#EDEDED" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M51.3397 55.6401H56.4897M51.3397 57.8801H54.5897M11.7397 34.8101H16.8797M11.7397 37.0501H14.9797" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                    </div>
                    <div>
                        <H3>Excellent Google Speed Scores</H3>
                        <Paragraph>Not all websites are created equal. With CodeNHammer, your website is optimized with snappy load times and the fastest Google speed scores to match.</Paragraph>
                    </div>
                </div>

                <!-- Tab 2 -->
                <div class="flex p-6 border-2 rounded-lg bg-[#007BFF]/10 hover:bg-blue-500/20" :class="{'bg-blue-500/20 border-2 border-[#007BFF]': activeTab === 1 }" @click="activeTab = 1">
                    <div class="flex justify-center items-center mr-4 size-14 shrink-0">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32.6602 64.09V70.74L50.2602 66.3701V62.5801C50.2602 59.3901 50.9602 56.2201 52.3202 53.3301L52.3402 53.28C52.3402 53.28 54.9502 48.76 55.9102 43.55" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.3701 30.6399C22.2301 33.2799 20.8301 36.5299 20.4601 40.1099L16.5301 51.8699C16.3901 52.3099 16.7201 52.7699 17.1801 52.7699H21.8001V61.1699C21.8001 63.2399 23.5601 64.8599 25.6201 64.6899L32.6501 64.0799L36.3901 63.7599" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M48.1098 26.6701C45.8098 25.3001 43.1998 24.3801 40.5098 24.0701" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M59.9299 32.41C59.9299 32.41 59.9299 32.4 59.9299 32.39C59.9299 30.09 58.0699 28.23 55.7699 28.23C54.2499 28.23 52.9299 29.06 52.1999 30.28C51.6599 30.03 51.0699 29.88 50.4399 29.88C48.2399 29.88 46.4599 31.59 46.3099 33.75C44.7099 33.88 43.4399 35.21 43.4399 36.85C43.4399 38.58 44.8399 39.98 46.5699 39.98H59.7199C61.8099 39.98 63.5099 38.28 63.5099 36.19C63.5099 34.1 61.9299 32.54 59.9399 32.42L59.9299 32.41Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M36.6999 21.57C36.6999 21.57 36.6999 21.55 36.6999 21.54C36.6999 18.78 34.4599 16.54 31.6999 16.54C29.8699 16.54 28.2899 17.53 27.4199 19C26.7799 18.7 26.0599 18.51 25.2999 18.51C22.6599 18.51 20.5199 20.56 20.3399 23.16C18.4099 23.32 16.8999 24.92 16.8999 26.88C16.8999 28.95 18.5799 30.63 20.6499 30.63H36.4399C38.9499 30.63 40.9899 28.59 40.9899 26.08C40.9899 23.57 39.0899 21.69 36.6999 21.56V21.57Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M49.9002 10.25V9.27002M45.8902 11.91L45.1902 11.21M44.2302 15.92H43.2402M45.8902 19.93L45.1902 20.63M49.9002 21.6V22.58M53.9102 19.93L54.6102 20.63M55.5802 15.92H56.5602M53.9102 11.91L54.6102 11.21M53.5202 15.92C53.5202 17.9193 51.8995 19.54 49.9002 19.54C47.901 19.54 46.2802 17.9193 46.2802 15.92C46.2802 13.9207 47.901 12.3 49.9002 12.3C51.8995 12.3 53.5202 13.9207 53.5202 15.92Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.8101 57.49C22.1301 57.49 24.4301 57.71 26.2801 56.29" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M27.4102 42.99C27.4102 42.99 28.1002 44.73 29.6302 44.73C31.6602 44.73 32.1102 42.99 32.1102 42.99" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>     
                    </div>
                    <div>
                        <H3>Peace of Mind</H3>
                        <Paragraph>It’s the feeling you get when you’ve made a great first impression. With CodeNHammer, having a standout contractor site with the assets to generate and capture leads does most of the talking.</Paragraph>
                    </div>
                </div>

                <!-- Tab 3 -->
                <div class="flex p-6 border-2 rounded-lg bg-[#007BFF]/10 hover:bg-blue-500/20" :class="{'bg-blue-500/20 border-2 border-[#007BFF]': activeTab === 2 }" @click="activeTab = 2">
                    <div class="flex justify-center items-center mr-4 size-14 shrink-0">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.3098 63.3901V61.7501C24.3098 61.4401 24.1698 61.1501 23.9398 60.9601L12.3698 51.3701C11.1898 50.4001 10.5098 48.9501 10.5098 47.4201V23.7901C10.5098 22.4401 11.6098 21.3401 12.9598 21.3401C14.1798 21.3401 15.2098 22.2301 15.3798 23.4301L17.8498 40.3101M36.3098 63.3901V56.3901C36.3098 54.2201 35.3198 52.1701 33.6198 50.8301L20.8298 40.7001C19.7998 39.8801 18.3098 40.0001 17.4298 40.9801C16.4898 42.0101 16.5798 43.6101 17.6198 44.5401L24.3098 50.4501M36.9298 68.7101V63.3901H21.1898V68.7101" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M55.6898 63.3901V61.7501C55.6898 61.4401 55.8298 61.1501 56.0598 60.9601L67.6298 51.3701C68.8098 50.4001 69.4898 48.9501 69.4898 47.4201V23.7901C69.4898 22.4401 68.3898 21.3401 67.0398 21.3401C65.8198 21.3401 64.7898 22.2301 64.6198 23.4301L62.1498 40.3101M43.6898 63.3901V56.3901C43.6898 54.2201 44.6798 52.1701 46.3798 50.8301L59.1698 40.7001C60.1998 39.8801 61.6898 40.0001 62.5698 40.9801C63.5098 42.0101 63.4198 43.6101 62.3798 44.5401L55.6898 50.4501M43.0698 68.7101V63.3901H58.8098V68.7101" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M54.4403 25.73H52.0503M54.4403 25.73C54.4403 33.705 47.9751 40.17 40.0001 40.17C32.0251 40.17 25.5601 33.705 25.5601 25.73M54.4403 25.73C54.4403 17.755 47.9751 11.29 40.0001 11.29M25.5601 25.73C25.5601 17.755 32.0251 11.29 40.0001 11.29M25.5601 25.73H27.9501M40.0001 11.29V13.67M29.7901 15.52L31.4801 17.2M29.7901 35.93L31.4801 34.25M40.0001 40.16V37.78M50.2101 35.93L48.5201 34.25M50.2101 15.52L48.5201 17.2M40.0001 16.8V25.73L45.0201 30.74M40.7801 25.73C40.7801 26.1608 40.4308 26.51 40.0001 26.51C39.5693 26.51 39.2201 26.1608 39.2201 25.73C39.2201 25.2993 39.5693 24.95 40.0001 24.95C40.4308 24.95 40.7801 25.2993 40.7801 25.73Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>    
                    </div>
                    <div>
                        <H3>Save Time</H3>
                        <Paragraph>As a contractor, you’ve got work to do, and it’s probably not online. Let web design professionals from CodeNHammer do what they do best: keep you offline and on site.</Paragraph>
                    </div>
                </div>

            </div>
            <!-- Tabs Container Ends -->

        </div>
        <!-- Left Side Ends -->

        <!-- Right Side Starts -->
        <div class="relative *:mb-4 *:w-full *:lg:mb-0 *:rounded-lg">
            <Image src={Benefit1} :class="{ 'active': activeTab === 0 }" x-show.transition.in.opacity.duration.600="activeTab === 0" alt="Picture of desktop computer showing fast speed score on a speedometer"></Image>
            <Image src={Benefit2} :class="{ 'active': activeTab === 1 }" x-show.transition.in.opacity.duration.600="activeTab === 1" alt="Picture of construction business owner relaxing with peace of mind"></Image>
            <Image src={Benefit3} :class="{ 'active': activeTab === 2 }" x-show.transition.in.opacity.duration.600="activeTab === 2" alt="Picture of a small clock in the office of a construction business owner"></Image>
        </div>
        <!-- Right Side Ends -->
    </div>
</section>