---
//Components
import Form from "../components/Form.astro";
---

<section class="bg-blue-500/5">

    <!-- Background Grid Start -->
    <div class="bg-[linear-gradient(to_right,#007bff25_1px,transparent_1px),linear-gradient(to_bottom,#007bff25_1px,transparent_1px)] bg-[size:80px_100px] [mask-image:radial-gradient(ellipse_80%_90%_at_50%_50%,#000_90%,transparent_100%)]">
        
        <div class="py-8 px-4 mx-auto max-w-screen-md lg:py-16">

            <!-- Header & Description Container -->
            <div class="space-y-2 mb-8 text-center">
                <span class="text-sm font-medium text-blue-500">Contact Us</span>
                <h2 class="text-4xl font-bold text-neutral-900">Reaching Out is Just a Click Away!</h2>
                <p class="text-neutral-500 text-base">Have questions or need help? Our team is here to assist you. Reach out to us and we'll get back to you as soon as possible. We're committed to your success with CodeNHammer.</p>
            </div>
            
            <div class="p-6 mx-auto bg-white border border-blue-600/50 rounded-lg shadow sm:max-w-xl sm:p-8">
                <Form></Form>
            </div>
    
        </div>

    </div>
    <!-- Background Grid End -->
    
</section>