---
import Paragraph from "../components/Paragraph.astro";
import Subheading from "../components/Subheading.astro";
import Tagline from "../components/Tagline.astro";
---

<section class="bg-zinc-950">
        <div class="py-8 grid grid-cols-1 gap-24 lg:grid-cols-2 lg:py-16 px-4 mx-auto max-w-screen-md">
            <div class="">
                <Tagline>Contact Us</Tagline>
                <Subheading>Contact Us</Subheading>
                <Paragraph>Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</Paragraph>
            </div>
            
            <form action="https://formsubmit.co/hello@codenhammer.com" method="POST" class="space-y-8">
                <input type="hidden" name="_next" value="/thankyou.html">
                <input type="hidden" name="_captcha" value="false">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-zinc-200">Your email</label>
                    <input type="email" name="email" id="email" class="border-2 border-gray-800 bg-zinc-950 rounded-md text-zinc-200 text-sm block w-full p-2.5" placeholder="name@email.com" required>
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-zinc-200">Subject</label>
                    <input type="text" name="_subject" id="subject" class="border-2 border-gray-800 bg-zinc-950 rounded-md text-zinc-200 block p-3 w-full text-sm" placeholder="Let us know how we can help you" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-zinc-200">Your message</label>
                    <textarea id="message" name="message" rows="6" class="border-2 border-gray-800 bg-zinc-950 rounded-md text-zinc-200 block p-2.5 w-full text-sm" placeholder="Leave a message..." required></textarea>
                </div>
                <button type="submit" class="inline-flex items-center justify-center px-6 py-3 text-base text-center text-white rounded-md bg-[#007BFF] hover:bg-[#0070E8]">
                    Send 
                    <svg class="ml-1 size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m22 2l-7 20l-4-9l-9-4Zm0 0L11 13"/></svg>
                </button>
            </form>
        </div>
  </section>