---
//Components
import Accordion from "../components/Accordion.astro";

---

<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl space-y-8 sm:py-16 lg:px-6">

        <!-- Header & Description Container -->
        <div class="max-w-screen-md space-y-2">
            <span class="text-sm font-medium text-blue-500">Frequently Asked Questions</span>
            <h2 class="text-4xl font-bold text-neutral-900">Got Questions? We've Got Answers!</h2>
        </div>

        <!-- Accordion Component Container -->
        <div class="max-w-screen-xl">
            <Accordion />
        </div> 

    </div>
</section>