---

---

<section class="bg-[#0056B3] rounded-t-xl">

    <!-- Background Grid -->
    <div class="bg-[linear-gradient(to_right,#f5f5f550_1px,transparent_1px),linear-gradient(to_bottom,#f5f5f550_1px,transparent_1px)] bg-[size:80px_100px] [mask-image:radial-gradient(ellipse_80%_90%_at_50%_50%,#000_90%,transparent_100%)]">
        
        <!-- Container Start -->
        <div class="mx-auto py-16 px-4 max-w-7xl">

            <div class="space-y-2 max-w-3xl mb-8">
                <span class="text-sm text-neutral-100 font-medium">Packed with Powerful Features & Benefits</span>
                <h2 class="text-4xl text-neutral-50 font-bold">Everything You Need to Build Stunning, High-Performance Websites</h2>
            </div>
            
            <!-- Grids Start -->
            <div class="relative z-10 grid gap-3 grid-cols-6">

                <!-- Grid 1 Start -->
                <div class="group relative flex col-span-full lg:col-span-3 overflow-hidden p-8 rounded-xl bg-white/10 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="absolute flex justify-center items-center inset-0 p-4 opacity-40 transition ease-in-out group-hover:opacity-60 group-hover:-translate-y-1">
                        <svg width="100%" viewBox="0 0 858 486" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_531_52" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="858" height="486">
                                <rect width="858" height="486" fill="url(#paint0_linear_531_52)"/>
                            </mask>
                            <g mask="url(#mask0_531_52)">
                            <rect width="49" height="15" rx="1" fill="white"/>
                            <rect x="10" y="18" width="328" height="15" rx="1" fill="white"/>
                            <rect x="19" y="47" width="172" height="15" rx="1" fill="white"/>
                            <rect x="19" y="65" width="241" height="15" rx="1" fill="white"/>
                            <rect x="31" y="83" width="343" height="15" rx="1" fill="white"/>
                            <rect x="31" y="101" width="431" height="15" rx="1" fill="white"/>
                            <rect x="31" y="119" width="709" height="15" rx="1" fill="white"/>
                            <rect x="19" y="137" width="30" height="15" rx="1" fill="white"/>
                            <rect x="19" y="155" width="160" height="15" rx="1" fill="white"/>
                            <rect x="19" y="173" width="421" height="15" rx="1" fill="white"/>
                            <rect x="31" y="202" width="110" height="15" rx="1" fill="white"/>
                            <rect x="31" y="220" width="524" height="15" rx="1" fill="white"/>
                            <rect x="31" y="238" width="69" height="15" rx="1" fill="white"/>
                            <rect x="49" y="267" width="114" height="15" rx="1" fill="white"/>
                            <rect x="49" y="285" width="515" height="15" rx="1" fill="white"/>
                            <rect x="70" y="303" width="704" height="15" rx="1" fill="white"/>
                            <rect x="70" y="321" width="780" height="15" rx="1" fill="white"/>
                            <rect x="49" y="339" width="45" height="15" rx="1" fill="white"/>
                            <rect x="49" y="368" width="103" height="15" rx="1" fill="white"/>
                            <rect x="49" y="386" width="519" height="15" rx="1" fill="white"/>
                            <rect x="49" y="415" width="88" height="15" rx="1" fill="white"/>
                            <rect x="49" y="433" width="730" height="15" rx="1" fill="white"/>
                            <rect x="31" y="462" width="44" height="15" rx="1" fill="white"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_531_52" x1="429" y1="0" x2="429" y2="486" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.521"/>
                                    <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    
                    <!-- Header -->
                    <div class="size-fit m-auto relative">
                        <div class="relative h-24 w-56 flex items-center z-10">
                            <span class="w-fit block mx-auto text-5xl font-bold text-white">100%</span>
                        </div>
                        <h2 class="mt-6 text-center font-semibold text-neutral-50 text-3xl z-10">Customizable</h2>
                    </div>
                </div>
                <!-- Grid 1 End -->

                <!-- Grid 2 Start -->
                <div class="group grid col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white/10 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 opacity-70 transition ease-in-out group-hover:opacity-100 group-hover:-translate-y-1 lg:px-6">
                        <svg width="100%" viewBox="0 0 355 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_506_45" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="355" height="190">
                            <rect width="355" height="190" fill="url(#paint0_linear_506_45)"/>
                            </mask>
                            <g mask="url(#mask0_506_45)">
                            <path d="M24 190V17C24 15.3431 25.3431 14 27 14H328C329.657 14 331 15.3431 331 17V49.5" stroke="white"/>
                            <path d="M224 190V52C224 50.3431 225.343 49 227 49H338C339.657 49 341 50.3431 341 52V89.5" stroke="white"/>
                            <path d="M295.5 92C295.5 90.6193 296.619 89.5 298 89.5H352C353.381 89.5 354.5 90.6193 354.5 92V189.5H295.5V92Z" stroke="white"/>
                            <path d="M24.5 17C24.5 15.6193 25.6193 14.5 27 14.5H328C329.381 14.5 330.5 15.6193 330.5 17V29.5H24.5V17Z" stroke="white"/>
                            <circle cx="36" cy="22" r="2.5" stroke="white"/>
                            <circle cx="46" cy="22" r="2.5" stroke="white"/>
                            <circle cx="56" cy="22" r="2.5" stroke="white"/>
                            <rect x="93.5" y="19.5" width="168" height="5" rx="1.5" stroke="white"/>
                            <path d="M224.5 52C224.5 50.6193 225.619 49.5 227 49.5H338C339.381 49.5 340.5 50.6193 340.5 52V62.5H224.5V52Z" stroke="white"/>
                            <rect x="261.35" y="53.35" width="44.3" height="4.3" rx="1.65" stroke="white" stroke-width="0.7"/>
                            <path d="M295.5 92C295.5 90.6193 296.619 89.5 298 89.5H352C353.381 89.5 354.5 90.6193 354.5 92V101.5H295.5V92Z" stroke="white"/>
                            <rect x="310.35" y="93.35" width="29.3" height="4.3" rx="1.65" stroke="white" stroke-width="0.7"/>
                            <path d="M178.872 74.4302C179.02 73.1728 177.542 72.4878 176.785 73.4603L157.278 98.4923C156.633 99.3173 157.183 100.572 158.188 100.572H175.658C176.37 100.572 176.923 101.24 176.833 101.997L175.133 116.572C174.983 117.827 176.458 118.512 177.217 117.539L196.722 92.5074C197.367 91.6824 196.817 90.4275 195.812 90.4275H178.342C177.63 90.4275 177.077 89.76 177.167 89.0025L178.872 74.4302Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M231 58L229 55.8462L231 54" stroke="white" stroke-width="0.5"/>
                            <path d="M238 54L240 56.1538L238 58" stroke="white" stroke-width="0.5"/>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_506_45" x1="177.5" y1="0" x2="177.5" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.521"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            </defs>
                        </svg>
                    </div>    

                    <!-- Header & Description -->
                    <div class="mt-6 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">Fast & Responsive</h2>
                        <p class="text-sm text-neutral-100">CodeNHammer components are lightweight and optimized for performance, keeping your websites fast and responsive.</p>
                    </div>

                </div>
                <!-- Grid 2 End -->

                <!-- Grid 3 Start -->
                <div class="group grid col-span-full lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white/10 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 flex justify-center items-center opacity-70 transition ease-in-out group-hover:opacity-100 group-hover:-translate-y-1 lg:px-6">
                        <svg width="190" height="190" viewBox="0 0 190 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_571_5831)">
                            <mask id="mask0_571_5831" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="190" height="190">
                            <rect width="190" height="190" fill="url(#paint0_linear_571_5831)"/>
                            </mask>
                            <g mask="url(#mask0_571_5831)">
                            <path d="M28.6901 47.0493L20.0688 55.6943" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.0687 55.6941L50.6112 86.2366C52.9862 88.6117 56.8574 88.6117 59.2562 86.2366C61.6312 83.8616 61.6312 79.9904 59.2562 77.5916L28.7137 47.0491L17.0762 44.0566L20.0687 55.6941Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M57.3799 75.7153L48.7349 84.3603" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.3672 51.3716L52.8909 79.8716" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.7663 67.9487L15.4375 79.3012L25.8163 89.6562L37.145 78.3275" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M40.9688 53.7702L52.2975 42.4414L62.6762 52.7964L51.3238 64.1252" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M59.0663 56.3829L55.29 52.6304" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M54.8152 60.6343L52.2739 58.0693" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M33.6537 81.8192L29.8774 78.043" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M29.4026 86.0466L26.8613 83.5054" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M160.193 64.8612L164.255 68.9225L174.562 58.615L170.501 54.5537L160.193 64.8612Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M146.617 72.4687L139.026 64.8779L120.25 83.6534L127.841 91.2442L146.617 72.4687Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M168.601 56.4537C168.601 56.4537 166.488 55.4325 165.181 53.0337L164.706 48.7587L161.191 45.2437C156.869 40.9212 150.361 39.615 144.685 41.9425L139.864 43.9375C139.864 43.9375 152.76 43.605 152.998 52.44" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M162.307 62.7476C162.307 62.7476 160.764 60.4439 158.365 59.1376L145.825 71.6776L139.792 65.6451L152.974 52.4639" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M106.353 131.171L114 138.676V150.456L102.98 141.953" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.4327 95.8311C93.4327 95.8311 71.7965 109.084 84.5027 143.759H102.339C115.045 109.084 93.409 95.8311 93.409 95.8311" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M80.489 131.171L72.8652 138.676V150.456L83.8615 141.953" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M105.545 152.023V155.871" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M99.4888 152.902V158.84" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M81.3203 152.023V155.871" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M87.3765 152.902V158.84" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.4326 153.591V161.737" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.4328 119.795C95.8594 119.795 97.8266 117.828 97.8266 115.401C97.8266 112.974 95.8594 111.007 93.4328 111.007C91.0062 111.007 89.0391 112.974 89.0391 115.401C89.0391 117.828 91.0062 119.795 93.4328 119.795Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M149.021 74.8044C149.82 74.6193 150.619 75.1166 150.784 75.9196C153.39 88.5952 151.785 101.791 146.191 113.49C140.596 125.189 131.332 134.722 119.83 140.651C119.101 141.027 118.212 140.717 117.855 139.979C117.498 139.241 117.807 138.355 118.535 137.978C129.432 132.343 138.208 123.301 143.512 112.209C148.816 101.118 150.346 88.6097 147.891 76.5901C147.727 75.7869 148.222 74.9895 149.021 74.8044Z" fill="#EDEDED"/>
                            <path d="M68.9971 140.724C68.6625 141.473 67.7835 141.81 67.0437 141.457C57.0581 136.689 48.5936 129.221 42.6175 119.885C36.6415 110.549 33.4037 99.7347 33.2555 88.6704C33.2445 87.8507 33.9187 87.1936 34.7385 87.2031C35.5582 87.2127 36.213 87.8852 36.225 88.7049C36.3792 99.1901 39.454 109.436 45.1179 118.284C50.7818 127.133 58.7986 134.215 68.2558 138.745C68.9952 139.1 69.3317 139.976 68.9971 140.724Z" fill="#EDEDED"/>
                            <path d="M57.748 41.67C57.2541 41.0157 57.3831 40.0832 58.0495 39.6058C64.424 35.0397 71.6442 31.7784 79.2947 30.0158C87.4277 28.142 95.8644 28.0038 104.054 29.6104C112.244 31.217 120.004 34.5321 126.826 39.3396C133.244 43.8619 138.697 49.6091 142.874 56.2451C143.311 56.9389 143.078 57.8509 142.373 58.2702C141.669 58.6894 140.76 58.457 140.322 57.7638C136.359 51.4862 131.193 46.0483 125.116 41.7664C118.635 37.1993 111.263 34.0499 103.483 32.5236C95.7025 30.9974 87.6876 31.1286 79.9612 32.9087C72.7173 34.5777 65.8796 37.6609 59.8386 41.9761C59.1716 42.4526 58.2419 42.3243 57.748 41.67Z" fill="#EDEDED"/>
                            </g>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_571_5831" x1="95" y1="0" x2="95" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.521"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            <clipPath id="clip0_571_5831">
                            <rect width="190" height="190" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                                                                                    
                    </div> 

                    <!-- Header & Description -->
                    <div class="mt-6 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">Custom Built for Your Needs</h2>
                        <p class="text-sm text-neutral-100">Unlike generic libraries, CodeNHammer is made for the needs of small businesses and contractors, meaning less customization and faster results.</p>
                    </div>

                </div>
                <!-- Grid 3 End -->

                <!-- Grid 4 Start -->
                <div class="group grid col-span-full lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white/10 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 flex justify-center items-center opacity-70 transition ease-in-out group-hover:opacity-100 group-hover:-translate-y-1 lg:px-6">
                        <svg width="190" height="190" viewBox="0 0 190 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_571_5866)">
                            <mask id="mask0_571_5866" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="190" height="190">
                            <rect width="190" height="190" fill="url(#paint0_linear_571_5866)"/>
                            </mask>
                            <g mask="url(#mask0_571_5866)">
                            <path d="M57.7364 150.551V146.656C57.7364 145.92 57.4039 145.231 56.8577 144.78L29.3789 122.004C26.5764 119.7 24.9614 116.256 24.9614 112.623V56.5014C24.9614 53.2951 27.5739 50.6826 30.7802 50.6826C33.6777 50.6826 36.1239 52.7964 36.5277 55.6464L42.3939 95.7364" stroke="#EDEDED" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M86.2362 150.551V133.926C86.2362 128.772 83.885 123.904 79.8475 120.721L49.4712 96.6625C47.025 94.715 43.4862 95 41.3962 97.3275C39.1637 99.7737 39.3775 103.574 41.8475 105.782L57.7362 119.819" stroke="#EDEDED" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M87.7092 163.186V150.551H50.3267V163.186" stroke="#EDEDED" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M132.264 150.551V146.656C132.264 145.92 132.596 145.231 133.142 144.78L160.621 122.004C163.424 119.7 165.039 116.256 165.039 112.623V56.5014C165.039 53.2951 162.426 50.6826 159.22 50.6826C156.322 50.6826 153.876 52.7964 153.472 55.6464L147.606 95.7364" stroke="#EDEDED" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M103.764 150.551V133.926C103.764 128.772 106.115 123.904 110.152 120.721L140.529 96.6625C142.975 94.715 146.514 95 148.604 97.3275C150.836 99.7737 150.622 103.574 148.152 105.782L132.264 119.819" stroke="#EDEDED" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M102.291 163.186V150.551H139.674V163.186" stroke="#EDEDED" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M94.9991 95.404C113.94 95.404 129.294 80.0496 129.294 61.109C129.294 42.1684 113.94 26.814 94.9991 26.814C76.0585 26.814 60.7041 42.1684 60.7041 61.109C60.7041 80.0496 76.0585 95.404 94.9991 95.404Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M94.999 62.9613C96.0221 62.9613 96.8515 62.132 96.8515 61.1088C96.8515 60.0857 96.0221 59.2563 94.999 59.2563C93.9759 59.2563 93.1465 60.0857 93.1465 61.1088C93.1465 62.132 93.9759 62.9613 94.999 62.9613Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M94.999 26.814V32.4665" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M70.7505 36.8604L74.7642 40.8504" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M129.295 61.1089H123.619" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M60.7041 61.1089H66.3804" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M70.7505 85.3338L74.7642 81.3438" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M94.999 95.38V89.7275" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M119.248 85.3338L115.234 81.3438" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M119.248 36.8604L115.234 40.8504" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M94.999 39.9004V61.1091L106.922 73.0079" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_571_5866" x1="95" y1="0" x2="95" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.521"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            <clipPath id="clip0_571_5866">
                            <rect width="190" height="190" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                                                                                                                                                                          
                    </div> 

                    <!-- Header & Description -->
                    <div class="mt-6 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">Save Time, Build Fast</h2>
                        <p class="text-sm text-neutral-100">Stop wasting time on repetitive tasks. With ready-made components and layouts, CodeNHammer lets you focus on delivering high-quality websites quickly.</p>
                    </div>

                </div>
                <!-- Grid 4 End -->

                <!-- Grid 5 Start -->
                <div class="group grid col-span-full lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white/10 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 flex justify-center items-center opacity-70 transition ease-in-out group-hover:opacity-100 group-hover:-translate-y-1 lg:px-6">
                        <svg width="100%" viewBox="0 0 356 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_499_64" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="356" height="190">
                            <rect width="356" height="190" fill="url(#paint0_linear_499_64)"/>
                            </mask>
                            <g mask="url(#mask0_499_64)">
                            <rect x="32.0942" y="7.896" width="293.002" height="174.875" fill="#007BFF" fill-opacity="0.27" stroke="#007BFF"/>
                            <rect x="28.5" y="4.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <rect x="320.627" y="4.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <rect x="320.627" y="179.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <rect x="28.5" y="178.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <path d="M192.777 82.8014H175.179V48H192.777C202.275 48 210 55.8042 210 65.3987C210 74.9932 202.275 82.8014 192.777 82.8014ZM180.821 77.1013H192.777C199.164 77.1013 204.358 71.8506 204.358 65.4026C204.358 58.9546 199.16 53.704 192.777 53.704H180.821V77.1013ZM180.821 82.8014H163.226C153.729 82.8014 146.004 74.9971 146.004 65.4026C146.004 55.8081 153.729 48 163.226 48H180.825V82.8014H180.821ZM163.226 53.7001C156.84 53.7001 151.646 58.9507 151.646 65.3987C151.646 71.8467 156.84 77.1013 163.226 77.1013H175.183V53.7001H163.226ZM180.821 111.899H163.226C153.729 111.899 146.004 104.095 146.004 94.5C146.004 84.9055 153.729 77.1013 163.226 77.1013H180.825V111.899H180.821ZM163.226 82.8014C156.84 82.8014 151.646 88.052 151.646 94.5C151.646 100.948 156.844 106.199 163.226 106.199H175.183V82.8014H163.226ZM163.319 141C153.771 141 146 133.196 146 123.601C146 114.007 153.725 106.203 163.223 106.203H180.821V123.411C180.821 133.111 172.969 141 163.319 141ZM163.226 111.899C160.156 111.903 157.213 113.137 155.043 115.33C152.872 117.523 151.65 120.496 151.646 123.597C151.646 130.049 156.882 135.296 163.322 135.296C169.862 135.296 175.186 129.964 175.186 123.407V111.899H163.226ZM192.777 111.899H192.401C182.904 111.899 175.179 104.095 175.179 94.5C175.179 84.9055 182.904 77.1013 192.401 77.1013H192.777C202.275 77.1013 210 84.9055 210 94.5C210 104.095 202.275 111.899 192.777 111.899ZM192.405 82.8014C186.019 82.8014 180.825 88.052 180.825 94.5C180.825 100.948 186.023 106.199 192.405 106.199H192.781C199.168 106.199 204.361 100.948 204.361 94.5C204.361 88.052 199.16 82.8014 192.777 82.8014H192.405Z" fill="white"/>
                            <g filter="url(#filter0_f_499_64)">
                            <path d="M285.452 41.5872L248.264 28.0642C247.962 27.9553 247.635 27.9345 247.322 28.0045C247.009 28.0744 246.722 28.232 246.495 28.459C246.268 28.6859 246.111 28.9728 246.041 29.286C245.971 29.5993 245.991 29.9259 246.1 30.2279L259.623 67.4163C259.741 67.743 259.957 68.0254 260.242 68.225C260.526 68.4246 260.865 68.5318 261.212 68.5319C261.551 68.5323 261.882 68.4309 262.162 68.2411C262.442 68.0512 262.659 67.7815 262.784 67.467L269.275 51.2393L285.503 44.7483C285.824 44.6266 286.1 44.4103 286.295 44.128C286.49 43.8457 286.594 43.5108 286.594 43.1677C286.594 42.8247 286.49 42.4898 286.295 42.2075C286.1 41.9252 285.824 41.7089 285.503 41.5872H285.452Z" fill="black" fill-opacity="0.25"/>
                            <path d="M285.282 42.0571L285.364 42.0872H285.403C285.596 42.1764 285.762 42.3158 285.883 42.4915L286.295 42.2075L285.883 42.4916C286.021 42.6904 286.094 42.9262 286.094 43.1677C286.094 43.4093 286.021 43.6451 285.883 43.8439L286.295 44.128L285.883 43.8439C285.746 44.0427 285.552 44.1951 285.326 44.2808L285.326 44.2807L285.317 44.284L269.09 50.7751L268.891 50.8547L268.811 51.0536L262.32 67.2813L262.32 67.282C262.232 67.5035 262.079 67.6934 261.882 67.8271L262.145 68.2159L261.882 67.8271C261.684 67.9608 261.451 68.0322 261.213 68.0319H261.213C260.968 68.0318 260.729 67.9564 260.529 67.8158C260.329 67.6752 260.177 67.4764 260.094 67.2463L260.093 67.2454L246.571 30.0582C246.571 30.058 246.57 30.0578 246.57 30.0576C246.494 29.8452 246.479 29.6153 246.529 29.3949C246.578 29.1744 246.689 28.9723 246.849 28.8125C247.008 28.6527 247.21 28.5417 247.431 28.4925C247.651 28.4433 247.881 28.4578 248.094 28.5343C248.094 28.5344 248.094 28.5344 248.094 28.5345L285.282 42.0571Z" stroke="black" stroke-opacity="0.25"/>
                            </g>
                            <path d="M284.94 42.0331L285.038 42.0686C285.046 42.0769 285.054 42.086 285.06 42.0957L285.078 42.0834L285.06 42.0957C285.082 42.1275 285.094 42.1652 285.094 42.2039C285.094 42.2425 285.082 42.2802 285.06 42.312L286.295 43.1641L285.06 42.312C285.038 42.3438 285.007 42.3682 284.971 42.3819L284.959 42.3867L284.946 42.3917L268.718 48.8827L268.122 49.1215L267.883 49.7184L261.392 65.9461L261.391 65.9482C261.377 65.9836 261.352 66.0139 261.321 66.0353L262.126 67.2235L261.321 66.0353C261.289 66.0567 261.252 66.0681 261.214 66.0681H261.213C261.174 66.0681 261.136 66.056 261.104 66.0335C261.072 66.011 261.047 65.9792 261.034 65.9424L261.033 65.9398L247.511 28.755C247.511 28.7547 247.511 28.7544 247.511 28.7541C247.499 28.7203 247.497 28.6839 247.505 28.6489C247.512 28.6136 247.53 28.5813 247.556 28.5558C247.581 28.5302 247.614 28.5124 247.649 28.5046C247.684 28.4968 247.72 28.499 247.754 28.511C247.754 28.5111 247.755 28.5112 247.755 28.5113L284.94 42.0331ZM260.242 67.2611C260.526 67.4608 260.865 67.5679 261.212 67.5681L260.242 67.2611Z" fill="#007BFF" stroke="white" stroke-width="3"/>
                            <g filter="url(#filter1_d_499_64)">
                            <rect width="28" height="19" transform="translate(277.875 58.875)" fill="#007BFF"/>
                            <path d="M283.095 64.775H284.305L286.115 67.935L287.915 64.775H289.115L286.645 69.015V71.875H285.585V69.015L283.095 64.775ZM291.802 71.995C290.282 71.995 289.292 70.915 289.292 69.225C289.292 67.535 290.282 66.455 291.802 66.455C293.322 66.455 294.312 67.535 294.312 69.225C294.312 70.915 293.322 71.995 291.802 71.995ZM290.372 69.225C290.372 70.385 290.892 71.085 291.802 71.085C292.712 71.085 293.232 70.385 293.232 69.225C293.232 68.065 292.712 67.365 291.802 67.365C290.892 67.365 290.372 68.065 290.372 69.225ZM299.832 71.875H298.852L298.842 71.005C298.562 71.695 297.962 71.995 297.272 71.995C296.102 71.995 295.502 71.135 295.502 69.985V66.575H296.542V69.665C296.542 70.605 296.822 71.115 297.542 71.115C298.292 71.115 298.792 70.605 298.792 69.665V66.575H299.832V71.875Z" fill="white"/>
                            </g>
                            <g filter="url(#filter2_f_499_64)">
                            <path d="M247.452 113.587L210.264 100.064C209.962 99.9553 209.635 99.9345 209.322 100.004C209.009 100.074 208.722 100.232 208.495 100.459C208.268 100.686 208.111 100.973 208.041 101.286C207.971 101.599 207.991 101.926 208.1 102.228L221.623 139.416C221.741 139.743 221.957 140.025 222.242 140.225C222.526 140.425 222.865 140.532 223.212 140.532C223.551 140.532 223.882 140.431 224.162 140.241C224.442 140.051 224.659 139.782 224.784 139.467L231.275 123.239L247.503 116.748C247.824 116.627 248.1 116.41 248.295 116.128C248.49 115.846 248.594 115.511 248.594 115.168C248.594 114.825 248.49 114.49 248.295 114.208C248.1 113.925 247.824 113.709 247.503 113.587H247.452Z" fill="black" fill-opacity="0.25"/>
                            <path d="M247.282 114.057L247.364 114.087H247.403C247.596 114.176 247.762 114.316 247.883 114.492L248.295 114.208L247.883 114.492C248.021 114.69 248.094 114.926 248.094 115.168C248.094 115.409 248.021 115.645 247.883 115.844L248.295 116.128L247.883 115.844C247.746 116.043 247.552 116.195 247.326 116.281L247.326 116.281L247.317 116.284L231.09 122.775L230.891 122.855L230.811 123.054L224.32 139.281L224.32 139.282C224.232 139.503 224.079 139.693 223.882 139.827L224.145 140.216L223.882 139.827C223.684 139.961 223.451 140.032 223.213 140.032H223.213C222.968 140.032 222.729 139.956 222.529 139.816C222.329 139.675 222.177 139.476 222.094 139.246L222.093 139.245L208.571 102.058C208.571 102.058 208.57 102.058 208.57 102.058C208.494 101.845 208.479 101.615 208.529 101.395C208.578 101.174 208.689 100.972 208.849 100.813C209.008 100.653 209.21 100.542 209.431 100.492C209.651 100.443 209.881 100.458 210.094 100.534C210.094 100.534 210.094 100.534 210.094 100.534L247.282 114.057Z" stroke="black" stroke-opacity="0.25"/>
                            </g>
                            <path d="M246.94 114.033L247.038 114.069C247.046 114.077 247.054 114.086 247.06 114.096C247.082 114.128 247.094 114.165 247.094 114.204C247.094 114.242 247.082 114.28 247.06 114.312C247.038 114.344 247.007 114.368 246.971 114.382L246.959 114.387L246.946 114.392L230.718 120.883L230.122 121.121L229.883 121.718L223.392 137.946L223.391 137.948C223.377 137.984 223.352 138.014 223.321 138.035L224.116 139.21L223.321 138.035C223.289 138.057 223.252 138.068 223.214 138.068H223.213C223.174 138.068 223.136 138.056 223.104 138.034L222.242 139.261L223.104 138.034C223.072 138.011 223.047 137.979 223.034 137.942L223.033 137.94L209.511 100.755C209.511 100.755 209.511 100.754 209.511 100.754C209.499 100.72 209.497 100.684 209.505 100.649C209.512 100.614 209.53 100.581 209.556 100.556C209.581 100.53 209.614 100.512 209.649 100.505C209.684 100.497 209.72 100.499 209.754 100.511C209.754 100.511 209.755 100.511 209.755 100.511L246.94 114.033Z" fill="#61C454" stroke="white" stroke-width="3"/>
                            <g filter="url(#filter3_d_499_64)">
                            <rect width="59" height="19" transform="translate(239.875 130.875)" fill="#61C454"/>
                            <path d="M248.015 136.775C250.235 136.775 251.485 138.055 251.485 140.335C251.485 142.605 250.265 143.875 248.075 143.875H245.745V136.775H248.015ZM246.805 142.895H248.015C249.605 142.895 250.385 142.055 250.385 140.335C250.385 138.595 249.605 137.755 248.015 137.755H246.805V142.895ZM252.395 141.225C252.395 139.535 253.385 138.455 254.905 138.455C256.145 138.455 257.225 139.275 257.285 141.165L257.295 141.525H253.485C253.565 142.515 254.065 143.095 254.905 143.095C255.435 143.095 255.905 142.795 256.125 142.285L257.215 142.365C256.905 143.365 255.975 143.995 254.905 143.995C253.385 143.995 252.395 142.915 252.395 141.225ZM253.505 140.725H256.195C256.055 139.705 255.505 139.355 254.905 139.355C254.125 139.355 253.635 139.865 253.505 140.725ZM262.792 138.575L260.852 143.875H259.642L257.702 138.575H258.772L260.252 142.805L261.722 138.575H262.792ZM263.196 141.225C263.196 139.535 264.186 138.455 265.706 138.455C266.946 138.455 268.026 139.275 268.086 141.165L268.096 141.525H264.286C264.366 142.515 264.866 143.095 265.706 143.095C266.236 143.095 266.706 142.795 266.926 142.285L268.016 142.365C267.706 143.365 266.776 143.995 265.706 143.995C264.186 143.995 263.196 142.915 263.196 141.225ZM264.306 140.725H266.996C266.856 139.705 266.306 139.355 265.706 139.355C264.926 139.355 264.436 139.865 264.306 140.725ZM269.397 136.775H270.437V142.665C270.437 142.905 270.547 143.015 270.777 143.015H271.217V143.875H270.557C269.857 143.875 269.397 143.425 269.397 142.715V136.775ZM274.466 143.995C272.946 143.995 271.956 142.915 271.956 141.225C271.956 139.535 272.946 138.455 274.466 138.455C275.986 138.455 276.976 139.535 276.976 141.225C276.976 142.915 275.986 143.995 274.466 143.995ZM273.036 141.225C273.036 142.385 273.556 143.085 274.466 143.085C275.376 143.085 275.896 142.385 275.896 141.225C275.896 140.065 275.376 139.365 274.466 139.365C273.556 139.365 273.036 140.065 273.036 141.225ZM278.165 145.375V138.575H279.135L279.165 139.345C279.455 138.775 280.005 138.455 280.775 138.455C282.335 138.455 283.055 139.745 283.055 141.225C283.055 142.705 282.335 143.995 280.775 143.995C280.045 143.995 279.505 143.705 279.205 143.155V145.375H278.165ZM279.105 141.225C279.105 142.175 279.535 143.085 280.535 143.085C281.545 143.085 281.955 142.185 281.955 141.225C281.955 140.275 281.545 139.365 280.535 139.365C279.525 139.365 279.105 140.275 279.105 141.225ZM283.958 141.225C283.958 139.535 284.948 138.455 286.468 138.455C287.708 138.455 288.788 139.275 288.848 141.165L288.858 141.525H285.048C285.128 142.515 285.628 143.095 286.468 143.095C286.998 143.095 287.468 142.795 287.688 142.285L288.778 142.365C288.468 143.365 287.538 143.995 286.468 143.995C284.948 143.995 283.958 142.915 283.958 141.225ZM285.068 140.725H287.758C287.618 139.705 287.068 139.355 286.468 139.355C285.688 139.355 285.198 139.865 285.068 140.725ZM290.05 138.575H291L291.03 139.575C291.2 138.895 291.6 138.575 292.29 138.575H292.8V139.435H292.28C291.46 139.435 291.09 139.885 291.09 140.775V143.875H290.05V138.575Z" fill="white"/>
                            </g>
                            <g filter="url(#filter4_f_499_64)">
                            <path d="M81.1418 82.5872L118.33 69.0642C118.632 68.9553 118.959 68.9345 119.272 69.0045C119.585 69.0744 119.872 69.232 120.099 69.459C120.326 69.6859 120.484 69.9728 120.554 70.286C120.624 70.5993 120.603 70.9259 120.494 71.2279L106.971 108.416C106.853 108.743 106.637 109.025 106.353 109.225C106.068 109.425 105.729 109.532 105.382 109.532C105.043 109.532 104.713 109.431 104.432 109.241C104.152 109.051 103.935 108.782 103.81 108.467L97.3188 92.2393L81.0911 85.7483C80.7704 85.6266 80.4943 85.4103 80.2994 85.128C80.1046 84.8457 80.0002 84.5108 80.0002 84.1677C80.0002 83.8247 80.1046 83.4898 80.2994 83.2075C80.4943 82.9252 80.7704 82.7089 81.0911 82.5872H81.1418Z" fill="black" fill-opacity="0.25"/>
                            <path d="M81.3127 83.0571L81.2299 83.0872H81.1911C80.9982 83.1764 80.8322 83.3158 80.7109 83.4915L80.2994 83.2075L80.7109 83.4916C80.5737 83.6904 80.5002 83.9262 80.5002 84.1677C80.5002 84.4093 80.5737 84.6451 80.7109 84.8439L80.2994 85.128L80.7109 84.8439C80.8481 85.0427 81.0426 85.1951 81.2684 85.2808L81.2684 85.2807L81.2768 85.284L97.5045 91.7751L97.7034 91.8547L97.783 92.0536L104.274 108.281L104.274 108.282C104.363 108.503 104.515 108.693 104.713 108.827L104.449 109.216L104.713 108.827C104.91 108.961 105.143 109.032 105.381 109.032H105.382C105.626 109.032 105.865 108.956 106.065 108.816C106.265 108.675 106.417 108.476 106.501 108.246L106.501 108.245L120.024 71.0582C120.024 71.058 120.024 71.0578 120.024 71.0576C120.1 70.8452 120.115 70.6153 120.066 70.3949C120.016 70.1744 119.905 69.9723 119.746 69.8125C119.586 69.6527 119.384 69.5417 119.163 69.4925C118.943 69.4433 118.713 69.4578 118.5 69.5343C118.5 69.5344 118.5 69.5344 118.5 69.5345L81.3127 83.0571Z" stroke="black" stroke-opacity="0.25"/>
                            </g>
                            <path d="M81.6544 83.0331L81.5566 83.0686C81.5482 83.0769 81.5406 83.086 81.5339 83.0957C81.5119 83.1275 81.5002 83.1653 81.5002 83.2039C81.5002 83.2425 81.5119 83.2802 81.5339 83.312C81.5559 83.3438 81.587 83.3682 81.6231 83.3819L81.6357 83.3867L81.6482 83.3917L97.8759 89.8827L98.4727 90.1215L98.7115 90.7184L105.203 106.946L105.203 106.948C105.218 106.984 105.242 107.014 105.273 107.035L104.478 108.21L105.274 107.035C105.305 107.057 105.342 107.068 105.38 107.068H105.381C105.42 107.068 105.459 107.056 105.491 107.034L106.353 108.261L105.491 107.034C105.523 107.011 105.547 106.979 105.56 106.942L105.561 106.94L119.083 69.755C119.083 69.7547 119.083 69.7544 119.083 69.7541C119.095 69.7203 119.097 69.6839 119.09 69.6489C119.082 69.6136 119.064 69.5813 119.038 69.5558C119.013 69.5302 118.981 69.5124 118.945 69.5046C118.91 69.4968 118.874 69.499 118.84 69.511C118.84 69.5111 118.84 69.5112 118.839 69.5113L81.6544 83.0331Z" fill="#ED6A5E" stroke="white" stroke-width="3"/>
                            <g filter="url(#filter5_d_499_64)">
                            <rect width="53" height="19" transform="translate(30 102)" fill="#ED6A5E"/>
                            <path d="M38.14 107.9C40.36 107.9 41.61 109.18 41.61 111.46C41.61 113.73 40.39 115 38.2 115H35.87V107.9H38.14ZM36.93 114.02H38.14C39.73 114.02 40.51 113.18 40.51 111.46C40.51 109.72 39.73 108.88 38.14 108.88H36.93V114.02ZM42.5203 112.35C42.5203 110.66 43.5103 109.58 45.0303 109.58C46.2703 109.58 47.3503 110.4 47.4103 112.29L47.4203 112.65H43.6103C43.6903 113.64 44.1903 114.22 45.0303 114.22C45.5603 114.22 46.0303 113.92 46.2503 113.41L47.3403 113.49C47.0303 114.49 46.1003 115.12 45.0303 115.12C43.5103 115.12 42.5203 114.04 42.5203 112.35ZM43.6303 111.85H46.3203C46.1803 110.83 45.6303 110.48 45.0303 110.48C44.2503 110.48 43.7603 110.99 43.6303 111.85ZM51.7011 111.36C51.5911 110.8 51.0511 110.46 50.5011 110.46C49.9611 110.46 49.5211 110.74 49.5311 111.21C49.5311 111.69 50.1611 111.89 50.7011 111.99C52.0011 112.23 52.8611 112.58 52.8611 113.62C52.8611 114.66 51.8011 115.12 50.7111 115.12C49.3711 115.12 48.4011 114.43 48.3211 113.33L49.3911 113.26C49.4911 113.86 49.9611 114.23 50.7011 114.23C51.1711 114.23 51.7811 114.07 51.7811 113.58C51.7711 113 51.1011 112.93 50.5211 112.8C49.4211 112.56 48.4511 112.27 48.4511 111.25C48.4511 110.22 49.2811 109.58 50.5911 109.58C51.7211 109.58 52.6011 110.25 52.7711 111.3L51.7011 111.36ZM54.052 109.7H55.092V115H54.052V109.7ZM54.042 108.91V107.9H55.122V108.91H54.042ZM58.7087 114.73C57.2587 114.73 56.3387 113.67 56.3387 112.17C56.3387 110.66 57.2887 109.58 58.7087 109.58C59.3987 109.58 59.9687 109.95 60.2087 110.52V109.7H61.2087V114.45C61.2087 115.85 60.2187 116.62 58.7787 116.62C57.6187 116.62 56.7487 116.01 56.4787 115.09L57.5587 115.02C57.7587 115.47 58.1787 115.74 58.7887 115.74C59.6487 115.74 60.1687 115.36 60.1687 114.63V113.85C59.8587 114.43 59.2687 114.73 58.7087 114.73ZM57.4187 112.17C57.4187 113.15 57.9487 113.85 58.8087 113.85C59.6587 113.85 60.1887 113.15 60.1987 112.17C60.2087 111.19 59.6787 110.49 58.8087 110.49C57.9387 110.49 57.4187 111.19 57.4187 112.17ZM62.8215 109.7H63.7615L63.7915 110.6C64.0715 109.89 64.6815 109.58 65.4115 109.58C66.6015 109.58 67.2015 110.44 67.2015 111.59V115H66.1615V111.9C66.1615 110.97 65.8815 110.46 65.1415 110.46C64.3515 110.46 63.8615 110.97 63.8615 111.9V115H62.8215V109.7ZM68.2625 112.35C68.2625 110.66 69.2525 109.58 70.7725 109.58C72.0125 109.58 73.0925 110.4 73.1525 112.29L73.1625 112.65H69.3525C69.4325 113.64 69.9325 114.22 70.7725 114.22C71.3025 114.22 71.7725 113.92 71.9925 113.41L73.0825 113.49C72.7725 114.49 71.8425 115.12 70.7725 115.12C69.2525 115.12 68.2625 114.04 68.2625 112.35ZM69.3725 111.85H72.0625C71.9225 110.83 71.3725 110.48 70.7725 110.48C69.9925 110.48 69.5025 110.99 69.3725 111.85ZM74.3547 109.7H75.3047L75.3347 110.7C75.5047 110.02 75.9047 109.7 76.5947 109.7H77.1047V110.56H76.5847C75.7647 110.56 75.3947 111.01 75.3947 111.9V115H74.3547V109.7Z" fill="white"/>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_f_499_64" x="245" y="26.9639" width="42.5942" height="42.5679" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_499_64"/>
                            </filter>
                            <filter id="filter1_d_499_64" x="273.875" y="55.875" width="36" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="1"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_499_64"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_499_64" result="shape"/>
                            </filter>
                            <filter id="filter2_f_499_64" x="207" y="98.9639" width="42.5942" height="42.5679" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_499_64"/>
                            </filter>
                            <filter id="filter3_d_499_64" x="235.875" y="127.875" width="67" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="1"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_499_64"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_499_64" result="shape"/>
                            </filter>
                            <filter id="filter4_f_499_64" x="79" y="67.9639" width="42.5942" height="42.5679" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_499_64"/>
                            </filter>
                            <filter id="filter5_d_499_64" x="26" y="99" width="61" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="1"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_499_64"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_499_64" result="shape"/>
                            </filter>
                            <linearGradient id="paint0_linear_499_64" x1="178" y1="0" x2="178" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.501"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                     
                    </div> 

                    <!-- Header & Description -->
                    <div class="mt-6 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">CNH Figma Kit</h2>
                        <p class="text-sm text-neutral-100">Streamline your design process with our comprehensive Figma kit.</p>
                    </div>

                </div>
                <!-- Grid 5 End -->

            </div>
            <!-- Grids End -->

        </div>
        <!-- Container Start -->

    </div>
</section>