---
import { Image } from "astro:assets";
import CustomImage from "../assets/Customize-Image.png";
---

<section class="bg-[#0056B3] rounded-t-xl">

    <!-- Background Grid -->
    <div class="bg-[linear-gradient(to_right,#f5f5f550_1px,transparent_1px),linear-gradient(to_bottom,#f5f5f550_1px,transparent_1px)] bg-[size:80px_100px] [mask-image:radial-gradient(ellipse_80%_90%_at_50%_50%,#000_90%,transparent_100%)]">
        
        <!-- Container Start -->
        <div class="mx-auto py-16 px-4 max-w-7xl">

            <div class="space-y-2 max-w-3xl mb-8">
                <span class="text-sm text-neutral-100 font-medium">Packed with Powerful Features</span>
                <h2 class="text-4xl text-neutral-50 font-bold">Everything You Need to Build Stunning, High-Performance Websites</h2>
            </div>
            
            <!-- Grids Start -->
            <div class="relative z-10 grid gap-3 grid-cols-6">

                <!-- Grid 1 Start -->
                <div class="group relative flex col-span-full lg:col-span-3 overflow-hidden p-8 rounded-xl bg-white/40 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="absolute inset-0 p-4 opacity-60 transition ease-in-out group-hover:opacity-70 group-hover:-translate-y-1">
                        <Image src={CustomImage} alt="Background image of code"></Image>
                    </div>
                    
                    <!-- Header -->
                    <div class="size-fit m-auto relative">
                        <div class="relative h-24 w-56 flex items-center z-10">
                            <span class="w-fit block mx-auto text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-white to-blue-300">100%</span>
                        </div>
                        <h2 class="mt-6 text-center font-semibold text-neutral-50 text-3xl z-10">Customizable</h2>
                    </div>
                </div>
                <!-- Grid 1 End -->

                <!-- Grid 2 Start -->
                <div class="group col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white/40 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 lg:px-6">
                        <svg class="transition ease-in-out group-hover:-translate-y-1" width="100%" viewBox="0 0 355 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_506_45" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="355" height="190">
                            <rect width="355" height="190" fill="url(#paint0_linear_506_45)"/>
                            </mask>
                            <g mask="url(#mask0_506_45)">
                            <path d="M27 14.3H328C329.491 14.3 330.7 15.5088 330.7 17V189.7H24.3V17C24.3 15.5088 25.5088 14.3 27 14.3Z" stroke="white" stroke-width="0.6"/>
                            <path d="M27 14.3H328C329.491 14.3 330.7 15.5088 330.7 17V29.7H24.3V17C24.3 15.5088 25.5088 14.3 27 14.3Z" stroke="white" stroke-width="0.6"/>
                            <circle cx="36" cy="22" r="2.7" stroke="white" stroke-width="0.6"/>
                            <circle cx="46" cy="22" r="2.7" stroke="white" stroke-width="0.6"/>
                            <circle cx="56" cy="22" r="2.7" stroke="white" stroke-width="0.6"/>
                            <rect x="93.3" y="19.3" width="168.4" height="5.4" rx="1.7" stroke="white" stroke-width="0.6"/>
                            <path d="M179.743 66.0972C179.959 64.2529 177.792 63.2482 176.681 64.6746L148.07 101.389C147.124 102.599 147.931 104.44 149.405 104.44H175.027C176.072 104.44 176.883 105.419 176.751 106.53L174.257 127.906C174.037 129.747 176.201 130.752 177.315 129.325L205.923 92.6109C206.869 91.4009 206.062 89.5602 204.588 89.5602H178.965C177.92 89.5602 177.11 88.5812 177.242 87.4702L179.743 66.0972Z" stroke="url(#paint1_linear_506_45)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_506_45" x1="177.5" y1="0" x2="177.5" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.521"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_506_45" x1="148" y1="64" x2="206" y2="130" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#278FFF"/>
                            </linearGradient>
                            </defs>
                        </svg>                            
                    </div>    

                    <!-- Header & Description -->
                    <div class="mt-6 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">Fast & Responsive</h2>
                        <p class="text-sm text-neutral-100">CodeNHammer components are lightweight and optimized for performance, keeping your websites fast and responsive.</p>
                    </div>

                </div>
                <!-- Grid 2 End -->

                <!-- Grid 3 Start -->
                <div class="group col-span-full lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white/40 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 lg:px-6">
                        <svg class="transition ease-in-out group-hover:-translate-y-1" width="100%" viewBox="0 0 356 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_501_47" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="356" height="190">
                            <rect width="356" height="190" fill="url(#paint0_linear_501_47)"/>
                            </mask>
                            <g mask="url(#mask0_501_47)">
                            <g opacity="0.5">
                            <line x1="0.616699" y1="189.816" x2="0.616687" y2="26.887" stroke="white" stroke-width="0.5"/>
                            <line x1="213.389" y1="189.816" x2="213.389" y2="26.887" stroke="white" stroke-width="0.5"/>
                            <line x1="71.54" y1="189.816" x2="71.54" y2="26.887" stroke="white" stroke-width="0.5"/>
                            <line x1="284.314" y1="189.816" x2="284.314" y2="26.887" stroke="white" stroke-width="0.5"/>
                            <line x1="142.465" y1="189.816" x2="142.465" y2="26.887" stroke="white" stroke-width="0.5"/>
                            <line x1="355.239" y1="189.816" x2="355.239" y2="26.887" stroke="white" stroke-width="0.5"/>
                            </g>
                            <path d="M0.511719 42.149V188.534H354.651V69.9351C346.967 60.6731 329.715 40.9302 322.171 36.0551C312.741 29.9612 309.598 45.6754 293.882 69.9351C281.309 89.343 266.989 78.0217 261.401 69.9351L234.16 55.5047C228.572 63.1871 215.719 75.1134 209.014 61.3606C202.308 47.6077 185.963 42.8225 178.629 42.149C169.676 47.9255 148.771 61.5697 136.776 69.9351C121.781 80.3919 116.972 68.8895 103.958 55.5047C90.944 42.12 76.7984 58.2235 68.0282 61.3606C59.2579 64.4976 50.4876 49.2307 48.5072 45.6753C46.5269 42.12 34.9275 46.721 28.9863 45.6753C24.2334 44.8388 22.486 34.2235 15.8204 34.771L0.511719 42.149Z" fill="url(#paint1_linear_501_47)"/>
                            <path d="M0.511719 42.149L15.8204 34.771C22.486 34.2235 24.2334 44.8388 28.9863 45.6753C34.9275 46.721 46.5269 42.12 48.5072 45.6753C50.4876 49.2307 59.2579 64.4976 68.0282 61.3606C76.7984 58.2235 90.944 42.12 103.958 55.5047C116.972 68.8895 121.781 80.392 136.776 69.9351C148.771 61.5697 169.676 47.9255 178.629 42.149C185.963 42.8225 202.308 47.6077 209.014 61.3606C215.719 75.1135 228.572 63.1871 234.16 55.5047L261.401 69.9351C266.989 78.0217 281.309 89.343 293.881 69.9351C309.598 45.6754 312.741 29.9612 322.171 36.0551C329.715 40.9302 346.967 60.6731 354.651 69.9351" stroke="white"/>
                            <line x1="165.623" y1="26.8867" x2="165.623" y2="190" stroke="white" stroke-width="0.6"/>
                            <g filter="url(#filter0_d_501_47)">
                            <circle cx="164.984" cy="52.604" r="6" fill="#007BFF"/>
                            <circle cx="164.984" cy="52.604" r="7" stroke="white" stroke-width="2"/>
                            </g>
                            <rect x="63.1442" y="0.3" width="96.4" height="24.4" rx="4.7" stroke="white" stroke-width="0.6"/>
                            <path d="M80.6642 10.06C81.4642 10.06 81.8142 9.71 81.8142 8.9H82.6442V16H81.5942V10.91H80.1042V10.06H80.6642ZM86.8561 16.16C85.0761 16.16 83.9861 14.72 83.9861 12.46C83.9861 10.18 85.0761 8.74 86.8561 8.74C88.6461 8.74 89.7361 10.18 89.7361 12.46C89.7361 14.72 88.6461 16.16 86.8561 16.16ZM85.0861 12.46C85.0861 14.21 85.7161 15.18 86.8561 15.18C88.0061 15.18 88.6361 14.21 88.6361 12.46C88.6361 10.7 88.0061 9.72 86.8561 9.72C85.7161 9.72 85.0861 10.7 85.0861 12.46ZM90.4603 14.79H91.6903V16H90.4603V14.79ZM97.0992 8.9V13.62H97.8992V14.6H97.0992V16H96.0392V14.6H92.3992V13.62L95.9192 8.9H97.0992ZM93.6392 13.62H96.0392V10.41L93.6392 13.62ZM98.9548 8.9H99.9948V13.34L102.355 10.7H103.695L101.635 12.93L103.795 16H102.575L100.935 13.59L99.9948 14.61V16H98.9548V8.9ZM106.929 8.9H108.069L110.149 14.82L112.219 8.9H113.359L110.799 16H109.489L106.929 8.9ZM114.375 10.7H115.415V16H114.375V10.7ZM114.365 9.91V8.9H115.445V9.91H114.365ZM120.041 12.36C119.931 11.8 119.391 11.46 118.841 11.46C118.301 11.46 117.861 11.74 117.871 12.21C117.871 12.69 118.501 12.89 119.041 12.99C120.341 13.23 121.201 13.58 121.201 14.62C121.201 15.66 120.141 16.12 119.051 16.12C117.711 16.12 116.741 15.43 116.661 14.33L117.731 14.26C117.831 14.86 118.301 15.23 119.041 15.23C119.511 15.23 120.121 15.07 120.121 14.58C120.111 14 119.441 13.93 118.861 13.8C117.761 13.56 116.791 13.27 116.791 12.25C116.791 11.22 117.621 10.58 118.931 10.58C120.061 10.58 120.941 11.25 121.111 12.3L120.041 12.36ZM122.392 10.7H123.432V16H122.392V10.7ZM122.382 9.91V8.9H123.462V9.91H122.382ZM125.218 9.5H126.258V10.7H127.668V11.56H126.258V14.49C126.258 14.92 126.468 15.14 126.878 15.14H127.658V16H126.788C125.768 16 125.218 15.47 125.218 14.49V11.56H124.418V10.7H125.218V9.5ZM130.802 16.12C129.282 16.12 128.292 15.04 128.292 13.35C128.292 11.66 129.282 10.58 130.802 10.58C132.322 10.58 133.312 11.66 133.312 13.35C133.312 15.04 132.322 16.12 130.802 16.12ZM129.372 13.35C129.372 14.51 129.892 15.21 130.802 15.21C131.712 15.21 132.232 14.51 132.232 13.35C132.232 12.19 131.712 11.49 130.802 11.49C129.892 11.49 129.372 12.19 129.372 13.35ZM134.502 10.7H135.452L135.482 11.7C135.652 11.02 136.052 10.7 136.742 10.7H137.252V11.56H136.732C135.912 11.56 135.542 12.01 135.542 12.9V16H134.502V10.7ZM141.135 12.36C141.025 11.8 140.485 11.46 139.935 11.46C139.395 11.46 138.955 11.74 138.965 12.21C138.965 12.69 139.595 12.89 140.135 12.99C141.435 13.23 142.295 13.58 142.295 14.62C142.295 15.66 141.235 16.12 140.145 16.12C138.805 16.12 137.835 15.43 137.755 14.33L138.825 14.26C138.925 14.86 139.395 15.23 140.135 15.23C140.605 15.23 141.215 15.07 141.215 14.58C141.205 14 140.535 13.93 139.955 13.8C138.855 13.56 137.885 13.27 137.885 12.25C137.885 11.22 138.715 10.58 140.025 10.58C141.155 10.58 142.035 11.25 142.205 12.3L141.135 12.36Z" fill="white"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_501_47" x="152.984" y="40.604" width="24" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_501_47"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_501_47" result="shape"/>
                            </filter>
                            <linearGradient id="paint0_linear_501_47" x1="178" y1="0" x2="178" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.52"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_501_47" x1="177.581" y1="34.7393" x2="177.581" y2="188.534" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#7ABAFF"/>
                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                            </linearGradient>
                            </defs>
                        </svg>                            
                    </div> 

                    <!-- Header & Description -->
                    <div class="mt-14 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">Google Analytics Built-in</h2>
                        <p class="text-sm text-neutral-100">Your clients can effortlessly track your their site's performance with built-in Google Analytics.</p>
                    </div>

                </div>
                <!-- Grid 3 End -->

                <!-- Grid 4 Start -->
                <div class="group col-span-full lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white/40 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 lg:px-6">
                        <svg class="transition ease-in-out group-hover:-translate-y-1" width="100%" viewBox="0 0 356 179" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_499_35" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="356" height="179">
                            <rect width="356" height="179" fill="url(#paint0_linear_499_35)"/>
                            </mask>
                            <g mask="url(#mask0_499_35)">
                            <path d="M3.352 7.64H5.288L8.184 12.696L11.064 7.64H12.984L9.032 14.424V19H7.336V14.424L3.352 7.64ZM17.2829 19.192C14.8509 19.192 13.2669 17.464 13.2669 14.76C13.2669 12.056 14.8509 10.328 17.2829 10.328C19.7149 10.328 21.2989 12.056 21.2989 14.76C21.2989 17.464 19.7149 19.192 17.2829 19.192ZM14.9949 14.76C14.9949 16.616 15.8269 17.736 17.2829 17.736C18.7389 17.736 19.5709 16.616 19.5709 14.76C19.5709 12.904 18.7389 11.784 17.2829 11.784C15.8269 11.784 14.9949 12.904 14.9949 14.76ZM30.1318 19H28.5638L28.5478 17.608C28.0998 18.712 27.1398 19.192 26.0358 19.192C24.1638 19.192 23.2038 17.816 23.2038 15.976V10.52H24.8678V15.464C24.8678 16.968 25.3158 17.784 26.4678 17.784C27.6678 17.784 28.4678 16.968 28.4678 15.464V10.52H30.1318V19ZM32.6863 10.52H34.2063L34.2543 12.12C34.5263 11.032 35.1663 10.52 36.2703 10.52H37.0863V11.896H36.2543C34.9423 11.896 34.3503 12.616 34.3503 14.04V19H32.6863V10.52ZM43.1108 7.64H45.2708L50.5028 16.808V7.64H52.1988V19H49.9427L44.8068 10.04V19H43.1108V7.64ZM54.3796 13.048C54.7156 11.352 56.0596 10.328 57.9796 10.328C60.2836 10.328 61.5316 11.608 61.5316 13.912V17.112C61.5316 17.512 61.7076 17.656 62.0436 17.656H62.3956V19H61.8356C61.0676 19.016 60.0596 18.856 59.9956 17.704C59.6276 18.504 58.6836 19.192 57.2916 19.192C55.5956 19.192 54.2356 18.296 54.2356 16.776C54.2356 15.064 55.4996 14.584 57.4356 14.216L59.8676 13.736C59.8516 12.376 59.2276 11.72 57.9796 11.72C56.9876 11.72 56.3316 12.216 56.0916 13.16L54.3796 13.048ZM55.9636 16.744C55.9636 17.368 56.4916 17.88 57.6116 17.88C58.9076 17.88 59.8996 16.968 59.8996 15.112V15.032L58.0756 15.352C56.8916 15.56 55.9636 15.656 55.9636 16.744ZM64.0925 10.52H65.5965L65.6445 11.912C66.0605 10.904 66.9245 10.328 68.0605 10.328C69.2765 10.328 70.1565 10.968 70.5245 12.088C70.9085 10.936 71.7885 10.328 73.0685 10.328C74.7965 10.328 75.8205 11.48 75.8205 13.544V19H74.1565V14.04C74.1565 12.552 73.6125 11.736 72.6525 11.736C71.4365 11.736 70.7485 12.568 70.7485 14.04V19H69.1645V14.04C69.1645 12.584 68.6205 11.736 67.6605 11.736C66.4605 11.736 65.7565 12.584 65.7565 14.04V19H64.0925V10.52ZM77.5013 14.76C77.5013 12.056 79.0853 10.328 81.5173 10.328C83.5013 10.328 85.2292 11.64 85.3253 14.664L85.3413 15.24H79.2453C79.3733 16.824 80.1733 17.752 81.5173 17.752C82.3653 17.752 83.1173 17.272 83.4693 16.456L85.2133 16.584C84.7173 18.184 83.2293 19.192 81.5173 19.192C79.0853 19.192 77.5013 17.464 77.5013 14.76ZM79.2773 13.96H83.5813C83.3573 12.328 82.4773 11.768 81.5173 11.768C80.2693 11.768 79.4853 12.584 79.2773 13.96Z" fill="white"/>
                            <rect x="2.5" y="32.5" width="351" height="46" rx="5.5" stroke="white"/>
                            <path d="M17.38 56.584C17.394 58.054 18.024 58.852 19.158 58.852C20.334 58.852 20.992 58.012 20.992 56.5V50.06H22.476V56.5C22.476 58.768 21.174 60.224 19.144 60.224C17.226 60.224 15.882 58.768 15.868 56.696L17.38 56.584ZM27.6342 60.168C25.5062 60.168 24.1202 58.656 24.1202 56.29C24.1202 53.924 25.5062 52.412 27.6342 52.412C29.7622 52.412 31.1482 53.924 31.1482 56.29C31.1482 58.656 29.7622 60.168 27.6342 60.168ZM25.6322 56.29C25.6322 57.914 26.3602 58.894 27.6342 58.894C28.9082 58.894 29.6362 57.914 29.6362 56.29C29.6362 54.666 28.9082 53.686 27.6342 53.686C26.3602 53.686 25.6322 54.666 25.6322 56.29ZM32.8134 50.06H34.2694V53.574C34.7034 52.762 35.5434 52.412 36.4534 52.412C38.1194 52.412 38.9454 53.644 38.9454 55.226V60H37.4894V55.73C37.4894 54.428 37.0974 53.714 36.0614 53.714C34.9554 53.714 34.2694 54.428 34.2694 55.73V60H32.8134V50.06ZM40.8524 52.58H42.1684L42.2104 53.84C42.6024 52.846 43.4564 52.412 44.4784 52.412C46.1444 52.412 46.9844 53.616 46.9844 55.226V60H45.5284V55.66C45.5284 54.358 45.1364 53.644 44.1004 53.644C42.9944 53.644 42.3084 54.358 42.3084 55.66V60H40.8524V52.58ZM55.8452 50.06C58.9532 50.06 60.7032 51.852 60.7032 55.044C60.7032 58.222 58.9952 60 55.9292 60H52.6672V50.06H55.8452ZM54.1512 58.628H55.8452C58.0712 58.628 59.1632 57.452 59.1632 55.044C59.1632 52.608 58.0712 51.432 55.8452 51.432H54.1512V58.628ZM65.4917 60.168C63.3637 60.168 61.9777 58.656 61.9777 56.29C61.9777 53.924 63.3637 52.412 65.4917 52.412C67.6197 52.412 69.0057 53.924 69.0057 56.29C69.0057 58.656 67.6197 60.168 65.4917 60.168ZM63.4897 56.29C63.4897 57.914 64.2177 58.894 65.4917 58.894C66.7657 58.894 67.4937 57.914 67.4937 56.29C67.4937 54.666 66.7657 53.686 65.4917 53.686C64.2177 53.686 63.4897 54.666 63.4897 56.29ZM70.2628 56.29C70.2628 53.924 71.6488 52.412 73.7768 52.412C75.5128 52.412 77.0248 53.56 77.1088 56.206L77.1228 56.71H71.7888C71.9008 58.096 72.6008 58.908 73.7768 58.908C74.5188 58.908 75.1768 58.488 75.4848 57.774L77.0108 57.886C76.5768 59.286 75.2748 60.168 73.7768 60.168C71.6488 60.168 70.2628 58.656 70.2628 56.29ZM71.8168 55.59H75.5828C75.3868 54.162 74.6168 53.672 73.7768 53.672C72.6848 53.672 71.9988 54.386 71.8168 55.59Z" fill="#E5E5E5"/>
                            <line x1="81.3" y1="45" x2="81.3" y2="66" stroke="white" stroke-width="0.6"/>
                            <path d="M4.392 108.64H11.752V110.208H6.088V113.536H11.56V115.072H6.088V118.432H11.88V120H4.392V108.64ZM14.03 111.52H15.534L15.582 112.912C15.998 111.904 16.862 111.328 17.998 111.328C19.214 111.328 20.094 111.968 20.462 113.088C20.846 111.936 21.726 111.328 23.006 111.328C24.734 111.328 25.758 112.48 25.758 114.544V120H24.094V115.04C24.094 113.552 23.55 112.736 22.59 112.736C21.374 112.736 20.686 113.568 20.686 115.04V120H19.102V115.04C19.102 113.584 18.558 112.736 17.598 112.736C16.398 112.736 15.694 113.584 15.694 115.04V120H14.03V111.52ZM27.8015 114.048C28.1375 112.352 29.4815 111.328 31.4015 111.328C33.7055 111.328 34.9535 112.608 34.9535 114.912V118.112C34.9535 118.512 35.1295 118.656 35.4655 118.656H35.8175V120H35.2575C34.4895 120.016 33.4815 119.856 33.4175 118.704C33.0495 119.504 32.1055 120.192 30.7135 120.192C29.0175 120.192 27.6575 119.296 27.6575 117.776C27.6575 116.064 28.9215 115.584 30.8575 115.216L33.2895 114.736C33.2735 113.376 32.6495 112.72 31.4015 112.72C30.4095 112.72 29.7535 113.216 29.5135 114.16L27.8015 114.048ZM29.3855 117.744C29.3855 118.368 29.9135 118.88 31.0335 118.88C32.3295 118.88 33.3215 117.968 33.3215 116.112V116.032L31.4975 116.352C30.3135 116.56 29.3855 116.656 29.3855 117.744ZM37.5144 111.52H39.1784V120H37.5144V111.52ZM37.4984 110.256V108.64H39.2264V110.256H37.4984ZM41.8288 108.64H43.4928V118.064C43.4928 118.448 43.6688 118.624 44.0368 118.624H44.7408V120H43.6848C42.5648 120 41.8288 119.28 41.8288 118.144V108.64Z" fill="white"/>
                            <rect x="2.5" y="133.5" width="351" height="46" rx="5.5" fill="white"/>
                            <rect x="2.5" y="133.5" width="351" height="46" rx="5.5" stroke="white"/>
                            <path d="M17.954 160.93C17.954 162.274 17.282 163.1 15.91 163.1H15.028V161.896H15.7C16.19 161.896 16.498 161.518 16.498 160.93V153.58H17.954V160.93ZM16.47 152.474V151.06H17.982V152.474H16.47ZM23.1362 161.168C21.0082 161.168 19.6222 159.656 19.6222 157.29C19.6222 154.924 21.0082 153.412 23.1362 153.412C25.2642 153.412 26.6502 154.924 26.6502 157.29C26.6502 159.656 25.2642 161.168 23.1362 161.168ZM21.1342 157.29C21.1342 158.914 21.8622 159.894 23.1362 159.894C24.4102 159.894 25.1382 158.914 25.1382 157.29C25.1382 155.666 24.4102 154.686 23.1362 154.686C21.8622 154.686 21.1342 155.666 21.1342 157.29ZM28.3153 151.06H29.7713V154.574C30.2053 153.762 31.0453 153.412 31.9553 153.412C33.6213 153.412 34.4473 154.644 34.4473 156.226V161H32.9913V156.73C32.9913 155.428 32.5993 154.714 31.5633 154.714C30.4573 154.714 29.7713 155.428 29.7713 156.73V161H28.3153V151.06ZM36.3544 153.58H37.6704L37.7124 154.84C38.1044 153.846 38.9584 153.412 39.9804 153.412C41.6464 153.412 42.4864 154.616 42.4864 156.226V161H41.0304V156.66C41.0304 155.358 40.6384 154.644 39.6024 154.644C38.4964 154.644 37.8104 155.358 37.8104 156.66V161H36.3544V153.58ZM50.8178 151.06V161H49.4598L49.4178 159.964C49.0118 160.72 48.2278 161.168 47.1078 161.168C44.9798 161.168 43.9718 159.362 43.9718 157.29C43.9718 155.218 44.9798 153.412 47.1078 153.412C48.1718 153.412 48.9278 153.804 49.3618 154.546V151.06H50.8178ZM45.4838 157.29C45.4838 158.62 46.0578 159.894 47.4718 159.894C48.8998 159.894 49.4738 158.62 49.4738 157.29C49.4738 155.918 48.8998 154.644 47.4718 154.644C46.0438 154.644 45.4838 155.904 45.4838 157.29ZM56.0717 161.168C53.9437 161.168 52.5577 159.656 52.5577 157.29C52.5577 154.924 53.9437 153.412 56.0717 153.412C58.1997 153.412 59.5857 154.924 59.5857 157.29C59.5857 159.656 58.1997 161.168 56.0717 161.168ZM54.0697 157.29C54.0697 158.914 54.7977 159.894 56.0717 159.894C57.3457 159.894 58.0737 158.914 58.0737 157.29C58.0737 155.666 57.3457 154.686 56.0717 154.686C54.7977 154.686 54.0697 155.666 54.0697 157.29ZM60.8429 157.29C60.8429 154.924 62.2289 153.412 64.3569 153.412C66.0929 153.412 67.6049 154.56 67.6889 157.206L67.7029 157.71H62.3689C62.4809 159.096 63.1809 159.908 64.3569 159.908C65.0989 159.908 65.7569 159.488 66.0649 158.774L67.5909 158.886C67.1569 160.286 65.8549 161.168 64.3569 161.168C62.2289 161.168 60.8429 159.656 60.8429 157.29ZM62.3969 156.59H66.1629C65.9669 155.162 65.1969 154.672 64.3569 154.672C63.2649 154.672 62.5789 155.386 62.3969 156.59ZM76.566 154.14H77.672L77.434 157.29C77.392 157.696 77.378 158.326 77.574 158.536C78.106 159.264 79.38 158.438 79.45 156.478C79.548 154.112 77.742 152.222 75.32 152.222C72.562 152.222 70.35 154.224 70.252 156.8C70.112 160.468 73.15 162.19 77.14 160.72L77.406 161.84C72.73 163.618 68.796 161.252 68.992 156.8C69.118 153.58 71.932 151.06 75.362 151.06C78.484 151.06 80.794 153.426 80.654 156.436C80.458 160.482 76.65 160.538 76.398 158.62C76.062 159.32 75.152 159.852 74.2 159.852C72.394 159.852 71.582 158.494 71.764 156.94C71.932 155.386 72.94 154 74.746 154C75.558 154 76.202 154.308 76.51 154.812L76.566 154.14ZM73.038 156.94C72.954 157.948 73.332 158.9 74.508 158.9C75.684 158.9 76.244 157.934 76.342 156.94C76.44 155.918 76.048 154.952 74.872 154.952C73.696 154.952 73.15 155.904 73.038 156.94ZM85.2566 160.622C83.2266 160.622 81.9386 159.138 81.9386 157.038C81.9386 154.924 83.2686 153.412 85.2566 153.412C86.2226 153.412 87.0206 153.93 87.3566 154.728V153.58H88.7566V160.23C88.7566 162.19 87.3706 163.268 85.3546 163.268C83.7306 163.268 82.5126 162.414 82.1346 161.126L83.6466 161.028C83.9266 161.658 84.5146 162.036 85.3686 162.036C86.5726 162.036 87.3006 161.504 87.3006 160.482V159.39C86.8666 160.202 86.0406 160.622 85.2566 160.622ZM83.4506 157.038C83.4506 158.41 84.1926 159.39 85.3966 159.39C86.5866 159.39 87.3286 158.41 87.3426 157.038C87.3566 155.666 86.6146 154.686 85.3966 154.686C84.1786 154.686 83.4506 155.666 83.4506 157.038ZM91.0145 153.58H92.3305L92.3725 154.798C92.7365 153.916 93.4925 153.412 94.4865 153.412C95.5505 153.412 96.3205 153.972 96.6425 154.952C96.9785 153.944 97.7485 153.412 98.8685 153.412C100.381 153.412 101.277 154.42 101.277 156.226V161H99.8205V156.66C99.8205 155.358 99.3445 154.644 98.5045 154.644C97.4405 154.644 96.8385 155.372 96.8385 156.66V161H95.4525V156.66C95.4525 155.386 94.9765 154.644 94.1365 154.644C93.0865 154.644 92.4705 155.386 92.4705 156.66V161H91.0145V153.58ZM103.065 155.792C103.359 154.308 104.535 153.412 106.215 153.412C108.231 153.412 109.323 154.532 109.323 156.548V159.348C109.323 159.698 109.477 159.824 109.771 159.824H110.079V161H109.589C108.917 161.014 108.035 160.874 107.979 159.866C107.657 160.566 106.831 161.168 105.613 161.168C104.129 161.168 102.939 160.384 102.939 159.054C102.939 157.556 104.045 157.136 105.739 156.814L107.867 156.394C107.853 155.204 107.307 154.63 106.215 154.63C105.347 154.63 104.773 155.064 104.563 155.89L103.065 155.792ZM104.451 159.026C104.451 159.572 104.913 160.02 105.893 160.02C107.027 160.02 107.895 159.222 107.895 157.598V157.528L106.299 157.808C105.263 157.99 104.451 158.074 104.451 159.026ZM111.563 153.58H113.019V161H111.563V153.58ZM111.549 152.474V151.06H113.061V152.474H111.549ZM115.338 151.06H116.794V159.306C116.794 159.642 116.948 159.796 117.27 159.796H117.886V161H116.962C115.982 161 115.338 160.37 115.338 159.376V151.06ZM119.359 159.306H121.081V161H119.359V159.306ZM127.575 156.17C127.435 155.232 126.693 154.686 125.853 154.686C124.579 154.686 123.851 155.666 123.851 157.29C123.851 158.914 124.579 159.894 125.853 159.894C126.735 159.894 127.477 159.32 127.631 158.284L129.157 158.368C128.919 160.104 127.533 161.168 125.853 161.168C123.725 161.168 122.339 159.656 122.339 157.29C122.339 154.924 123.725 153.412 125.853 153.412C127.477 153.412 128.891 154.42 129.087 156.086L127.575 156.17ZM133.796 161.168C131.668 161.168 130.282 159.656 130.282 157.29C130.282 154.924 131.668 153.412 133.796 153.412C135.924 153.412 137.31 154.924 137.31 157.29C137.31 159.656 135.924 161.168 133.796 161.168ZM131.794 157.29C131.794 158.914 132.522 159.894 133.796 159.894C135.07 159.894 135.798 158.914 135.798 157.29C135.798 155.666 135.07 154.686 133.796 154.686C132.522 154.686 131.794 155.666 131.794 157.29ZM138.975 153.58H140.291L140.333 154.798C140.697 153.916 141.453 153.412 142.447 153.412C143.511 153.412 144.281 153.972 144.603 154.952C144.939 153.944 145.709 153.412 146.829 153.412C148.341 153.412 149.237 154.42 149.237 156.226V161H147.781V156.66C147.781 155.358 147.305 154.644 146.465 154.644C145.401 154.644 144.799 155.372 144.799 156.66V161H143.413V156.66C143.413 155.386 142.937 154.644 142.097 154.644C141.047 154.644 140.431 155.386 140.431 156.66V161H138.975V153.58Z" fill="#CDCDCD"/>
                            <line x1="81.3" y1="146" x2="81.3" y2="167" stroke="white" stroke-width="0.6"/>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_499_35" x1="178" y1="0" x2="178" y2="179" gradientUnits="userSpaceOnUse">
                            <stop offset="0.521"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                                                                                    
                    </div> 

                    <!-- Header & Description -->
                    <div class="mt-14 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">Netlify Forms Setup</h2>
                        <p class="text-sm text-neutral-100">Quickly set up forms with Netlify and never miss a lead.</p>
                    </div>

                </div>
                <!-- Grid 4 End -->

                <!-- Grid 5 Start -->
                <div class="group col-span-full lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white/40 border border-neutral-200 backdrop-blur-sm">
                    
                    <!-- SVG -->
                    <div class="pt-6 lg:px-6">
                        <svg class="transition ease-in-out group-hover:-translate-y-1" width="100%" viewBox="0 0 356 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_499_64" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="356" height="190">
                            <rect width="356" height="190" fill="url(#paint0_linear_499_64)"/>
                            </mask>
                            <g mask="url(#mask0_499_64)">
                            <rect x="32.0942" y="7.896" width="293.002" height="174.875" fill="#EDEDED" stroke="#007BFF"/>
                            <rect x="28.5" y="4.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <rect x="320.627" y="4.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <rect x="320.627" y="179.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <rect x="28.5" y="178.5" width="7.46746" height="7" fill="white" stroke="#007BFF"/>
                            <path d="M192.777 82.8014H175.179V48H192.777C202.275 48 210 55.8042 210 65.3987C210 74.9932 202.275 82.8014 192.777 82.8014ZM180.821 77.1013H192.777C199.164 77.1013 204.358 71.8506 204.358 65.4026C204.358 58.9546 199.16 53.704 192.777 53.704H180.821V77.1013ZM180.821 82.8014H163.226C153.729 82.8014 146.004 74.9971 146.004 65.4026C146.004 55.8081 153.729 48 163.226 48H180.825V82.8014H180.821ZM163.226 53.7001C156.84 53.7001 151.646 58.9507 151.646 65.3987C151.646 71.8467 156.84 77.1013 163.226 77.1013H175.183V53.7001H163.226ZM180.821 111.899H163.226C153.729 111.899 146.004 104.095 146.004 94.5C146.004 84.9055 153.729 77.1013 163.226 77.1013H180.825V111.899H180.821ZM163.226 82.8014C156.84 82.8014 151.646 88.052 151.646 94.5C151.646 100.948 156.844 106.199 163.226 106.199H175.183V82.8014H163.226ZM163.319 141C153.771 141 146 133.196 146 123.601C146 114.007 153.725 106.203 163.223 106.203H180.821V123.411C180.821 133.111 172.969 141 163.319 141ZM163.226 111.899C160.156 111.903 157.213 113.137 155.043 115.33C152.872 117.523 151.65 120.496 151.646 123.597C151.646 130.049 156.882 135.296 163.322 135.296C169.862 135.296 175.186 129.964 175.186 123.407V111.899H163.226ZM192.777 111.899H192.401C182.904 111.899 175.179 104.095 175.179 94.5C175.179 84.9055 182.904 77.1013 192.401 77.1013H192.777C202.275 77.1013 210 84.9055 210 94.5C210 104.095 202.275 111.899 192.777 111.899ZM192.405 82.8014C186.019 82.8014 180.825 88.052 180.825 94.5C180.825 100.948 186.023 106.199 192.405 106.199H192.781C199.168 106.199 204.361 100.948 204.361 94.5C204.361 88.052 199.16 82.8014 192.777 82.8014H192.405Z" fill="url(#paint1_linear_499_64)"/>
                            <g filter="url(#filter0_f_499_64)">
                            <path d="M285.452 41.5872L248.264 28.0642C247.962 27.9553 247.635 27.9345 247.322 28.0045C247.009 28.0744 246.722 28.232 246.495 28.459C246.268 28.6859 246.111 28.9728 246.041 29.286C245.971 29.5993 245.991 29.9259 246.1 30.2279L259.623 67.4163C259.741 67.743 259.957 68.0254 260.242 68.225C260.526 68.4246 260.865 68.5318 261.212 68.5319C261.551 68.5323 261.882 68.4309 262.162 68.2411C262.442 68.0512 262.659 67.7815 262.784 67.467L269.275 51.2393L285.503 44.7483C285.824 44.6266 286.1 44.4103 286.295 44.128C286.49 43.8457 286.594 43.5108 286.594 43.1677C286.594 42.8247 286.49 42.4898 286.295 42.2075C286.1 41.9252 285.824 41.7089 285.503 41.5872H285.452Z" fill="black" fill-opacity="0.25"/>
                            <path d="M285.282 42.0571L285.364 42.0872H285.403C285.596 42.1764 285.762 42.3158 285.883 42.4916C286.021 42.6904 286.094 42.9262 286.094 43.1677C286.094 43.4093 286.021 43.6451 285.883 43.8439C285.746 44.0427 285.552 44.1951 285.326 44.2808L285.326 44.2807L285.317 44.284L269.09 50.7751L268.891 50.8547L268.811 51.0536L262.32 67.2813L262.32 67.282C262.232 67.5035 262.079 67.6934 261.882 67.8271C261.684 67.9608 261.451 68.0322 261.213 68.0319H261.213C260.968 68.0318 260.729 67.9564 260.529 67.8158C260.329 67.6752 260.177 67.4764 260.094 67.2463L260.093 67.2454L246.571 30.0582C246.571 30.058 246.57 30.0578 246.57 30.0576C246.494 29.8452 246.479 29.6153 246.529 29.3949C246.578 29.1744 246.689 28.9723 246.849 28.8125C247.008 28.6527 247.21 28.5417 247.431 28.4925C247.651 28.4433 247.881 28.4578 248.094 28.5343C248.094 28.5344 248.094 28.5344 248.094 28.5345L285.282 42.0571Z" stroke="black" stroke-opacity="0.25"/>
                            </g>
                            <path d="M284.94 42.0331L285.038 42.0686C285.046 42.0769 285.054 42.086 285.06 42.0957C285.082 42.1275 285.094 42.1652 285.094 42.2039C285.094 42.2425 285.082 42.2802 285.06 42.312C285.038 42.3438 285.007 42.3682 284.971 42.3819L284.959 42.3867L284.946 42.3917L268.718 48.8827L268.122 49.1215L267.883 49.7184L261.392 65.9461L261.391 65.9481C261.377 65.9836 261.352 66.0139 261.321 66.0353C261.289 66.0567 261.252 66.0681 261.214 66.0681H261.213C261.174 66.0681 261.136 66.056 261.104 66.0335C261.072 66.011 261.047 65.9792 261.034 65.9424L261.033 65.9398L247.511 28.755C247.511 28.7547 247.511 28.7544 247.511 28.7541C247.499 28.7203 247.497 28.6839 247.505 28.6489C247.512 28.6136 247.53 28.5813 247.556 28.5558C247.581 28.5302 247.614 28.5124 247.649 28.5046C247.684 28.4968 247.72 28.499 247.754 28.511C247.754 28.5111 247.755 28.5112 247.755 28.5113L284.94 42.0331Z" fill="#007BFF" stroke="white" stroke-width="3"/>
                            <g filter="url(#filter1_d_499_64)">
                            <rect width="28" height="19" transform="translate(277.875 58.875)" fill="#007BFF"/>
                            <path d="M283.095 64.775H284.305L286.115 67.935L287.915 64.775H289.115L286.645 69.015V71.875H285.585V69.015L283.095 64.775ZM291.802 71.995C290.282 71.995 289.292 70.915 289.292 69.225C289.292 67.535 290.282 66.455 291.802 66.455C293.322 66.455 294.312 67.535 294.312 69.225C294.312 70.915 293.322 71.995 291.802 71.995ZM290.372 69.225C290.372 70.385 290.892 71.085 291.802 71.085C292.712 71.085 293.232 70.385 293.232 69.225C293.232 68.065 292.712 67.365 291.802 67.365C290.892 67.365 290.372 68.065 290.372 69.225ZM299.832 71.875H298.852L298.842 71.005C298.562 71.695 297.962 71.995 297.272 71.995C296.102 71.995 295.502 71.135 295.502 69.985V66.575H296.542V69.665C296.542 70.605 296.822 71.115 297.542 71.115C298.292 71.115 298.792 70.605 298.792 69.665V66.575H299.832V71.875Z" fill="white"/>
                            </g>
                            <g filter="url(#filter2_f_499_64)">
                            <path d="M247.452 113.587L210.264 100.064C209.962 99.9553 209.635 99.9345 209.322 100.004C209.009 100.074 208.722 100.232 208.495 100.459C208.268 100.686 208.111 100.973 208.041 101.286C207.971 101.599 207.991 101.926 208.1 102.228L221.623 139.416C221.741 139.743 221.957 140.025 222.242 140.225C222.526 140.425 222.865 140.532 223.212 140.532C223.551 140.532 223.882 140.431 224.162 140.241C224.442 140.051 224.659 139.782 224.784 139.467L231.275 123.239L247.503 116.748C247.824 116.627 248.1 116.41 248.295 116.128C248.49 115.846 248.594 115.511 248.594 115.168C248.594 114.825 248.49 114.49 248.295 114.208C248.1 113.925 247.824 113.709 247.503 113.587H247.452Z" fill="black" fill-opacity="0.25"/>
                            <path d="M247.282 114.057L247.364 114.087H247.403C247.596 114.176 247.762 114.316 247.883 114.492C248.021 114.69 248.094 114.926 248.094 115.168C248.094 115.409 248.021 115.645 247.883 115.844C247.746 116.043 247.552 116.195 247.326 116.281L247.326 116.281L247.317 116.284L231.09 122.775L230.891 122.855L230.811 123.054L224.32 139.281L224.32 139.282C224.232 139.503 224.079 139.693 223.882 139.827C223.684 139.961 223.451 140.032 223.213 140.032H223.213C222.968 140.032 222.729 139.956 222.529 139.816C222.329 139.675 222.177 139.476 222.094 139.246L222.093 139.245L208.571 102.058C208.571 102.058 208.57 102.058 208.57 102.058C208.494 101.845 208.479 101.615 208.529 101.395C208.578 101.174 208.689 100.972 208.849 100.813C209.008 100.653 209.21 100.542 209.431 100.492C209.651 100.443 209.881 100.458 210.094 100.534C210.094 100.534 210.094 100.534 210.094 100.534L247.282 114.057Z" stroke="black" stroke-opacity="0.25"/>
                            </g>
                            <path d="M246.94 114.033L247.038 114.069C247.046 114.077 247.054 114.086 247.06 114.096C247.082 114.128 247.094 114.165 247.094 114.204C247.094 114.243 247.082 114.28 247.06 114.312C247.038 114.344 247.007 114.368 246.971 114.382L246.959 114.387L246.946 114.392L230.718 120.883L230.122 121.121L229.883 121.718L223.392 137.946L223.391 137.948C223.377 137.984 223.352 138.014 223.321 138.035C223.289 138.057 223.252 138.068 223.214 138.068H223.213C223.174 138.068 223.136 138.056 223.104 138.034C223.072 138.011 223.047 137.979 223.034 137.942L223.033 137.94L209.511 100.755C209.511 100.755 209.511 100.754 209.511 100.754C209.499 100.72 209.497 100.684 209.505 100.649C209.512 100.614 209.53 100.581 209.556 100.556C209.581 100.53 209.614 100.512 209.649 100.505C209.684 100.497 209.72 100.499 209.754 100.511C209.754 100.511 209.755 100.511 209.755 100.511L246.94 114.033Z" fill="#61C454" stroke="white" stroke-width="3"/>
                            <g filter="url(#filter3_d_499_64)">
                            <rect width="59" height="19" transform="translate(239.875 130.875)" fill="#61C454"/>
                            <path d="M248.015 136.775C250.235 136.775 251.485 138.055 251.485 140.335C251.485 142.605 250.265 143.875 248.075 143.875H245.745V136.775H248.015ZM246.805 142.895H248.015C249.605 142.895 250.385 142.055 250.385 140.335C250.385 138.595 249.605 137.755 248.015 137.755H246.805V142.895ZM252.395 141.225C252.395 139.535 253.385 138.455 254.905 138.455C256.145 138.455 257.225 139.275 257.285 141.165L257.295 141.525H253.485C253.565 142.515 254.065 143.095 254.905 143.095C255.435 143.095 255.905 142.795 256.125 142.285L257.215 142.365C256.905 143.365 255.975 143.995 254.905 143.995C253.385 143.995 252.395 142.915 252.395 141.225ZM253.505 140.725H256.195C256.055 139.705 255.505 139.355 254.905 139.355C254.125 139.355 253.635 139.865 253.505 140.725ZM262.792 138.575L260.852 143.875H259.642L257.702 138.575H258.772L260.252 142.805L261.722 138.575H262.792ZM263.196 141.225C263.196 139.535 264.186 138.455 265.706 138.455C266.946 138.455 268.026 139.275 268.086 141.165L268.096 141.525H264.286C264.366 142.515 264.866 143.095 265.706 143.095C266.236 143.095 266.706 142.795 266.926 142.285L268.016 142.365C267.706 143.365 266.776 143.995 265.706 143.995C264.186 143.995 263.196 142.915 263.196 141.225ZM264.306 140.725H266.996C266.856 139.705 266.306 139.355 265.706 139.355C264.926 139.355 264.436 139.865 264.306 140.725ZM269.397 136.775H270.437V142.665C270.437 142.905 270.547 143.015 270.777 143.015H271.217V143.875H270.557C269.857 143.875 269.397 143.425 269.397 142.715V136.775ZM274.466 143.995C272.946 143.995 271.956 142.915 271.956 141.225C271.956 139.535 272.946 138.455 274.466 138.455C275.986 138.455 276.976 139.535 276.976 141.225C276.976 142.915 275.986 143.995 274.466 143.995ZM273.036 141.225C273.036 142.385 273.556 143.085 274.466 143.085C275.376 143.085 275.896 142.385 275.896 141.225C275.896 140.065 275.376 139.365 274.466 139.365C273.556 139.365 273.036 140.065 273.036 141.225ZM278.165 145.375V138.575H279.135L279.165 139.345C279.455 138.775 280.005 138.455 280.775 138.455C282.335 138.455 283.055 139.745 283.055 141.225C283.055 142.705 282.335 143.995 280.775 143.995C280.045 143.995 279.505 143.705 279.205 143.155V145.375H278.165ZM279.105 141.225C279.105 142.175 279.535 143.085 280.535 143.085C281.545 143.085 281.955 142.185 281.955 141.225C281.955 140.275 281.545 139.365 280.535 139.365C279.525 139.365 279.105 140.275 279.105 141.225ZM283.958 141.225C283.958 139.535 284.948 138.455 286.468 138.455C287.708 138.455 288.788 139.275 288.848 141.165L288.858 141.525H285.048C285.128 142.515 285.628 143.095 286.468 143.095C286.998 143.095 287.468 142.795 287.688 142.285L288.778 142.365C288.468 143.365 287.538 143.995 286.468 143.995C284.948 143.995 283.958 142.915 283.958 141.225ZM285.068 140.725H287.758C287.618 139.705 287.068 139.355 286.468 139.355C285.688 139.355 285.198 139.865 285.068 140.725ZM290.05 138.575H291L291.03 139.575C291.2 138.895 291.6 138.575 292.29 138.575H292.8V139.435H292.28C291.46 139.435 291.09 139.885 291.09 140.775V143.875H290.05V138.575Z" fill="white"/>
                            </g>
                            <g filter="url(#filter4_f_499_64)">
                            <path d="M81.1418 82.5872L118.33 69.0642C118.632 68.9553 118.959 68.9345 119.272 69.0045C119.585 69.0744 119.872 69.232 120.099 69.459C120.326 69.6859 120.484 69.9728 120.554 70.286C120.624 70.5993 120.603 70.9259 120.494 71.2279L106.971 108.416C106.853 108.743 106.637 109.025 106.353 109.225C106.068 109.425 105.729 109.532 105.382 109.532C105.043 109.532 104.713 109.431 104.432 109.241C104.152 109.051 103.935 108.782 103.81 108.467L97.3188 92.2393L81.0911 85.7483C80.7704 85.6266 80.4943 85.4103 80.2994 85.128C80.1046 84.8457 80.0002 84.5108 80.0002 84.1677C80.0002 83.8247 80.1046 83.4898 80.2994 83.2075C80.4943 82.9252 80.7704 82.7089 81.0911 82.5872H81.1418Z" fill="black" fill-opacity="0.25"/>
                            <path d="M81.3127 83.0571L81.2299 83.0872H81.1911C80.9982 83.1764 80.8322 83.3158 80.7109 83.4916C80.5737 83.6904 80.5002 83.9262 80.5002 84.1677C80.5002 84.4093 80.5737 84.6451 80.7109 84.8439C80.8481 85.0427 81.0426 85.1951 81.2684 85.2808L81.2684 85.2807L81.2768 85.284L97.5045 91.7751L97.7034 91.8547L97.783 92.0536L104.274 108.281L104.274 108.282C104.363 108.503 104.515 108.693 104.713 108.827C104.91 108.961 105.143 109.032 105.381 109.032H105.382C105.626 109.032 105.865 108.956 106.065 108.816C106.265 108.675 106.417 108.476 106.501 108.246L106.501 108.245L120.024 71.0582C120.024 71.058 120.024 71.0578 120.024 71.0576C120.1 70.8452 120.115 70.6153 120.066 70.3949C120.016 70.1744 119.905 69.9723 119.746 69.8125C119.586 69.6527 119.384 69.5417 119.163 69.4925C118.943 69.4433 118.713 69.4578 118.5 69.5343C118.5 69.5344 118.5 69.5344 118.5 69.5345L81.3127 83.0571Z" stroke="black" stroke-opacity="0.25"/>
                            </g>
                            <path d="M81.6544 83.0331L81.5566 83.0686C81.5482 83.0769 81.5406 83.086 81.5339 83.0957C81.5119 83.1275 81.5002 83.1653 81.5002 83.2039C81.5002 83.2425 81.5119 83.2802 81.5339 83.312C81.5559 83.3438 81.587 83.3682 81.6231 83.3819L81.6357 83.3867L81.6482 83.3917L97.8759 89.8827L98.4727 90.1215L98.7115 90.7184L105.203 106.946L105.203 106.948C105.218 106.984 105.242 107.014 105.273 107.035C105.305 107.057 105.342 107.068 105.38 107.068H105.381C105.42 107.068 105.459 107.056 105.491 107.034C105.523 107.011 105.547 106.979 105.56 106.942L105.561 106.94L119.083 69.755C119.083 69.7547 119.083 69.7544 119.083 69.7541C119.095 69.7203 119.097 69.6839 119.09 69.6489C119.082 69.6136 119.064 69.5813 119.038 69.5558C119.013 69.5302 118.981 69.5124 118.945 69.5046C118.91 69.4968 118.874 69.499 118.84 69.511C118.84 69.5111 118.84 69.5112 118.839 69.5113L81.6544 83.0331Z" fill="#ED6A5E" stroke="white" stroke-width="3"/>
                            <g filter="url(#filter5_d_499_64)">
                            <rect width="53" height="19" transform="translate(30 102)" fill="#ED6A5E"/>
                            <path d="M38.14 107.9C40.36 107.9 41.61 109.18 41.61 111.46C41.61 113.73 40.39 115 38.2 115H35.87V107.9H38.14ZM36.93 114.02H38.14C39.73 114.02 40.51 113.18 40.51 111.46C40.51 109.72 39.73 108.88 38.14 108.88H36.93V114.02ZM42.5203 112.35C42.5203 110.66 43.5103 109.58 45.0303 109.58C46.2703 109.58 47.3503 110.4 47.4103 112.29L47.4203 112.65H43.6103C43.6903 113.64 44.1903 114.22 45.0303 114.22C45.5603 114.22 46.0303 113.92 46.2503 113.41L47.3403 113.49C47.0303 114.49 46.1003 115.12 45.0303 115.12C43.5103 115.12 42.5203 114.04 42.5203 112.35ZM43.6303 111.85H46.3203C46.1803 110.83 45.6303 110.48 45.0303 110.48C44.2503 110.48 43.7603 110.99 43.6303 111.85ZM51.7011 111.36C51.5911 110.8 51.0511 110.46 50.5011 110.46C49.9611 110.46 49.5211 110.74 49.5311 111.21C49.5311 111.69 50.1611 111.89 50.7011 111.99C52.0011 112.23 52.8611 112.58 52.8611 113.62C52.8611 114.66 51.8011 115.12 50.7111 115.12C49.3711 115.12 48.4011 114.43 48.3211 113.33L49.3911 113.26C49.4911 113.86 49.9611 114.23 50.7011 114.23C51.1711 114.23 51.7811 114.07 51.7811 113.58C51.7711 113 51.1011 112.93 50.5211 112.8C49.4211 112.56 48.4511 112.27 48.4511 111.25C48.4511 110.22 49.2811 109.58 50.5911 109.58C51.7211 109.58 52.6011 110.25 52.7711 111.3L51.7011 111.36ZM54.052 109.7H55.092V115H54.052V109.7ZM54.042 108.91V107.9H55.122V108.91H54.042ZM58.7087 114.73C57.2587 114.73 56.3387 113.67 56.3387 112.17C56.3387 110.66 57.2887 109.58 58.7087 109.58C59.3987 109.58 59.9687 109.95 60.2087 110.52V109.7H61.2087V114.45C61.2087 115.85 60.2187 116.62 58.7787 116.62C57.6187 116.62 56.7487 116.01 56.4787 115.09L57.5587 115.02C57.7587 115.47 58.1787 115.74 58.7887 115.74C59.6487 115.74 60.1687 115.36 60.1687 114.63V113.85C59.8587 114.43 59.2687 114.73 58.7087 114.73ZM57.4187 112.17C57.4187 113.15 57.9487 113.85 58.8087 113.85C59.6587 113.85 60.1887 113.15 60.1987 112.17C60.2087 111.19 59.6787 110.49 58.8087 110.49C57.9387 110.49 57.4187 111.19 57.4187 112.17ZM62.8215 109.7H63.7615L63.7915 110.6C64.0715 109.89 64.6815 109.58 65.4115 109.58C66.6015 109.58 67.2015 110.44 67.2015 111.59V115H66.1615V111.9C66.1615 110.97 65.8815 110.46 65.1415 110.46C64.3515 110.46 63.8615 110.97 63.8615 111.9V115H62.8215V109.7ZM68.2625 112.35C68.2625 110.66 69.2525 109.58 70.7725 109.58C72.0125 109.58 73.0925 110.4 73.1525 112.29L73.1625 112.65H69.3525C69.4325 113.64 69.9325 114.22 70.7725 114.22C71.3025 114.22 71.7725 113.92 71.9925 113.41L73.0825 113.49C72.7725 114.49 71.8425 115.12 70.7725 115.12C69.2525 115.12 68.2625 114.04 68.2625 112.35ZM69.3725 111.85H72.0625C71.9225 110.83 71.3725 110.48 70.7725 110.48C69.9925 110.48 69.5025 110.99 69.3725 111.85ZM74.3547 109.7H75.3047L75.3347 110.7C75.5047 110.02 75.9047 109.7 76.5947 109.7H77.1047V110.56H76.5847C75.7647 110.56 75.3947 111.01 75.3947 111.9V115H74.3547V109.7Z" fill="white"/>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_f_499_64" x="245" y="26.9639" width="42.5942" height="42.5679" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_499_64"/>
                            </filter>
                            <filter id="filter1_d_499_64" x="273.875" y="55.875" width="36" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="1"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_499_64"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_499_64" result="shape"/>
                            </filter>
                            <filter id="filter2_f_499_64" x="207" y="98.9639" width="42.5942" height="42.5679" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_499_64"/>
                            </filter>
                            <filter id="filter3_d_499_64" x="235.875" y="127.875" width="67" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="1"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_499_64"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_499_64" result="shape"/>
                            </filter>
                            <filter id="filter4_f_499_64" x="79" y="67.9639" width="42.5942" height="42.5679" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_499_64"/>
                            </filter>
                            <filter id="filter5_d_499_64" x="26" y="99" width="61" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="1"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_499_64"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_499_64" result="shape"/>
                            </filter>
                            <linearGradient id="paint0_linear_499_64" x1="178" y1="0" x2="178" y2="190" gradientUnits="userSpaceOnUse">
                            <stop offset="0.501"/>
                            <stop offset="1" stop-color="#737373" stop-opacity="0"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_499_64" x1="146" y1="48" x2="210" y2="137.5" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#007BFF"/>
                            <stop offset="1" stop-color="#001934"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                        
                    </div> 

                    <!-- Header & Description -->
                    <div class="mt-14 text-center relative z-10 space-y-2">
                        <h2 class="text-xl font-medium text-neutral-50">CNH Figma Kit</h2>
                        <p class="text-sm text-neutral-100">Streamline your design process with our comprehensive Figma kit.</p>
                    </div>

                </div>
                <!-- Grid 5 End -->

            </div>
            <!-- Grids End -->

        </div>
        <!-- Container Start -->

    </div>
</section>