---
//Components
import HeroAnimation from "../components/HeroAnimation.astro";
import PrimaryBtn1 from "../components/PrimaryBtn-1.astro";
import SecondaryBtn1 from "../components/SecondaryBtn-1.astro";
---

<section class="min-h-screen flex items-center overflow-hidden">

    <!-- Background Grid Start -->
    <div class="min-h-screen w-full bg-[linear-gradient(to_right,#007bff10_1px,transparent_1px),linear-gradient(to_bottom,#007bff10_1px,transparent_1px)] bg-[size:80px_100px] [mask-image:radial-gradient(ellipse_80%_90%_at_50%_50%,#000_90%,transparent_100%)] flex items-center">

        <!-- Hero Container Start -->
        <div class="grid grid-cols-12 gap-4 md:gap-10 max-w-screen-xl px-2 sm:px-4 py-8 mx-auto lg:py-16 lg:px-6">

            <!-- Left Column: Header & Buttons -->
            <div class="col-span-12 lg:col-span-5 space-y-4 flex flex-col justify-center">
                
                <!-- Header & Description Container -->
                <div class="space-y-4">
                    <h1 class="text-neutral-900 text-5xl font-extrabold lg:text-6xl">The UI Library for Building <span class="bg-gradient-to-r from-sky-300 to-blue-500 inline-block text-transparent bg-clip-text">Small Business</span> Websites</h1>
                    <p class="text-neutral-500 text-sm md:text-base">40+ Layouts & 30+ Components you need to build fast contractor or small business sites <i class="font-medium">Blazingly Fast.</i> Say goodbye to long development times and hello to efficient, high-quality site delivery!</p>
                </div>
                
                <!-- Button Group Container -->
                <div class="space-y-3 md:space-y-4 gap-3 w-full ">
                    <PrimaryBtn1 href={"/#pricingSection"}>Get Premium</PrimaryBtn1>
                    <SecondaryBtn1 href={"/docs/accordion"}>Browse Components</SecondaryBtn1>
                </div>

            </div>

            <!-- Right Column: Visual SVG -->
            <div class="col-span-12 lg:col-span-7 flex items-center justify-center">
                <div class="w-full">

                    <HeroAnimation />                 

                </div>
            </div>

        </div>
        <!-- Hero Container End -->

    </div>

</section>