---
import Tagline from "../components/Tagline.astro";
import Subheading from "../components/Subheading.astro";
import H3 from "../components/H3.astro";
import Paragraph from "../components/Paragraph.astro";
import { Picture } from "astro:assets";
---

<section id="howweSection" class="bg-zinc-950">
    <div class="gap-8 space-y-12 items-start py-20 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-12 lg:py-28">
        
        <div class="">
            <Tagline>Build Your Online Presence</Tagline>
            <Subheading>Upgrade Your Business in 3 Easy Steps</Subheading>
            <a href="/contact" class="inline-flex items-center justify-center px-6 py-3 text-base text-center text-white rounded-md bg-[#007BFF] hover:bg-[#0070E8]">Contact Us</a>
        </div>

        <!-- Steps Container Starts -->
        <div class=" flex-col justify-start items-start gap-4 inline-flex">

            <!-- Step 1 Container Start -->
            <div class="gap-8 inline-flex">
                <!-- Icon w/ Line Container -->
                <div class="grid grid-col-1 place-items-center">
                    <div class="size-14">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <defs>
                            <style>
                            .cls-1 {
                                stroke: #ededed;
                            }

                            .cls-1, .cls-2 {
                                fill: none;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                            }

                            .cls-2 {
                                stroke: #007bff;
                            }
                            </style>
                        </defs>
                        <path class="cls-2" d="m55.02,52.83l.41.41c2.5,2.5.73,6.77-2.81,6.77H15.91"/>
                        <polyline class="cls-2" points="56.74 30.25 59.02 20.53 65.5 20.53"/>
                        <g>
                            <polygon class="cls-2" points="25.21 67.46 22.48 67.46 20.6 60.01 27.09 60.01 25.21 67.46"/>
                            <path class="cls-2" d="m26.39,62.75c1.25.82,2.07,2.24,2.07,3.84,0,2.56-2.07,4.62-4.62,4.62s-4.62-2.06-4.62-4.62c0-1.6.82-3.02,2.06-3.84"/>
                            <circle class="cls-2" cx="23.85" cy="65.75" r=".13"/>
                        </g>
                        <g>
                            <polygon class="cls-2" points="51.34 67.46 48.61 67.46 46.72 60.01 53.22 60.01 51.34 67.46"/>
                            <path class="cls-2" d="m52.52,62.75c1.25.82,2.07,2.24,2.07,3.84,0,2.56-2.07,4.62-4.62,4.62s-4.62-2.06-4.62-4.62c0-1.6.82-3.02,2.06-3.84"/>
                            <circle class="cls-2" cx="49.97" cy="65.75" r=".13"/>
                        </g>
                        <g>
                            <polygon class="cls-1" points="47.98 15.68 36.12 22.57 24.26 15.68 36.12 8.79 47.98 15.68"/>
                            <line class="cls-1" x1="47.97" y1="26.01" x2="47.97" y2="15.68"/>
                            <line class="cls-1" x1="24.25" y1="26.01" x2="24.25" y2="15.68"/>
                            <line class="cls-1" x1="36.12" y1="26.01" x2="36.12" y2="22.56"/>
                            <polyline class="cls-1" points="42.05 12.24 29.97 19 29.97 21.27"/>
                        </g>
                        <circle class="cls-1" cx="54.02" cy="41.4" r="8.36"/>
                        <line class="cls-2" x1="15.9" y1="29.92" x2="28.97" y2="29.92"/>
                        <line class="cls-2" x1="17.63" y1="35.05" x2="30.69" y2="35.05"/>
                        <line class="cls-2" x1="19.35" y1="40.18" x2="32.41" y2="40.18"/>
                        <line class="cls-2" x1="21.07" y1="45.31" x2="34.13" y2="45.31"/>
                        <polyline class="cls-1" points="49.63 42.23 52.01 44.6 58.41 38.2"/>
                        <polyline class="cls-2" points="57.74 26.01 47.97 26.01 36.12 26.01 24.25 26.01 14.5 26.01 22.28 49.58 45.97 49.58"/>
                        </svg>
                    </div>     
                    <div class="h-28 w-0 origin-top-left border border-neutral-400"></div>      
                </div>

                <!-- Text Container -->
                <div class="flex-col inline-flex">
                    <H3>Step 1: Purchase our Package</H3>
                    <Paragraph>Our web design package is custom tailored to your industry and brand. Make the purchase to discuss all your business and website goals with our design specialists.</Paragraph>
                </div>
            </div>
            <!-- Step 1 Container Ends -->

            <!-- Step 2 Container Starts -->
            <div class="gap-8 inline-flex">
                <!-- Icon w/ Line Container -->
                <div class="grid grid-col-1 place-items-center">
                    <div class="size-14">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <defs>
                            <style>
                            .cls-1 {
                                stroke-dasharray: 0 0 1.01 2.02;
                            }

                            .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
                                fill: none;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                            }

                            .cls-1, .cls-2, .cls-4, .cls-5 {
                                stroke: #ededed;
                            }

                            .cls-3 {
                                stroke: #007bff;
                            }

                            .cls-4 {
                                stroke-dasharray: 0 0 .99 1.97;
                            }

                            .cls-5 {
                                stroke-dasharray: 0 0 1.03 2.05;
                            }
                            </style>
                        </defs>
                        <g>
                            <g>
                            <line class="cls-3" x1="12.08" y1="19.81" x2="8.45" y2="23.45"/>
                            <g>
                                <path class="cls-3" d="m8.45,23.45l12.86,12.86c1,1,2.63,1,3.64,0h0c1-1,1-2.63,0-3.64l-12.86-12.86-4.9-1.26,1.26,4.9Z"/>
                                <line class="cls-3" x1="24.16" y1="31.88" x2="20.52" y2="35.52"/>
                                <line class="cls-3" x1="10.26" y1="21.63" x2="22.27" y2="33.63"/>
                            </g>
                            </g>
                            <g>
                            <polyline class="cls-3" points="11.27 28.61 6.5 33.39 10.87 37.75 15.64 32.98"/>
                            <polyline class="cls-3" points="17.25 22.64 22.02 17.87 26.39 22.23 21.61 27"/>
                            <g>
                                <line class="cls-3" x1="24.87" y1="23.74" x2="23.28" y2="22.16"/>
                                <line class="cls-3" x1="23.08" y1="25.53" x2="22.01" y2="24.45"/>
                                <line class="cls-3" x1="14.17" y1="34.45" x2="12.58" y2="32.86"/>
                                <line class="cls-3" x1="12.38" y1="36.23" x2="11.31" y2="35.16"/>
                            </g>
                            </g>
                        </g>
                        <g>
                            <path class="cls-3" d="m67.45,27.31l1.71,1.71,4.34-4.34-1.71-1.71-4.34,4.34Z"/>
                            <g>
                            <rect class="cls-3" x="53.92" y="27.28" width="4.52" height="11.18" transform="translate(39.7 -30.1) rotate(45)"/>
                            <path class="cls-3" d="m70.99,23.77s-.89-.43-1.44-1.44l-.2-1.8-1.48-1.48c-1.82-1.82-4.56-2.37-6.95-1.39l-2.03.84s5.43-.14,5.53,3.58"/>
                            <path class="cls-3" d="m68.34,26.42s-.65-.97-1.66-1.52l-5.28,5.28-2.54-2.54,5.55-5.55"/>
                            </g>
                        </g>
                        <g>
                            <path class="cls-2" d="m24.87,16.78c.14-.09.28-.18.42-.27"/>
                            <path class="cls-5" d="m27.06,15.48c3.65-1.98,8.16-3.58,12.28-3.58,8.13,0,15.35,3.87,19.94,9.87"/>
                            <path class="cls-2" d="m59.89,22.6c.1.14.19.27.28.41"/>
                        </g>
                        <g>
                            <path class="cls-2" d="m14.29,38.34c0,.17.02.33.03.5"/>
                            <path class="cls-4" d="m14.54,40.79c1.18,7.74,5.91,14.32,12.46,18.02"/>
                            <path class="cls-2" d="m27.87,59.28c.15.08.3.15.45.22"/>
                        </g>
                        <g>
                            <path class="cls-2" d="m63.86,31.72c.04.16.07.33.1.49"/>
                            <path class="cls-1" d="m64.26,34.2c.1.91.15,1.84.15,2.78,0,9.36-5.13,17.53-12.73,21.83"/>
                            <path class="cls-2" d="m50.8,59.29c-.15.08-.3.15-.44.22"/>
                        </g>
                        <g>
                            <g>
                            <polyline class="cls-3" points="44.78 55.23 48 58.39 48 63.35 43.36 59.77"/>
                            <path class="cls-3" d="m39.34,40.35s-9.11,5.58-3.76,20.18h7.51c5.35-14.6-3.76-20.18-3.76-20.18"/>
                            <polyline class="cls-3" points="33.89 55.23 30.68 58.39 30.68 63.35 35.31 59.77"/>
                            <line class="cls-3" x1="44.44" y1="64.01" x2="44.44" y2="65.63"/>
                            <line class="cls-3" x1="41.89" y1="64.38" x2="41.89" y2="66.88"/>
                            <line class="cls-3" x1="34.24" y1="64.01" x2="34.24" y2="65.63"/>
                            <line class="cls-3" x1="36.79" y1="64.38" x2="36.79" y2="66.88"/>
                            <line class="cls-3" x1="39.34" y1="64.67" x2="39.34" y2="68.1"/>
                            </g>
                            <circle class="cls-3" cx="39.34" cy="48.59" r="1.85"/>
                        </g>
                        </svg>
                    </div>     
                    <div class="h-28 w-0 origin-top-left border border-neutral-400"></div>      
                </div>

                <!-- Text Container -->
                <div class="flex-col inline-flex">
                    <H3>Step 2: Watch as we Design, Build and Launch</H3>
                    <Paragraph>Whether you want to get involved or just want to watch us do what we do, this is the part where we custom-build an industry-leading website made to impress both you and your customers.</Paragraph>
                </div>
            </div>
            <!-- Step 2 Container Ends -->
            
            <!-- Step 3 Container Starts -->
            <div class="gap-8 inline-flex">
                <!-- Icon Container -->
                <div class="grid grid-col-1 place-items-center">
                    <div class="size-14">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <defs>
                            <style>
                            .cls-1 {
                                stroke: #ededed;
                            }

                            .cls-1, .cls-2 {
                                fill: none;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                            }

                            .cls-2 {
                                stroke: #007bff;
                            }
                            </style>
                        </defs>
                        <circle class="cls-2" cx="51.76" cy="24.03" r="5.51"/>
                        <path class="cls-2" d="m48.31,19.73l-12.81.57c-1.63.07-2.5,1.95-1.5,3.24l8.42,10.92"/>
                        <polyline class="cls-2" points="46.25 24.03 39.98 24.69 45.44 31.29"/>
                        <path class="cls-2" d="m49.88,51.01l3.13-13.35c.57-2.43-.57-4.93-2.78-6.1h0c-3.11-1.64-6.94.04-7.84,3.44l-3.48,13.13-8.14-2.5c-1.87-.58-3.9.18-4.94,1.84l-8.3,13.29c-1.01,1.61-.25,3.75,1.55,4.36h0c1.3.45,2.74-.06,3.47-1.23l7.71-12.33,11.91,4.32,2.12-.14c2.71-.18,4.99-2.1,5.61-4.75Z"/>
                        <polyline class="cls-2" points="56.01 27.76 60.74 32.8 52.49 33.8"/>
                        <path class="cls-2" d="m57.03,22.43l9.69,10.64c1.54,1.7.42,4.42-1.87,4.53l-11.96.57"/>
                        <path class="cls-2" d="m31.16,52.25v15.82c0,1.59-1.29,2.87-2.87,2.87h0c-1.59,0-2.87-1.29-2.87-2.87v-8.48"/>
                        <path class="cls-2" d="m57.48,38.18l-4.43,20.05c-.33,1.49-1.65,2.55-3.17,2.55h-18.72"/>
                        <path class="cls-2" d="m42.15,55.9c-.75-.1-10.99,0-10.99,0"/>
                        <polyline class="cls-2" points="47.71 70.94 45.8 60.78 50.58 60.78 48.66 70.94"/>
                        <g>
                            <line class="cls-1" x1="30.69" y1="18.12" x2="29.19" y2="18.12"/>
                            <g>
                            <circle class="cls-1" cx="21.62" cy="18.12" r="9.06"/>
                            <circle class="cls-1" cx="21.62" cy="18.12" r=".49"/>
                            <line class="cls-1" x1="21.62" y1="9.06" x2="21.62" y2="10.56"/>
                            <line class="cls-1" x1="15.22" y1="11.71" x2="16.28" y2="12.77"/>
                            <line class="cls-1" x1="12.56" y1="18.12" x2="14.06" y2="18.12"/>
                            <line class="cls-1" x1="15.22" y1="24.53" x2="16.28" y2="23.47"/>
                            <line class="cls-1" x1="21.62" y1="27.18" x2="21.62" y2="25.68"/>
                            <line class="cls-1" x1="28.03" y1="24.53" x2="26.97" y2="23.47"/>
                            <line class="cls-1" x1="28.03" y1="11.71" x2="26.97" y2="12.77"/>
                            <polyline class="cls-1" points="21.62 12.52 21.62 18.12 18.62 19.92"/>
                            </g>
                        </g>
                        </svg>
                    </div>           
                </div>

                <!-- Text Container -->
                <div class="flex-col inline-flex">
                    <H3>Step 3: Sit Back, Relax, and Get Ready for More Leads</H3>
                    <Paragraph>What it’s all about. With an attractive and functional contractor website now in place, you can expect all the benefits of a strong online presence, namely more leads and projects.</Paragraph>
                </div>
            </div>
            <!-- Step 3 Container Ends -->

        </div>
        <!-- Steps Container Ends -->

    </div>
</section>