---
import Tagline from "../components/Tagline.astro";
import Subheading from "../components/Subheading.astro";
import H3 from "../components/H3.astro";
import Paragraph from "../components/Paragraph.astro";
import { Picture } from "astro:assets";
---

<section id="howweSection" class="bg-zinc-950">
    <div class="gap-8 space-y-12 items-start py-20 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-12 lg:py-28">
        
        <div class="">
            <Tagline>How It Works</Tagline>
            <Subheading>Upgrade Your Business in 3 Easy Steps</Subheading>
            <a href="/#pricingSection" class="inline-flex items-center justify-center px-6 py-3 text-base text-center text-white rounded-md bg-[#007BFF] hover:bg-[#0070E8]">Upgrade my site</a>
        </div>

        <!-- Steps Container Starts -->
        <div class=" flex-col justify-start items-start gap-4 inline-flex">

            <!-- Step 1 Container Start -->
            <div class="gap-8 inline-flex">
                <!-- Icon w/ Line Container -->
                <div class="grid grid-col-1">
                    <div class="flex justify-center items-center size-20">
                        <svg class="" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M55.0202 52.8301L55.4302 53.2401C57.9302 55.7401 56.1602 60.0101 52.6202 60.0101H15.9102" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M56.7402 30.25L59.0202 20.53H65.5002" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.3902 62.75C27.6402 63.57 28.4602 64.99 28.4602 66.59C28.4602 69.15 26.3902 71.21 23.8402 71.21C21.2902 71.21 19.2202 69.15 19.2202 66.59C19.2202 64.99 20.0402 63.57 21.2802 62.75M25.2102 67.46H22.4802L20.6002 60.01H27.0902L25.2102 67.46ZM23.9802 65.75C23.9802 65.8218 23.922 65.88 23.8502 65.88C23.7784 65.88 23.7202 65.8218 23.7202 65.75C23.7202 65.6782 23.7784 65.62 23.8502 65.62C23.922 65.62 23.9802 65.6782 23.9802 65.75Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.5201 62.75C53.7701 63.57 54.5901 64.99 54.5901 66.59C54.5901 69.15 52.5201 71.21 49.9701 71.21C47.4201 71.21 45.3501 69.15 45.3501 66.59C45.3501 64.99 46.1701 63.57 47.4101 62.75M51.3401 67.46H48.6101L46.7201 60.01H53.2201L51.3401 67.46ZM50.1001 65.75C50.1001 65.8218 50.0419 65.88 49.9701 65.88C49.8983 65.88 49.8401 65.8218 49.8401 65.75C49.8401 65.6782 49.8983 65.62 49.9701 65.62C50.0419 65.62 50.1001 65.6782 50.1001 65.75Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M47.97 26.01V15.68M24.25 26.01V15.68M36.12 26.01V22.56M42.05 12.24L29.97 19V21.27M47.98 15.68L36.12 22.57L24.26 15.68L36.12 8.79004L47.98 15.68Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M54.0202 49.76C58.6373 49.76 62.3802 46.0171 62.3802 41.4C62.3802 36.7829 58.6373 33.04 54.0202 33.04C49.4031 33.04 45.6602 36.7829 45.6602 41.4C45.6602 46.0171 49.4031 49.76 54.0202 49.76Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.8999 29.9199H28.9699" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.6299 35.05H30.6899" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.3501 40.1799H32.4101" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.0698 45.3101H34.1298" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M49.6299 42.2299L52.0099 44.5999L58.4099 38.2" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M57.74 26.01H47.97H36.12H24.25H14.5L22.28 49.58H45.97" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>       
                    </div>     
                    <div class="h-28 w-0 origin-top-left border border-neutral-400 flex justify-self-center"></div>      
                </div>

                <!-- Text Container -->
                <div class="flex-col inline-flex">
                    <H3>Step 1: Purchase our Package</H3>
                    <Paragraph>Our web design package is custom tailored to your industry and brand. Make the purchase to discuss all your business and website goals with our design specialists.</Paragraph>
                </div>
            </div>
            <!-- Step 1 Container Ends -->

            <!-- Step 2 Container Starts -->
            <div class="gap-8 inline-flex">
                <!-- Icon w/ Line Container -->
                <div class="grid grid-col-1">
                    <div class="flex justify-center items-center size-20">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.08 19.8099L8.45 23.4499M8.45 23.4499L21.3101 36.3098C22.3101 37.3098 23.9401 37.3098 24.9501 36.3098C25.9501 35.3098 25.9501 33.6798 24.9501 32.6698L12.0901 19.8098L7.19006 18.5498L8.45 23.4499ZM24.1601 31.8798L20.5201 35.5198M10.2601 21.6298L22.2701 33.6298M11.27 28.6099L6.5 33.3899L10.87 37.7499L15.64 32.9799M17.25 22.6399L22.02 17.8699L26.39 22.2299L21.61 26.9999M24.87 23.7398L23.28 22.1598M23.08 25.5298L22.01 24.4498M14.17 34.4498L12.58 32.8598M12.38 36.2298L11.31 35.1598" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M70.99 23.7699C70.99 23.7699 70.1 23.3399 69.55 22.3299L69.35 20.5299L67.87 19.0499C66.05 17.2299 63.31 16.6799 60.92 17.6599L58.89 18.4999C58.89 18.4999 64.32 18.3599 64.42 22.0799M68.34 26.4199C68.34 26.4199 67.69 25.4499 66.68 24.8999L61.4 30.1799L58.86 27.6399L64.41 22.0899M67.4499 27.31L69.1599 29.02L73.4999 24.68L71.7899 22.97L67.4499 27.31ZM58.5373 27.3169L61.7334 30.5131L53.828 38.4185L50.6318 35.2224L58.5373 27.3169Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.8701 16.7799C25.0101 16.6899 25.1501 16.5999 25.2901 16.5099L27.0601 15.4799C30.7101 13.4999 35.2201 11.8999 39.3401 11.8999C47.4701 11.8999 54.6901 15.7699 59.2801 21.7699L59.8901 22.5999C59.9901 22.7399 60.0801 22.8699 60.1701 23.0099" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.29 38.3401C14.29 38.5101 14.31 38.6701 14.32 38.8401L14.54 40.7901C15.72 48.5301 20.45 55.1101 27 58.8101L27.87 59.2801C28.02 59.3601 28.17 59.4301 28.32 59.5001" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M63.8599 31.72C63.8999 31.88 63.9299 32.05 63.9599 32.21L64.2599 34.2C64.3599 35.11 64.4099 36.04 64.4099 36.98C64.4099 46.34 59.2799 54.51 51.6799 58.81L50.7999 59.29C50.6499 59.37 50.4999 59.44 50.3599 59.51" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M44.7797 55.2299L47.9997 58.3899V63.3499L43.3597 59.7699M39.3397 40.3499C39.3397 40.3499 30.2297 45.9299 35.5797 60.5299H43.0897C48.4397 45.9299 39.3297 40.3499 39.3297 40.3499M33.8897 55.2299L30.6797 58.3899V63.3499L35.3097 59.7699M44.4397 64.0099V65.6299M41.8897 64.3799V66.8799M34.2397 64.0099V65.6299M36.7897 64.3799V66.8799M39.3397 64.6699V68.0999M41.1899 48.59C41.1899 49.6117 40.3616 50.44 39.3399 50.44C38.3181 50.44 37.4899 49.6117 37.4899 48.59C37.4899 47.5682 38.3181 46.74 39.3399 46.74C40.3616 46.74 41.1899 47.5682 41.1899 48.59Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>     
                    </div>     
                    <div class="h-28 w-0 origin-top-left border border-neutral-400 flex justify-self-center"></div>      
                </div>

                <!-- Text Container -->
                <div class="flex-col inline-flex">
                    <H3>Step 2: Watch as we Design, Build and Launch</H3>
                    <Paragraph>Whether you want to get involved or just want to watch us do what we do, this is the part where we custom-build an industry-leading website made to impress both you and your customers.</Paragraph>
                </div>
            </div>
            <!-- Step 2 Container Ends -->
            
            <!-- Step 3 Container Starts -->
            <div class="gap-8 inline-flex">
                <!-- Icon Container -->
                <div class="grid grid-col-1 content-start">
                    <div class="flex justify-center items-center size-20">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M51.76 29.54C54.8031 29.54 57.27 27.0731 57.27 24.03C57.27 20.9869 54.8031 18.52 51.76 18.52C48.7169 18.52 46.25 20.9869 46.25 24.03C46.25 27.0731 48.7169 29.54 51.76 29.54Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M48.31 19.73L35.5 20.3C33.87 20.37 33 22.25 34 23.54L42.42 34.46" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M46.25 24.03L39.98 24.69L45.44 31.29" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M49.88 51.0099L53.01 37.6599C53.58 35.2299 52.44 32.7299 50.23 31.5599C47.12 29.9199 43.29 31.5999 42.39 34.9999L38.91 48.1299L30.77 45.6299C28.9 45.0499 26.87 45.8099 25.83 47.4699L17.53 60.7599C16.52 62.3699 17.28 64.5099 19.08 65.1199C20.38 65.5699 21.82 65.0599 22.55 63.8899L30.26 51.5599L42.17 55.8799L44.29 55.7399C47 55.5599 49.28 53.6399 49.9 50.9899L49.88 51.0099Z" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M56.0102 27.76L60.7402 32.8L52.4902 33.8" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M57.0301 22.4299L66.7201 33.0699C68.2601 34.7699 67.1401 37.4899 64.8501 37.5999L52.8901 38.1699" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.1599 52.25V68.07C31.1599 69.66 29.8699 70.94 28.2899 70.94C26.6999 70.94 25.4199 69.65 25.4199 68.07V59.59" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M57.4802 38.1799L53.0502 58.2299C52.7202 59.7199 51.4002 60.7799 49.8802 60.7799H31.1602" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M42.1502 55.8999C41.4002 55.7999 31.1602 55.8999 31.1602 55.8999" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M47.7098 70.94L45.7998 60.78H50.5798L48.6598 70.94" stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30.6901 18.1201H29.1901M21.6201 27.1801C26.6238 27.1801 30.6801 23.1238 30.6801 18.1201C30.6801 13.1164 26.6238 9.06006 21.6201 9.06006M21.6201 27.1801C16.6164 27.1801 12.5601 23.1238 12.5601 18.1201M21.6201 27.1801V25.6801M12.5601 18.1201C12.5601 13.1164 16.6164 9.06006 21.6201 9.06006M12.5601 18.1201H14.0601M21.6201 9.06006V10.5601M15.2201 11.7101L16.2801 12.7701M15.2201 24.5301L16.2801 23.4701M28.0301 24.5301L26.9701 23.4701M28.0301 11.7101L26.9701 12.7701M21.6201 12.5201V18.1201L18.6201 19.9201M22.1101 18.1201C22.1101 18.3907 21.8907 18.6101 21.6201 18.6101C21.3494 18.6101 21.1301 18.3907 21.1301 18.1201C21.1301 17.8494 21.3494 17.6301 21.6201 17.6301C21.8907 17.6301 22.1101 17.8494 22.1101 18.1201Z" stroke="#EDEDED" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                    </div>           
                </div>

                <!-- Text Container -->
                <div class="flex-col inline-flex">
                    <H3>Step 3: Sit Back, Relax, and Get Ready for More Leads</H3>
                    <Paragraph>What it’s all about. With an attractive and functional contractor website now in place, you can expect all the benefits of a strong online presence, namely more leads and projects.</Paragraph>
                </div>
            </div>
            <!-- Step 3 Container Ends -->

        </div>
        <!-- Steps Container Ends -->

    </div>
</section>