---
//Components
import PrimaryBtn1 from "../components/PrimaryBtn-1.astro";
import SecondaryBtn1 from "../components/SecondaryBtn-1.astro";
---

<section id="pricingSection">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-28 lg:px-6">

        <!-- Tagline & Header Container -->
        <div class="max-w-screen-md space-y-2 mb-8">
            <span class="text-sm font-medium text-blue-500">Simple, Transparent Pricing</span>
            <h2 class="text-neutral-900 text-4xl font-bold">Get CodeNHammer at an Exclusive Price!</h2>
        </div>

        <!-- Pricing Card Container Start-->
        <div class="mb-4 lg:mb-8 space-y-10 lg:grid lg:grid-cols-2 md:gap-12 xl:gap-16 lg:space-y-0">
            
            <!-- Pricing Card 1 Start-->
            <div class="flex flex-col max-w-lg text-neutral-900">
                <h3 class="font-semibold text-neutral-500 uppercase">Starter</h3>
                <div class="flex items-baseline my-4">
                    <span class="mr-2 text-5xl font-bold text-neutral-900">$0</span>
                </div>
                <p class="text-neutral-500 sm:text-lg">Free Forever</p>
                <!-- List -->
                <ul role="list" class="my-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-4 text-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16m3.78-9.72a.75.75 0 0 0-.018-1.042a.75.75 0 0 0-1.042-.018L6.75 9.19L5.28 7.72a.75.75 0 0 0-1.042.018a.75.75 0 0 0-.018 1.042l2 2a.75.75 0 0 0 1.06 0Z"/></svg>
                        <span>Free Components</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-4 text-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16m3.78-9.72a.75.75 0 0 0-.018-1.042a.75.75 0 0 0-1.042-.018L6.75 9.19L5.28 7.72a.75.75 0 0 0-1.042.018a.75.75 0 0 0-.018 1.042l2 2a.75.75 0 0 0 1.06 0Z"/></svg>
                        <span>Access to component updates</span>
                    </li>
                </ul>
                <SecondaryBtn1 href="/docs/accordion">Browse Components</SecondaryBtn1>
            </div>
            <!-- Pricing Card 1 End-->

            <!-- Pricing Card 2 Start-->
            <div class="flex flex-col max-w-lg text-neutral-900">
                <h3 class="font-semibold text-neutral-500 uppercase">Premium</h3>
                <div class="flex items-baseline my-4">
                    <span class="mr-2 text-5xl font-bold text-neutral-900">$49</span>
                    <span class="text-gray-500 dark:text-gray-400">/one-time payment</span>
                </div>
                <p class="text-neutral-500 sm:text-lg">All Access</p>
                <!-- List -->
                <ul role="list" class="my-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-4 text-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16m3.78-9.72a.75.75 0 0 0-.018-1.042a.75.75 0 0 0-1.042-.018L6.75 9.19L5.28 7.72a.75.75 0 0 0-1.042.018a.75.75 0 0 0-.018 1.042l2 2a.75.75 0 0 0 1.06 0Z"/></svg>
                        <span>All Components, Layouts, and Templates</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-4 text-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16m3.78-9.72a.75.75 0 0 0-.018-1.042a.75.75 0 0 0-1.042-.018L6.75 9.19L5.28 7.72a.75.75 0 0 0-1.042.018a.75.75 0 0 0-.018 1.042l2 2a.75.75 0 0 0 1.06 0Z"/></svg>
                        <span>Access to Figma CNH Design File</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-4 text-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16m3.78-9.72a.75.75 0 0 0-.018-1.042a.75.75 0 0 0-1.042-.018L6.75 9.19L5.28 7.72a.75.75 0 0 0-1.042.018a.75.75 0 0 0-.018 1.042l2 2a.75.75 0 0 0 1.06 0Z"/></svg>
                        <span>All updates, including new layouts, templates, and Figma file</span>
                    </li>
                </ul>
                <PrimaryBtn1>Buy Premium</PrimaryBtn1>
            </div>
            <!-- Pricing Card 2 End-->

        </div>
        <!-- Pricing Card Container End-->
    </div>
</section>