---
//Components
import PrimaryBtn1 from "../components/PrimaryBtn-1.astro";
import SecondaryBtn1 from "../components/SecondaryBtn-1.astro";
---

<section id="pricingSection" class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-28 lg:px-6">

        <!-- Tagline & Header Container -->
        <div class="max-w-screen-md text-center mx-auto space-y-2 mb-8">
            <span class="text-sm font-medium text-blue-500">Simple, Transparent Pricing</span>
            <h2 class="text-neutral-900 text-4xl font-bold">Launch Offer: Get CodeNHammer at an Exclusive Price!</h2>
        </div>

        <!-- Pricing Card Container Start-->
        <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 lg:space-y-0">
            
            <!-- Pricing Card 1 -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-neutral-900 bg-white rounded-md border border-neutral-200 xl:p-8">
                <h3 class="mb-4 text-2xl font-semibold">Starter Tier</h3>
                <p class="font-light text-neutral-500 sm:text-lg">Free Forever</p>
                
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-bold">$0</span>
                </div>

                <hr class="mb-8">

                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Free Components</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Access to Component updates</span>
                    </li>
                </ul>
                <SecondaryBtn1 href="/docs/accordion">Browse Docs</SecondaryBtn1>
            </div>

            <!-- Pricing Card 2 -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-neutral-900 bg-white rounded-md border border-neutral-200 xl:p-8">
                <h3 class="mb-4 text-2xl font-semibold">Premium Tier</h3>
                <p class="font-light text-neutral-500 sm:text-lg">One-Time Payment</p>
                
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-bold">$49</span>
                </div>

                <hr class="mb-8">

                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>All access to Components, Layouts & Templates</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 size-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>All updates, including new premium Layouts and Templates</span>
                    </li>
                </ul>
                <PrimaryBtn1 href="#">Buy Now</PrimaryBtn1>
            </div>

        </div>
        <!-- Pricing Card Container End-->
    </div>
</section>