---
import Tagline from "../components/Tagline.astro";
import Subheading from "../components/Subheading.astro";
import Paragraph from "../components/Paragraph.astro";
---

<section id="pricingSection" class="bg-zinc-950">
    <div class="py-20 px-4 mx-auto max-w-screen-xl lg:py-28 lg:px-12">
       
        <Tagline>Pricing</Tagline>
        <Subheading>Get a Winning Website</Subheading>

         <!-- Pricing Card -->
        <div class="grid grid-cols-1 border-2 border-[#007BFF] rounded-lg shadow md:grid-cols-2 lg:grid-cols-3">

            <!-- Left Container Start -->
            <div class="col-span-1 p-3 m-3 lg:col-span-2">
                <h2 class="mb-1 text-2xl font-semibold text-zinc-200">Business Package</h2>
                <Paragraph>Up to 5 page website for starting/established contracting business</Paragraph>

                <div class="grid gap-4 mt-4 sm:grid-cols-2 md:grid-cols-1 lg:mt-6 lg:grid-cols-2">

                    <!-- Left List -->
                    <ul role="list" class="space-y-4 ">
                        <li class="flex space-x-2.5">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
                            <span class="leading-tight text-gray-400">Hosting Management</span>
                        </li>
                        <li class="flex space-x-2.5">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
                            <span class="leading-tight text-gray-400">Unlimited Content Editing</span>
                        </li>
                        <li class="flex space-x-2.5">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
                            <span class="leading-tight text-gray-400">Performance Optimization</span>
                        </li>
                    </ul>

                    <!-- Right List -->
                    <ul role="list" class="space-y-4">
                        <li class="flex space-x-2.5">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
                            <span class="leading-tight text-gray-400">Technical Support</span>
                        </li>
                        <li class="flex space-x-2.5">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
                            <span class="leading-tight text-gray-400">Lifetime Updates</span>
                        </li>
                        <li class="flex space-x-2.5">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="m9 12l2 2l4-4"/></g></svg>
                            <span class="leading-tight text-gray-400">On-page SEO</span>
                        </li>
                    </ul>

                </div>
                <!-- List Container Ends -->

            </div>
            <!-- Left Container Ends -->

            <!-- Right Container Starts -->
            <div class="p-3 m-3 text-center md:border-l md:border-zinc-800 md:grid md:text-right">
                <div class="self-center">
                    <h2 class="mb-4 text-4xl font-semibold text-zinc-200 lg:text-5xl">$300/mo</h2>
                    <a href="/contact" class="flex justify-center text-white bg-[#007BFF] hover:bg-[#0070E8] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Get started today</a>   
                </div>
            </div>
            <!-- Right Container Ends -->

        </div>
    </div>
</section>