---
import { Image } from "astro:assets";
import cecImage from "../assets/CEC Cover.jpg";
import mcmImage from "../assets/MCM Cover.jpg";

import Card from "../components/Card.astro";
---

<!-- Projects Section Starts -->
<section id="portfolioSection" class="bg-zinc-950">
    <div class="max-w-screen-xl px-4 py-20 mx-auto lg:px-12 lg:py-28 sm:py-16">

        <!-- Project Header Start -->
        <div class="text-center">
            <h5 class="text-sm text-teal-100 mb-2">Portfolio</h5>
            <h2 class="mb-8 text-4xl font-sans text-zinc-200 tracking-tight font-bold lg:text-5xl">Our Recent Projects</h2>
        </div>
        <!-- Project Header End -->

          <!-- Project Wrapper Start -->
          <div class="grid grid-cols-1 gap-12 sm:gap-8 sm:grid-cols md:grid-cols-2 lg:grid-cols-2 lg:gap-16">

            <!-- Project 1 -->
            <Card 
            header='Concrete Experts Company' 
            paragraph='Discover how we transformed Concrete Experts Companys online presence, from overhauling outdated design to implementing SEO strategies, enhancing visibility and client experience.'
            href='https://concreteexpertscompany.com/'>
            
                <Image slot="card-image" class="p-2 object-cover w-full" src={cecImage} alt="CEC home page"></Image>

            </Card>

            <!-- Project 2 -->
            <Card
            header='MCM Custom Builders'
            paragraph='Explore our transformative collaboration with MCM Custom Builders, crafting a standout web design that reflects their values and boosts their online visibility.'
            href='https://www.mcmcustom.com/'>

                <Image slot="card-image"  class="p-2 object-cover w-full" src={mcmImage} alt="MCM home page"></Image>
        
            </Card>

        </div>
        <!-- Project Wrapper End -->

    </div>
</section>
<!-- Projects Section Ends -->