---

---

<section class="bg-blue-500/5">

    <!-- Background Grid Start -->
    <div class="bg-[linear-gradient(to_right,#007bff25_1px,transparent_1px),linear-gradient(to_bottom,#007bff25_1px,transparent_1px)] bg-[size:80px_100px] [mask-image:radial-gradient(ellipse_55%_90%_at_50%_50%,#000_90%,transparent_100%)]">

        <!-- Sign In Container Start -->
        <div class="flex flex-col items-center justify-center py-8 px-4 mx-auto max-w-screen-md lg:py-16">
            <div class="w-full p-6 bg-white border border-blue-600/50 rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">

                <!-- Header -->
                <h2 class="mb-1 text-xl font-semibold text-gray-900 md:text-2xl">Change Password</h2>
    
                <!-- Form Start -->
                <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-neutral-900">Your email</label>
                        <input type="email" name="email" id="email" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-neutral-900">New Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required="">
                    </div>
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm font-medium text-neutral-900">Confirm password</label>
                        <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md shadow-sm border-neutral-200/70 placeholder:text-neutral-400" required="">
                    </div>
                    <button type="submit" class="w-full text-white bg-[#007BFF] border-2 border-[#007BFF] font-medium rounded-lg text-sm px-4 py-2 text-center hover:bg-[#005EC3] hover:border-[#005EC3]">Reset passwod</button>
                </form>
                <!-- Form End -->
    
            </div>
    
        </div>

    </div>
    <!-- Background Grid End -->

</section>